.kb-row-layout-id10_9eb4af-dc>.kt-row-column-wrap {
  column-gap: 5em;
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 8%;
  padding-bottom: 5%;
  grid-template-columns: minmax(0, calc(50% - ((5em * 1)/2)))minmax(0, calc(50% - ((5em * 1)/2)))
}

.kb-row-layout-id10_9eb4af-dc {
  background-color: #ffffff
}

@media all and (max-width:1024px) {
  .kb-row-layout-id10_9eb4af-dc>.kt-row-column-wrap {
    max-width: 75%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 20%;
    grid-template-columns: minmax(0, 1fr)
  }
}

@media all and (max-width:767px) {
  .kb-row-layout-id10_9eb4af-dc>.kt-row-column-wrap {
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
    grid-template-columns: minmax(0, 1fr)
  }
}

.kadence-column10_998457-9c>.kt-inside-inner-col {
  display: flex
}

.kadence-column10_998457-9c>.kt-inside-inner-col {
  column-gap: var(--global-kb-gap-sm, 1rem)
}

.kadence-column10_998457-9c>.kt-inside-inner-col>.aligncenter {
  width: 100%
}

@media all and (max-width:1024px) {

}

@media all and (max-width:1024px) {

}

@media all and (max-width:1024px) {

}

@media all and (max-width:1024px) {

}

@media all and (max-width:767px) {
  .kt-row-column-wrap>.kadence-column10_998457-9c {
    align-self: center
  }

  .kt-inner-column-height-full:not(.kt-has-1-columns)>.wp-block-kadence-column.kadence-column10_998457-9c {
    align-self: auto
  }

  .kt-inner-column-height-full:not(.kt-has-1-columns)>.wp-block-kadence-column.kadence-column10_998457-9c>.kt-inside-inner-col {
    flex-direction: column;
    justify-content: center
  }

  .kadence-column10_998457-9c>.kt-inside-inner-col {
    flex-direction: column;
    justify-content: center
  }
}

.wp-block-kadence-image.kb-image10_d92e45-1d:not(.kb-specificity-added):not(.kb-extra-specificity-added) {
  margin-top: -15%
}

.kb-image10_d92e45-1d .kb-image-has-overlay:after {
  opacity: 0.3
}

@media all and (max-width:767px) {
  .wp-block-kadence-image.kb-image10_d92e45-1d:not(.kb-specificity-added):not(.kb-extra-specificity-added) {
    margin-top: -30%
  }
}

.kadence-column10_ebaa4c-81>.kt-inside-inner-col {
  display: flex
}

.kadence-column10_ebaa4c-81>.kt-inside-inner-col {
  padding-top: 0em;
  padding-right: 0em;
  padding-bottom: 0em;
  padding-left: 0em
}

.kadence-column10_ebaa4c-81>.kt-inside-inner-col {
  column-gap: var(--global-kb-gap-sm, 1rem)
}

.kadence-column10_ebaa4c-81>.kt-inside-inner-col>.aligncenter {
  width: 100%
}

@media all and (max-width:1024px) {

}

@media all and (max-width:1024px) {

}

@media all and (max-width:1024px) {

}

@media all and (max-width:1024px) {

}

@media all and (max-width:767px) {
  .kt-row-column-wrap>.kadence-column10_ebaa4c-81 {
    align-self: center
  }

  .kt-inner-column-height-full:not(.kt-has-1-columns)>.wp-block-kadence-column.kadence-column10_ebaa4c-81 {
    align-self: auto
  }

  .kt-inner-column-height-full:not(.kt-has-1-columns)>.wp-block-kadence-column.kadence-column10_ebaa4c-81>.kt-inside-inner-col {
    flex-direction: column;
    justify-content: center
  }

  .kadence-column10_ebaa4c-81>.kt-inside-inner-col {
    flex-direction: column;
    justify-content: center
  }
}

.wp-block-kadence-advancedheading.kt-adv-heading10_aa07b0-70,
.wp-block-kadence-advancedheading.kt-adv-heading10_aa07b0-70[data-kb-block="kb-adv-heading10_aa07b0-70"] {
  text-align: center;
  font-size: var(--global-kb-font-size-lg, 2rem)
}

.wp-block-kadence-advancedheading.kt-adv-heading10_aa07b0-70 mark.kt-highlight,
.wp-block-kadence-advancedheading.kt-adv-heading10_aa07b0-70[data-kb-block="kb-adv-heading10_aa07b0-70"] mark.kt-highlight {
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone
}

@media all and (max-width:1024px) {

}

@media all and (max-width:767px) {

  .wp-block-kadence-advancedheading.kt-adv-heading10_aa07b0-70,
  .wp-block-kadence-advancedheading.kt-adv-heading10_aa07b0-70[data-kb-block="kb-adv-heading10_aa07b0-70"] {
    font-size: var(--global-kb-font-size-lg, 2rem)
  }
}

.wp-block-kadence-advancedheading.kt-adv-heading10_21697a-c2,
.wp-block-kadence-advancedheading.kt-adv-heading10_21697a-c2[data-kb-block="kb-adv-heading10_21697a-c2"] {
  padding-top: 0px;
  text-align: center;
  font-size: var(--global-kb-font-size-sm, 0.9rem)
}

.wp-block-kadence-advancedheading.kt-adv-heading10_21697a-c2 mark.kt-highlight,
.wp-block-kadence-advancedheading.kt-adv-heading10_21697a-c2[data-kb-block="kb-adv-heading10_21697a-c2"] mark.kt-highlight {
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone
}

.wp-block-kadence-advancedbtn.kb-btns10_017567-55 {
  padding-top: var(--global-kb-spacing-md, 2rem)
}

ul.menu .wp-block-kadence-advancedbtn .kb-btn10_d98c4e-01.kb-button {
  width: initial
}

.wp-block-kadence-advancedbtn .kb-btn10_d98c4e-01.kb-button {
  font-size: var(--global-kb-font-size-sm, 0.9rem)
}

.wp-block-kadence-spacer.kt-block-spacer-10_88680d-77 .kt-block-spacer {
  height: 70px
}

.wp-block-kadence-spacer.kt-block-spacer-10_88680d-77 .kt-divider {
  width: 80%
}

.kb-row-layout-id10_9cad84-07>.kt-row-column-wrap {
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 5%;
  grid-template-columns: minmax(0, 1fr)
}

@media all and (max-width:1024px) {
  .kb-row-layout-id10_9cad84-07>.kt-row-column-wrap {
    max-width: 75%;
    margin-left: auto;
    margin-right: auto
  }
}

@media all and (max-width:767px) {
  .kb-row-layout-id10_9cad84-07>.kt-row-column-wrap {
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding-top: var(--global-kb-spacing-lg, 3rem);
    grid-template-columns: minmax(0, 1fr)
  }
}

.kadence-column10_1c7323-2d>.kt-inside-inner-col {
  display: flex
}

.kadence-column10_1c7323-2d>.kt-inside-inner-col {
  padding-top: 0px
}

.kadence-column10_1c7323-2d>.kt-inside-inner-col {
  column-gap: var(--global-kb-gap-sm, 1rem)
}

.kadence-column10_1c7323-2d>.kt-inside-inner-col>.aligncenter {
  width: 100%
}

@media all and (max-width:1024px) {

}

@media all and (max-width:1024px) {

}

@media all and (max-width:1024px) {

}

@media all and (max-width:1024px) {
  .kadence-column10_1c7323-2d>.kt-inside-inner-col {
    flex-direction: column;
    justify-content: flex-start
  }
}

@media all and (max-width:767px) {
  .kt-row-column-wrap>.kadence-column10_1c7323-2d {
    align-self: flex-start
  }

  .kt-inner-column-height-full:not(.kt-has-1-columns)>.wp-block-kadence-column.kadence-column10_1c7323-2d {
    align-self: auto
  }

  .kt-inner-column-height-full:not(.kt-has-1-columns)>.wp-block-kadence-column.kadence-column10_1c7323-2d>.kt-inside-inner-col {
    flex-direction: column;
    justify-content: flex-start
  }

  .kadence-column10_1c7323-2d>.kt-inside-inner-col {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center
  }
}

.wp-block-kadence-advancedheading.kt-adv-heading10_aaee75-08,
.wp-block-kadence-advancedheading.kt-adv-heading10_aaee75-08[data-kb-block="kb-adv-heading10_aaee75-08"] {
  padding-bottom: 5%;
  text-align: left;
  font-size: var(--global-kb-font-size-xxl, 4rem);
  text-transform: uppercase;
  letter-spacing: 4px
}

.wp-block-kadence-advancedheading.kt-adv-heading10_aaee75-08 mark.kt-highlight,
.wp-block-kadence-advancedheading.kt-adv-heading10_aaee75-08[data-kb-block="kb-adv-heading10_aaee75-08"] mark.kt-highlight {
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone
}

.kt-tabs-id10_39cfa1-31>.kt-tabs-content-wrap>.wp-block-kadence-tab {
  border-top: 0px solid rgba(215, 216, 205, 0);
  border-right: 0px solid rgba(215, 216, 205, 0);
  border-bottom: 0px solid rgba(215, 216, 205, 0);
  border-left: 0px solid rgba(215, 216, 205, 0);
  padding-top: var(--global-kb-spacing-sm, 1.5rem);
  padding-right: 0px;
  padding-bottom: var(--global-kb-spacing-xxl, 5rem);
  padding-left: 0px;
  min-height: 400px;
  background: var(--global-palette9, #ffffff)
}

.wp-block-kadence-tabs .kt-tabs-id10_39cfa1-31>.kt-tabs-title-list li {
  margin-top: 0px;
  margin-right: -4px;
  margin-bottom: 25px;
  margin-left: 0px
}

.wp-block-kadence-tabs .kt-tabs-id10_39cfa1-31>.kt-tabs-title-list li .kt-tab-title,
.wp-block-kadence-tabs .kt-tabs-id10_39cfa1-31>.kt-tabs-content-wrap>.kt-tabs-accordion-title .kt-tab-title {
  line-height: 4em;
  letter-spacing: 2px;
  font-family: var(--global-heading-font-family, inherit);
  font-weight: inherit;
  text-transform: uppercase;
  border-top-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
  border-left-width: 0px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  padding-top: 5px;
  padding-right: 8px;
  padding-bottom: 5px;
  padding-left: 20px;
  color: var(--global-palette1, #3182CE)
}

.wp-block-kadence-tabs .kt-tabs-id10_39cfa1-31>.kt-tabs-content-wrap>.kt-tabs-accordion-title .kt-tab-title {
  margin-top: 0px;
  margin-right: -4px;
  margin-bottom: 25px;
  margin-left: 0px
}

.wp-block-kadence-tabs .kt-tabs-id10_39cfa1-31>.kt-tabs-title-list li .kt-tab-title:hover,
.wp-block-kadence-tabs .kt-tabs-id10_39cfa1-31>.kt-tabs-content-wrap>.kt-tabs-accordion-title .kt-tab-title:hover {
  color: var(--global-palette5, #444444);
  background: var(--global-palette8, #F7FAFC)
}

.wp-block-kadence-tabs .kt-tabs-id10_39cfa1-31>.kt-tabs-title-list li.kt-tab-title-active .kt-tab-title,
.wp-block-kadence-tabs .kt-tabs-id10_39cfa1-31>.kt-tabs-content-wrap>.kt-tabs-accordion-title.kt-tab-title-active .kt-tab-title {
  border-color: rgba(222, 226, 230, 0);
  color: var(--global-palette9, #ffffff);
  background: var(--global-palette2, #2B6CB0)
}

@media all and (min-width:1025px) {
  .wp-block-kadence-tabs .kt-tabs-id10_39cfa1-31 {
    display: flex
  }

  .wp-block-kadence-tabs .kt-tabs-id10_39cfa1-31>.kt-tabs-title-list {
    float: none;
    width: 25%
  }

  .wp-block-kadence-tabs .kt-tabs-id10_39cfa1-31>.kt-tabs-content-wrap {
    float: none;
    width: auto;
    -webkit-flex: 1;
    flex: 1
  }
}

@media all and (max-width:1024px) {

}

@media all and (max-width:767px) {
  .kt-tabs-id10_39cfa1-31>.kt-tabs-content-wrap>.wp-block-kadence-tab {
    border-top: 0px solid rgba(215, 216, 205, 0);
    border-right: 0px solid rgba(215, 216, 205, 0);
    border-bottom: 0px solid rgba(215, 216, 205, 0);
    border-left: 0px solid rgba(215, 216, 205, 0)
  }
}

.kb-row-layout-id10_e7cdd1-4d>.kt-row-column-wrap {
  align-content: center
}

:where(.kb-row-layout-id10_e7cdd1-4d>.kt-row-column-wrap)>.wp-block-kadence-column {
  justify-content: center
}

.kb-row-layout-id10_e7cdd1-4d>.kt-row-column-wrap {
  column-gap: var(--global-kb-gap-lg, 4rem);
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 0px;
  padding-bottom: 0px;
  grid-template-columns: repeat(2, minmax(0, 1fr))
}

@media all and (max-width:1024px) {
  .kb-row-layout-id10_e7cdd1-4d>.kt-row-column-wrap {
    grid-template-columns: repeat(2, minmax(0, 1fr))
  }
}

@media all and (max-width:767px) {
  .kb-row-layout-id10_e7cdd1-4d>.kt-row-column-wrap {
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
    grid-template-columns: minmax(0, 1fr)
  }
}

.kadence-column10_d722b2-5a>.kt-inside-inner-col {
  display: flex
}

.kadence-column10_d722b2-5a>.kt-inside-inner-col {
  padding-top: 0%;
  padding-right: 0%;
  padding-bottom: 0%;
  padding-left: 10%
}

.kadence-column10_d722b2-5a>.kt-inside-inner-col {
  border-top: 0px solid var(--global-palette1, #3182CE);
  border-right: 0px solid var(--global-palette1, #3182CE);
  border-bottom: 0px solid var(--global-palette1, #3182CE);
  border-left: 0px solid var(--global-palette1, #3182CE)
}

.kadence-column10_d722b2-5a>.kt-inside-inner-col {
  column-gap: var(--global-kb-gap-sm, 1rem)
}

.kadence-column10_d722b2-5a>.kt-inside-inner-col {
  flex-direction: column;
  justify-content: center
}

.kadence-column10_d722b2-5a>.kt-inside-inner-col>.aligncenter {
  width: 100%
}

@media all and (max-width:1024px) {

}

@media all and (max-width:1024px) {

}

@media all and (max-width:1024px) {

}

@media all and (max-width:1024px) {

}

@media all and (max-width:767px) {
  .kadence-column10_d722b2-5a>.kt-inside-inner-col {
    border-top: 0px solid var(--global-palette1, #3182CE);
    border-right: 0px solid var(--global-palette1, #3182CE);
    border-bottom: 0px solid var(--global-palette1, #3182CE);
    border-left: 0px solid var(--global-palette1, #3182CE);
    flex-direction: column;
    justify-content: center
  }

  .kt-row-column-wrap>.kadence-column10_d722b2-5a {
    align-self: center
  }

  .kt-inner-column-height-full:not(.kt-has-1-columns)>.wp-block-kadence-column.kadence-column10_d722b2-5a {
    align-self: auto
  }

  .kt-inner-column-height-full:not(.kt-has-1-columns)>.wp-block-kadence-column.kadence-column10_d722b2-5a>.kt-inside-inner-col {
    flex-direction: column;
    justify-content: center
  }
}

.kb-image10_00c144-c9 .kb-image-has-overlay:after {
  opacity: 0.3
}

.kadence-column10_2ba6b2-30>.kt-inside-inner-col {
  column-gap: var(--global-kb-gap-sm, 1rem)
}

.kadence-column10_2ba6b2-30>.kt-inside-inner-col {
  flex-direction: column
}

.kadence-column10_2ba6b2-30>.kt-inside-inner-col>.aligncenter {
  width: 100%
}

@media all and (max-width:1024px) {

}

@media all and (max-width:767px) {
  .kadence-column10_2ba6b2-30>.kt-inside-inner-col {
    flex-direction: column;
    justify-content: center
  }
}

.wp-block-kadence-advancedheading.kt-adv-heading10_b0f641-e8,
.wp-block-kadence-advancedheading.kt-adv-heading10_b0f641-e8[data-kb-block="kb-adv-heading10_b0f641-e8"] {
  font-size: var(--global-kb-font-size-md, 1.25rem);
  line-height: 2;
  font-family: var(--global-heading-font-family, inherit);
  text-transform: capitalize;
  letter-spacing: 2px
}

.wp-block-kadence-advancedheading.kt-adv-heading10_b0f641-e8 mark.kt-highlight,
.wp-block-kadence-advancedheading.kt-adv-heading10_b0f641-e8[data-kb-block="kb-adv-heading10_b0f641-e8"] mark.kt-highlight {
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone
}

.wp-block-kadence-advancedheading.kt-adv-heading10_5ae514-25,
.wp-block-kadence-advancedheading.kt-adv-heading10_5ae514-25[data-kb-block="kb-adv-heading10_5ae514-25"] {
  font-size: 0.8vw
}

.wp-block-kadence-advancedheading.kt-adv-heading10_5ae514-25 mark.kt-highlight,
.wp-block-kadence-advancedheading.kt-adv-heading10_5ae514-25[data-kb-block="kb-adv-heading10_5ae514-25"] mark.kt-highlight {
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone
}

.kb-row-layout-id10_e8ae92-46>.kt-row-column-wrap {
  align-content: center
}

:where(.kb-row-layout-id10_e8ae92-46>.kt-row-column-wrap)>.wp-block-kadence-column {
  justify-content: center
}

.kb-row-layout-id10_e8ae92-46>.kt-row-column-wrap {
  column-gap: var(--global-kb-gap-lg, 4rem);
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 0px;
  padding-bottom: 0px;
  grid-template-columns: repeat(2, minmax(0, 1fr))
}

@media all and (max-width:1024px) {
  .kb-row-layout-id10_e8ae92-46>.kt-row-column-wrap {
    grid-template-columns: repeat(2, minmax(0, 1fr))
  }
}

@media all and (max-width:767px) {
  .kb-row-layout-id10_e8ae92-46>.kt-row-column-wrap {
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
    grid-template-columns: minmax(0, 1fr)
  }
}

.kadence-column10_dec22d-c1>.kt-inside-inner-col {
  display: flex
}

.kadence-column10_dec22d-c1>.kt-inside-inner-col {
  padding-top: 0%;
  padding-right: 0%;
  padding-bottom: 0%;
  padding-left: 10%
}

.kadence-column10_dec22d-c1>.kt-inside-inner-col {
  border-top: 0px solid var(--global-palette1, #3182CE);
  border-right: 0px solid var(--global-palette1, #3182CE);
  border-bottom: 0px solid var(--global-palette1, #3182CE);
  border-left: 0px solid var(--global-palette1, #3182CE)
}

.kadence-column10_dec22d-c1>.kt-inside-inner-col {
  column-gap: var(--global-kb-gap-sm, 1rem)
}

.kadence-column10_dec22d-c1>.kt-inside-inner-col {
  flex-direction: column;
  justify-content: center
}

.kadence-column10_dec22d-c1>.kt-inside-inner-col>.aligncenter {
  width: 100%
}

@media all and (max-width:1024px) {

}

@media all and (max-width:1024px) {

}

@media all and (max-width:1024px) {

}

@media all and (max-width:1024px) {

}

@media all and (max-width:767px) {
  .kadence-column10_dec22d-c1>.kt-inside-inner-col {
    border-top: 0px solid var(--global-palette1, #3182CE);
    border-right: 0px solid var(--global-palette1, #3182CE);
    border-bottom: 0px solid var(--global-palette1, #3182CE);
    border-left: 0px solid var(--global-palette1, #3182CE);
    flex-direction: column;
    justify-content: center
  }

  .kt-row-column-wrap>.kadence-column10_dec22d-c1 {
    align-self: center
  }

  .kt-inner-column-height-full:not(.kt-has-1-columns)>.wp-block-kadence-column.kadence-column10_dec22d-c1 {
    align-self: auto
  }

  .kt-inner-column-height-full:not(.kt-has-1-columns)>.wp-block-kadence-column.kadence-column10_dec22d-c1>.kt-inside-inner-col {
    flex-direction: column;
    justify-content: center
  }
}

.kb-image10_32325e-90 .kb-image-has-overlay:after {
  opacity: 0.3
}

.kadence-column10_8cd5f0-f1>.kt-inside-inner-col {
  column-gap: var(--global-kb-gap-sm, 1rem)
}

.kadence-column10_8cd5f0-f1>.kt-inside-inner-col {
  flex-direction: column
}

.kadence-column10_8cd5f0-f1>.kt-inside-inner-col>.aligncenter {
  width: 100%
}

@media all and (max-width:1024px) {

}

@media all and (max-width:767px) {
  .kadence-column10_8cd5f0-f1>.kt-inside-inner-col {
    flex-direction: column;
    justify-content: center
  }
}

.wp-block-kadence-advancedheading.kt-adv-heading10_455b8d-04,
.wp-block-kadence-advancedheading.kt-adv-heading10_455b8d-04[data-kb-block="kb-adv-heading10_455b8d-04"] {
  font-size: var(--global-kb-font-size-md, 1.25rem);
  line-height: 2;
  font-family: var(--global-heading-font-family, inherit);
  text-transform: uppercase;
  letter-spacing: 2px
}

.wp-block-kadence-advancedheading.kt-adv-heading10_455b8d-04 mark.kt-highlight,
.wp-block-kadence-advancedheading.kt-adv-heading10_455b8d-04[data-kb-block="kb-adv-heading10_455b8d-04"] mark.kt-highlight {
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone
}

.wp-block-kadence-advancedheading.kt-adv-heading10_edc213-c5,
.wp-block-kadence-advancedheading.kt-adv-heading10_edc213-c5[data-kb-block="kb-adv-heading10_edc213-c5"] {
  font-size: 0.8vw
}

.wp-block-kadence-advancedheading.kt-adv-heading10_edc213-c5 mark.kt-highlight,
.wp-block-kadence-advancedheading.kt-adv-heading10_edc213-c5[data-kb-block="kb-adv-heading10_edc213-c5"] mark.kt-highlight {
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone
}

.kb-row-layout-id10_9c2a0e-0a>.kt-row-column-wrap {
  align-content: center
}

:where(.kb-row-layout-id10_9c2a0e-0a>.kt-row-column-wrap)>.wp-block-kadence-column {
  justify-content: center
}

.kb-row-layout-id10_9c2a0e-0a>.kt-row-column-wrap {
  column-gap: var(--global-kb-gap-lg, 4rem);
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 0px;
  padding-bottom: 0px;
  grid-template-columns: repeat(2, minmax(0, 1fr))
}

@media all and (max-width:1024px) {
  .kb-row-layout-id10_9c2a0e-0a>.kt-row-column-wrap {
    grid-template-columns: repeat(2, minmax(0, 1fr))
  }
}

@media all and (max-width:767px) {
  .kb-row-layout-id10_9c2a0e-0a>.kt-row-column-wrap {
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
    grid-template-columns: minmax(0, 1fr)
  }
}

.kadence-column10_748366-82>.kt-inside-inner-col {
  display: flex
}

.kadence-column10_748366-82>.kt-inside-inner-col {
  padding-top: 0%;
  padding-right: 0%;
  padding-bottom: 0%;
  padding-left: 10%
}

.kadence-column10_748366-82>.kt-inside-inner-col {
  border-top: 0px solid var(--global-palette1, #3182CE);
  border-right: 0px solid var(--global-palette1, #3182CE);
  border-bottom: 0px solid var(--global-palette1, #3182CE);
  border-left: 0px solid var(--global-palette1, #3182CE)
}

.kadence-column10_748366-82>.kt-inside-inner-col {
  column-gap: var(--global-kb-gap-sm, 1rem)
}

.kadence-column10_748366-82>.kt-inside-inner-col {
  flex-direction: column;
  justify-content: center
}

.kadence-column10_748366-82>.kt-inside-inner-col>.aligncenter {
  width: 100%
}

@media all and (max-width:1024px) {

}

@media all and (max-width:1024px) {

}

@media all and (max-width:1024px) {

}

@media all and (max-width:1024px) {

}

@media all and (max-width:767px) {
  .kadence-column10_748366-82>.kt-inside-inner-col {
    border-top: 0px solid var(--global-palette1, #3182CE);
    border-right: 0px solid var(--global-palette1, #3182CE);
    border-bottom: 0px solid var(--global-palette1, #3182CE);
    border-left: 0px solid var(--global-palette1, #3182CE);
    flex-direction: column;
    justify-content: center
  }

  .kt-row-column-wrap>.kadence-column10_748366-82 {
    align-self: center
  }

  .kt-inner-column-height-full:not(.kt-has-1-columns)>.wp-block-kadence-column.kadence-column10_748366-82 {
    align-self: auto
  }

  .kt-inner-column-height-full:not(.kt-has-1-columns)>.wp-block-kadence-column.kadence-column10_748366-82>.kt-inside-inner-col {
    flex-direction: column;
    justify-content: center
  }
}

.kb-image10_9996ad-84 .kb-image-has-overlay:after {
  opacity: 0.3
}

.kadence-column10_269e43-f2>.kt-inside-inner-col {
  column-gap: var(--global-kb-gap-sm, 1rem)
}

.kadence-column10_269e43-f2>.kt-inside-inner-col {
  flex-direction: column
}

.kadence-column10_269e43-f2>.kt-inside-inner-col>.aligncenter {
  width: 100%
}

@media all and (max-width:1024px) {

}

@media all and (max-width:767px) {
  .kadence-column10_269e43-f2>.kt-inside-inner-col {
    flex-direction: column;
    justify-content: center
  }
}

.wp-block-kadence-advancedheading.kt-adv-heading10_2a820e-47,
.wp-block-kadence-advancedheading.kt-adv-heading10_2a820e-47[data-kb-block="kb-adv-heading10_2a820e-47"] {
  font-size: var(--global-kb-font-size-md, 1.25rem);
  line-height: 2;
  font-family: var(--global-heading-font-family, inherit);
  text-transform: uppercase;
  letter-spacing: 2px
}

.wp-block-kadence-advancedheading.kt-adv-heading10_2a820e-47 mark.kt-highlight,
.wp-block-kadence-advancedheading.kt-adv-heading10_2a820e-47[data-kb-block="kb-adv-heading10_2a820e-47"] mark.kt-highlight {
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone
}

.wp-block-kadence-advancedheading.kt-adv-heading10_93c418-3e,
.wp-block-kadence-advancedheading.kt-adv-heading10_93c418-3e[data-kb-block="kb-adv-heading10_93c418-3e"] {
  font-size: 0.8vw
}

.wp-block-kadence-advancedheading.kt-adv-heading10_93c418-3e mark.kt-highlight,
.wp-block-kadence-advancedheading.kt-adv-heading10_93c418-3e[data-kb-block="kb-adv-heading10_93c418-3e"] mark.kt-highlight {
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone
}

.kb-row-layout-id10_544adc-bb>.kt-row-column-wrap {
  align-content: center
}

:where(.kb-row-layout-id10_544adc-bb>.kt-row-column-wrap)>.wp-block-kadence-column {
  justify-content: center
}

.kb-row-layout-id10_544adc-bb>.kt-row-column-wrap {
  column-gap: var(--global-kb-gap-lg, 4rem);
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 0px;
  padding-bottom: 0px;
  grid-template-columns: repeat(2, minmax(0, 1fr))
}

@media all and (max-width:1024px) {
  .kb-row-layout-id10_544adc-bb>.kt-row-column-wrap {
    grid-template-columns: repeat(2, minmax(0, 1fr))
  }
}

@media all and (max-width:767px) {
  .kb-row-layout-id10_544adc-bb>.kt-row-column-wrap {
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
    grid-template-columns: minmax(0, 1fr)
  }
}

.kadence-column10_306d44-3c>.kt-inside-inner-col {
  display: flex
}

.kadence-column10_306d44-3c>.kt-inside-inner-col {
  padding-top: 0%;
  padding-right: 0%;
  padding-bottom: 0%;
  padding-left: 10%
}

.kadence-column10_306d44-3c>.kt-inside-inner-col {
  border-top: 0px solid var(--global-palette1, #3182CE);
  border-right: 0px solid var(--global-palette1, #3182CE);
  border-bottom: 0px solid var(--global-palette1, #3182CE);
  border-left: 0px solid var(--global-palette1, #3182CE)
}

.kadence-column10_306d44-3c>.kt-inside-inner-col {
  column-gap: var(--global-kb-gap-sm, 1rem)
}

.kadence-column10_306d44-3c>.kt-inside-inner-col {
  flex-direction: column;
  justify-content: center
}

.kadence-column10_306d44-3c>.kt-inside-inner-col>.aligncenter {
  width: 100%
}

@media all and (max-width:1024px) {

}

@media all and (max-width:1024px) {

}

@media all and (max-width:1024px) {

}

@media all and (max-width:1024px) {

}

@media all and (max-width:767px) {
  .kadence-column10_306d44-3c>.kt-inside-inner-col {
    border-top: 0px solid var(--global-palette1, #3182CE);
    border-right: 0px solid var(--global-palette1, #3182CE);
    border-bottom: 0px solid var(--global-palette1, #3182CE);
    border-left: 0px solid var(--global-palette1, #3182CE);
    flex-direction: column;
    justify-content: center
  }

  .kt-row-column-wrap>.kadence-column10_306d44-3c {
    align-self: center
  }

  .kt-inner-column-height-full:not(.kt-has-1-columns)>.wp-block-kadence-column.kadence-column10_306d44-3c {
    align-self: auto
  }

  .kt-inner-column-height-full:not(.kt-has-1-columns)>.wp-block-kadence-column.kadence-column10_306d44-3c>.kt-inside-inner-col {
    flex-direction: column;
    justify-content: center
  }
}

.kb-image10_97557a-f2 .kb-image-has-overlay:after {
  opacity: 0.3
}

.kb-image10_97557a-f2 img.kb-img,
.kb-image10_97557a-f2 .kb-img img {
  object-position: 65% 55.00000000000001%
}

.kadence-column10_e9bec2-9b>.kt-inside-inner-col {
  column-gap: var(--global-kb-gap-sm, 1rem)
}

.kadence-column10_e9bec2-9b>.kt-inside-inner-col {
  flex-direction: column
}

.kadence-column10_e9bec2-9b>.kt-inside-inner-col>.aligncenter {
  width: 100%
}

@media all and (max-width:1024px) {

}

@media all and (max-width:767px) {
  .kadence-column10_e9bec2-9b>.kt-inside-inner-col {
    flex-direction: column;
    justify-content: center
  }
}

.wp-block-kadence-advancedheading.kt-adv-heading10_6722d8-03,
.wp-block-kadence-advancedheading.kt-adv-heading10_6722d8-03[data-kb-block="kb-adv-heading10_6722d8-03"] {
  font-size: var(--global-kb-font-size-md, 1.25rem);
  line-height: 2;
  font-family: var(--global-heading-font-family, inherit);
  text-transform: uppercase;
  letter-spacing: 2px
}

.wp-block-kadence-advancedheading.kt-adv-heading10_6722d8-03 mark.kt-highlight,
.wp-block-kadence-advancedheading.kt-adv-heading10_6722d8-03[data-kb-block="kb-adv-heading10_6722d8-03"] mark.kt-highlight {
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone
}

.wp-block-kadence-advancedheading.kt-adv-heading10_4e0aa4-ee,
.wp-block-kadence-advancedheading.kt-adv-heading10_4e0aa4-ee[data-kb-block="kb-adv-heading10_4e0aa4-ee"] {
  font-size: 0.8vw
}

.wp-block-kadence-advancedheading.kt-adv-heading10_4e0aa4-ee mark.kt-highlight,
.wp-block-kadence-advancedheading.kt-adv-heading10_4e0aa4-ee[data-kb-block="kb-adv-heading10_4e0aa4-ee"] mark.kt-highlight {
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone
}

.wp-block-kadence-advancedheading.kt-adv-heading10_d8b761-39,
.wp-block-kadence-advancedheading.kt-adv-heading10_d8b761-39[data-kb-block="kb-adv-heading10_d8b761-39"] {
  font-size: 0.8vw;
  line-height: 2
}

.wp-block-kadence-advancedheading.kt-adv-heading10_d8b761-39 mark.kt-highlight,
.wp-block-kadence-advancedheading.kt-adv-heading10_d8b761-39[data-kb-block="kb-adv-heading10_d8b761-39"] mark.kt-highlight {
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone
}

.kb-row-layout-id10_d50f78-fd>.kt-row-column-wrap {
  align-content: center
}

:where(.kb-row-layout-id10_d50f78-fd>.kt-row-column-wrap)>.wp-block-kadence-column {
  justify-content: center
}

.kb-row-layout-id10_d50f78-fd>.kt-row-column-wrap {
  column-gap: var(--global-kb-gap-lg, 4rem);
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 0px;
  padding-bottom: 0px;
  grid-template-columns: repeat(2, minmax(0, 1fr))
}

@media all and (max-width:1024px) {
  .kb-row-layout-id10_d50f78-fd>.kt-row-column-wrap {
    grid-template-columns: repeat(2, minmax(0, 1fr))
  }
}

@media all and (max-width:767px) {
  .kb-row-layout-id10_d50f78-fd>.kt-row-column-wrap {
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
    grid-template-columns: minmax(0, 1fr)
  }
}

.kadence-column10_336f16-9b>.kt-inside-inner-col {
  display: flex
}

.kadence-column10_336f16-9b>.kt-inside-inner-col {
  padding-top: 0%;
  padding-right: 0%;
  padding-bottom: 0%;
  padding-left: 10%
}

.kadence-column10_336f16-9b>.kt-inside-inner-col {
  border-top: 0px solid var(--global-palette1, #3182CE);
  border-right: 0px solid var(--global-palette1, #3182CE);
  border-bottom: 0px solid var(--global-palette1, #3182CE);
  border-left: 0px solid var(--global-palette1, #3182CE)
}

.kadence-column10_336f16-9b>.kt-inside-inner-col {
  column-gap: var(--global-kb-gap-sm, 1rem)
}

.kadence-column10_336f16-9b>.kt-inside-inner-col {
  flex-direction: column;
  justify-content: center
}

.kadence-column10_336f16-9b>.kt-inside-inner-col>.aligncenter {
  width: 100%
}

@media all and (max-width:1024px) {

}

@media all and (max-width:1024px) {

}

@media all and (max-width:1024px) {

}

@media all and (max-width:1024px) {

}

@media all and (max-width:767px) {
  .kadence-column10_336f16-9b>.kt-inside-inner-col {
    border-top: 0px solid var(--global-palette1, #3182CE);
    border-right: 0px solid var(--global-palette1, #3182CE);
    border-bottom: 0px solid var(--global-palette1, #3182CE);
    border-left: 0px solid var(--global-palette1, #3182CE);
    flex-direction: column;
    justify-content: center
  }

  .kt-row-column-wrap>.kadence-column10_336f16-9b {
    align-self: center
  }

  .kt-inner-column-height-full:not(.kt-has-1-columns)>.wp-block-kadence-column.kadence-column10_336f16-9b {
    align-self: auto
  }

  .kt-inner-column-height-full:not(.kt-has-1-columns)>.wp-block-kadence-column.kadence-column10_336f16-9b>.kt-inside-inner-col {
    flex-direction: column;
    justify-content: center
  }
}

.kb-image10_79c815-85 .kb-image-has-overlay:after {
  opacity: 0.3
}

.kadence-column10_ded75b-14>.kt-inside-inner-col {
  column-gap: var(--global-kb-gap-sm, 1rem)
}

.kadence-column10_ded75b-14>.kt-inside-inner-col {
  flex-direction: column
}

.kadence-column10_ded75b-14>.kt-inside-inner-col>.aligncenter {
  width: 100%
}

@media all and (max-width:1024px) {

}

@media all and (max-width:767px) {
  .kadence-column10_ded75b-14>.kt-inside-inner-col {
    flex-direction: column;
    justify-content: center
  }
}

.wp-block-kadence-advancedheading.kt-adv-heading10_a11e2b-d7,
.wp-block-kadence-advancedheading.kt-adv-heading10_a11e2b-d7[data-kb-block="kb-adv-heading10_a11e2b-d7"] {
  font-size: var(--global-kb-font-size-md, 1.25rem);
  line-height: 2;
  font-family: var(--global-heading-font-family, inherit);
  text-transform: uppercase;
  letter-spacing: 2px
}

.wp-block-kadence-advancedheading.kt-adv-heading10_a11e2b-d7 mark.kt-highlight,
.wp-block-kadence-advancedheading.kt-adv-heading10_a11e2b-d7[data-kb-block="kb-adv-heading10_a11e2b-d7"] mark.kt-highlight {
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone
}

.wp-block-kadence-advancedheading.kt-adv-heading10_1f6d84-a9,
.wp-block-kadence-advancedheading.kt-adv-heading10_1f6d84-a9[data-kb-block="kb-adv-heading10_1f6d84-a9"] {
  font-size: 0.8vw
}

.wp-block-kadence-advancedheading.kt-adv-heading10_1f6d84-a9 mark.kt-highlight,
.wp-block-kadence-advancedheading.kt-adv-heading10_1f6d84-a9[data-kb-block="kb-adv-heading10_1f6d84-a9"] mark.kt-highlight {
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone
}

.kb-row-layout-id10_a912c1-26>.kt-row-column-wrap {
  align-content: center
}

:where(.kb-row-layout-id10_a912c1-26>.kt-row-column-wrap)>.wp-block-kadence-column {
  justify-content: center
}

.kb-row-layout-id10_a912c1-26>.kt-row-column-wrap {
  column-gap: var(--global-kb-gap-lg, 4rem);
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 0px;
  padding-bottom: 0px;
  grid-template-columns: repeat(2, minmax(0, 1fr))
}

@media all and (max-width:1024px) {
  .kb-row-layout-id10_a912c1-26>.kt-row-column-wrap {
    grid-template-columns: repeat(2, minmax(0, 1fr))
  }
}

@media all and (max-width:767px) {
  .kb-row-layout-id10_a912c1-26>.kt-row-column-wrap {
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
    grid-template-columns: minmax(0, 1fr)
  }
}

.kadence-column10_de92eb-cb>.kt-inside-inner-col {
  display: flex
}

.kadence-column10_de92eb-cb>.kt-inside-inner-col {
  padding-top: 0%;
  padding-right: 0%;
  padding-bottom: 0%;
  padding-left: 10%
}

.kadence-column10_de92eb-cb>.kt-inside-inner-col {
  border-top: 0px solid var(--global-palette1, #3182CE);
  border-right: 0px solid var(--global-palette1, #3182CE);
  border-bottom: 0px solid var(--global-palette1, #3182CE);
  border-left: 0px solid var(--global-palette1, #3182CE)
}

.kadence-column10_de92eb-cb>.kt-inside-inner-col {
  column-gap: var(--global-kb-gap-sm, 1rem)
}

.kadence-column10_de92eb-cb>.kt-inside-inner-col {
  flex-direction: column;
  justify-content: center
}

.kadence-column10_de92eb-cb>.kt-inside-inner-col>.aligncenter {
  width: 100%
}

@media all and (max-width:1024px) {

}

@media all and (max-width:1024px) {

}

@media all and (max-width:1024px) {

}

@media all and (max-width:1024px) {

}

@media all and (max-width:767px) {
  .kadence-column10_de92eb-cb>.kt-inside-inner-col {
    border-top: 0px solid var(--global-palette1, #3182CE);
    border-right: 0px solid var(--global-palette1, #3182CE);
    border-bottom: 0px solid var(--global-palette1, #3182CE);
    border-left: 0px solid var(--global-palette1, #3182CE);
    flex-direction: column;
    justify-content: center
  }

  .kt-row-column-wrap>.kadence-column10_de92eb-cb {
    align-self: center
  }

  .kt-inner-column-height-full:not(.kt-has-1-columns)>.wp-block-kadence-column.kadence-column10_de92eb-cb {
    align-self: auto
  }

  .kt-inner-column-height-full:not(.kt-has-1-columns)>.wp-block-kadence-column.kadence-column10_de92eb-cb>.kt-inside-inner-col {
    flex-direction: column;
    justify-content: center
  }
}

.kb-image10_eae057-47 .kb-image-has-overlay:after {
  opacity: 0.3
}

.kadence-column10_d1ea15-68>.kt-inside-inner-col {
  column-gap: var(--global-kb-gap-sm, 1rem)
}

.kadence-column10_d1ea15-68>.kt-inside-inner-col {
  flex-direction: column
}

.kadence-column10_d1ea15-68>.kt-inside-inner-col>.aligncenter {
  width: 100%
}

@media all and (max-width:1024px) {

}

@media all and (max-width:767px) {
  .kadence-column10_d1ea15-68>.kt-inside-inner-col {
    flex-direction: column;
    justify-content: center
  }
}

.wp-block-kadence-advancedheading.kt-adv-heading10_c4be9e-27,
.wp-block-kadence-advancedheading.kt-adv-heading10_c4be9e-27[data-kb-block="kb-adv-heading10_c4be9e-27"] {
  font-size: var(--global-kb-font-size-md, 1.25rem);
  line-height: 2;
  font-family: var(--global-heading-font-family, inherit);
  text-transform: uppercase;
  letter-spacing: 2px
}

.wp-block-kadence-advancedheading.kt-adv-heading10_c4be9e-27 mark.kt-highlight,
.wp-block-kadence-advancedheading.kt-adv-heading10_c4be9e-27[data-kb-block="kb-adv-heading10_c4be9e-27"] mark.kt-highlight {
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone
}

.wp-block-kadence-advancedheading.kt-adv-heading10_703b3e-9b,
.wp-block-kadence-advancedheading.kt-adv-heading10_703b3e-9b[data-kb-block="kb-adv-heading10_703b3e-9b"] {
  font-size: 0.8vw
}

.wp-block-kadence-advancedheading.kt-adv-heading10_703b3e-9b mark.kt-highlight,
.wp-block-kadence-advancedheading.kt-adv-heading10_703b3e-9b[data-kb-block="kb-adv-heading10_703b3e-9b"] mark.kt-highlight {
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone
}

.wp-block-kadence-advancedheading.kt-adv-heading10_f97c9c-5e,
.wp-block-kadence-advancedheading.kt-adv-heading10_f97c9c-5e[data-kb-block="kb-adv-heading10_f97c9c-5e"] {
  text-align: center;
  font-size: var(--global-kb-font-size-sm, 0.9rem);
  line-height: 2;
  font-weight: 400;
  font-family: Baskervville
}

.wp-block-kadence-advancedheading.kt-adv-heading10_f97c9c-5e mark.kt-highlight,
.wp-block-kadence-advancedheading.kt-adv-heading10_f97c9c-5e[data-kb-block="kb-adv-heading10_f97c9c-5e"] mark.kt-highlight {
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone
}
