.glightbox-container {
  z-index: 999999 !important;
}

.glightbox-container .gslider {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

.glightbox-container .ginner-container.desc-left,
.glightbox-container .ginner-container.desc-right,
.gslide-video.fullscreen {
  max-width: 100% !important;
}

.gslide iframe,
.gslide video {
  outline: 0 !important;
}

.gslide-image img.dragging,
.gslide-inline .dragging {
  cursor: -webkit-grabbing !important;
  cursor: grabbing !important;
}

.gslide-video {
  width: 100% !important;
}

.gslide-video.fullscreen video {
  max-width: 100% !important;
  width: 100% !important;
}

.ginlined-content,
.sbi_lightbox.sbi_lb-comments-enabled .sbi_lb-commentBox,
.sbi_lightbox.sbi_lb-comments-enabled .sbi_lb-comment {
  display: block !important;
}

.zoomed .gslide-media {
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

.glightbox-mobile .glightbox-container .gslide-description {
  height: auto !important;
  max-width: 100vw !important;
  -webkit-box-ordinal-group: 3 !important;
  -ms-flex-order: 2 !important;
  order: 2 !important;
  overflow: auto !important;
}

.glightbox-desc,
#sb_instagram #sbi_images .sbi_item.sbi_num_diff_hide,
body.logged-in .vs-logged-in-false,
body:not(.logged-in) .vs-logged-out-false,
.kb-blocks-bg-video-container .kb-blocks-bg-video::-webkit-media-controls {
  display: none !important;
}

.glightbox-closing .gclose,
.glightbox-closing .gnext,
.glightbox-closing .gprev,
#sb_instagram .sbi_hidden {
  opacity: 0 !important;
}

#sb_instagram #sbi_images .sbi_item,
.wp-site-blocks .nav--toggle-sub .sub-menu .dropdown-nav-special-toggle,
.kb-blocks-slider[data-slider-type=thumbnail]:not(.kt-blocks-carousel-init).splide:not(.is-overflow) .splide__slide:last-child {
  margin: 0 !important;
}

#sb_instagram img {
  padding: 0 !important;
  margin: 0 !important;
  max-width: 100% !important;
  opacity: 1 !important;
}

#sb_instagram .sbi_type_carousel .sbi_playbtn,
#sb_instagram .sbi_type_carousel .svg-inline--fa.fa-play,
#sb_instagram .sbi_type_video .sbi_playbtn,
#sb_instagram .sbi_type_video .svg-inline--fa.fa-play,
.sbi_type_carousel .fa-clone {
  display: block !important;
  font-style: normal !important;
}

.sbi-screenreader {
  text-indent: -9999px !important;
  display: block !important;
  width: 0 !important;
  height: 0 !important;
  line-height: 0 !important;
  text-align: left !important;
  overflow: hidden !important;
}

.sb_instagram_header.sbi_header_outside {
  margin-left: auto !important;
  margin-right: auto !important;
}

#sb_instagram .sb_instagram_header .sbi_header_text img.emoji,
.sb_instagram_header .sbi_header_text img.emoji {
  margin-right: 3px !important;
}

#sbi_mod_error br {
  display: initial !important;
}

#sbi_mod_error p {
  padding: 5px 0 !important;
  margin: 0 !important;
  line-height: 1.3 !important;
}

#sbi_mod_error ol,
#sbi_mod_error ul {
  padding: 5px 0 5px 20px !important;
  margin: 0 !important;
}

#sbi_mod_error li {
  padding: 1px 0 !important;
  margin: 0 !important;
}

#sb_instagram #sbi_images .sbi_js_load_disabled .sbi_imgLiquid_ready.sbi_photo,
#sb_instagram #sbi_images .sbi_no_js_customizer .sbi_imgLiquid_ready.sbi_photo {
  padding-bottom: 0 !important;
}

.sbi_lightbox.sbi_lb-comments-enabled .sbi_lb-dataContainer {
  width: 300px !important;
}

.sbi-feed-block-cta,
.sbi-feed-block-cta-img-ctn {
  width: 100% !important;
  position: relative !important;
}

.sbi_lightbox .sbi_owl-item:nth-child(n+2) .sbi_video {
  position: relative !important;
}

.sbi-feed-block-cta {
  border: 1px solid #e8e8eb !important;
  border-radius: 2px !important;
  text-align: center !important;
}

.sbi-feed-block-cta-img-ctn {
  float: left !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  margin-top: 50px !important;
  margin-bottom: 35px !important;
}

.sbi-feed-block-cta-img {
  width: 65px !important;
  height: 65px !important;
  position: relative !important;
  border: 2px solid #dcdde1 !important;
  border-radius: 16px !important;
  -webkit-transform: rotate(-3deg) !important;
  transform: rotate(-3deg) !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

.sbi-feed-block-cta-img span svg {
  float: left !important;
}

.sbi-feed-block-cta-img>* {
  -webkit-transform: rotate(3deg) !important;
  transform: rotate(3deg) !important;
}

.sbi-feed-block-cta-logo {
  position: absolute !important;
  right: -15px !important;
  bottom: -19px !important;
  z-index: 1 !important;
}

.sbi-feed-block-cta-heading {
  font-size: 19px !important;
  padding: 0 !important;
  margin: 0 0 30px !important;
  display: inline-block !important;
  width: 100% !important;
  font-weight: 700 !important;
  line-height: 1.4em !important;
}

.sbi-feed-block-cta-btn {
  background: #0068a0 !important;
  border-radius: 2px !important;
  padding: 8px 20px 8px 38px !important;
  cursor: pointer !important;
  color: #fff !important;
  position: relative !important;
  margin-bottom: 30px !important;
}

.sbi-feed-block-cta-btn:after,
.sbi-feed-block-cta-btn:before {
  content: '' !important;
  position: absolute !important;
  width: 2px !important;
  height: 12px !important;
  background: #fff !important;
  left: 20px !important;
  top: 14px !important;
}

.sbi-feed-block-cta-btn:after {
  -webkit-transform: rotate(90deg) !important;
  transform: rotate(90deg) !important;
}

.sbi-feed-block-cta-desc {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  padding: 20px !important;
  background: #f9f9fa !important;
  border-top: 1px solid #e8e8eb !important;
  margin-top: 35px !important;
  flex-direction: column !important;
}

.sbi-feed-block-cta-desc strong {
  color: #141b38 !important;
  font-size: 16px !important;
  font-weight: 600 !important;
  margin-bottom: 8px !important;
}

.sbi-feed-block-cta-desc span {
  color: #434960 !important;
  font-size: 14px !important;
  line-height: 1.5em !important;
  padding: 0 20% !important;
}

.sbi-feed-block-cta-desc span a,
.sbi-feed-block-cta-selector span a {
  text-transform: capitalize !important;
  text-decoration: underline !important;
  font-weight: 600 !important;
}

.sbi-feed-block-cta-selector {
  width: 100% !important;
  padding: 0 20% !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  flex-direction: column !important;
  margin-bottom: 45px !important;
}

.sbi-feed-block-cta-feedselector {
  border: 1px solid #d0d1d7 !important;
  padding: 8px 16px !important;
  margin-bottom: 15px !important;
  max-width: 100% !important;
  min-width: 400px !important;
}

.sbi-feed-block-cta-selector span {
  color: #2c324c !important;
}

.sbi-feed-block-cta-selector span a:after {
  color: #2c324c !important;
  margin-left: 2px !important;
  font-weight: 400 !important;
  text-decoration-color: #fff !important;
}

.sbi-feed-block-cta-selector span a:first-of-type:after {
  content: ',' !important;
}

.sbi-feed-block-cta-selector span a:nth-of-type(2):after {
  content: 'or' !important;
  margin-left: 5px !important;
  margin-right: 2px !important;
}

.et-db #et-boc .et-l .et-fb-modules-list ul>li.sb_facebook_feed::before,
.et-db #et-boc .et-l .et-fb-modules-list ul>li.sb_instagram_feed::before,
.et-db #et-boc .et-l .et-fb-modules-list ul>li.sb_twitter_feed::before,
.et-db #et-boc .et-l .et-fb-modules-list ul>li.sb_youtube_feed::before {
  content: '' !important;
  height: 16px !important;
  font-variant: normal !important;
  background-position: center center !important;
  background-repeat: no-repeat !important;
}

.et-db #et-boc .et-l .et_pb_module .sbi-feed-block-cta-btn:after,
.et-db #et-boc .et-l .et_pb_module .sbi-feed-block-cta-btn:before {
  top: 10px !important;
}

.has-fit-text {
  white-space: nowrap !important;
}

.screen-reader-text {
  overflow-wrap: normal !important;
}

.has-black-color {
  color: var(--wp--preset--color--black) !important;
}

.has-cyan-bluish-gray-color {
  color: var(--wp--preset--color--cyan-bluish-gray) !important;
}

.has-white-color {
  color: var(--wp--preset--color--white) !important;
}

.has-pale-pink-color {
  color: var(--wp--preset--color--pale-pink) !important;
}

.has-vivid-red-color {
  color: var(--wp--preset--color--vivid-red) !important;
}

.has-luminous-vivid-orange-color {
  color: var(--wp--preset--color--luminous-vivid-orange) !important;
}

.has-luminous-vivid-amber-color {
  color: var(--wp--preset--color--luminous-vivid-amber) !important;
}

.has-light-green-cyan-color {
  color: var(--wp--preset--color--light-green-cyan) !important;
}

.has-vivid-green-cyan-color {
  color: var(--wp--preset--color--vivid-green-cyan) !important;
}

.has-pale-cyan-blue-color {
  color: var(--wp--preset--color--pale-cyan-blue) !important;
}

.has-vivid-cyan-blue-color {
  color: var(--wp--preset--color--vivid-cyan-blue) !important;
}

.has-vivid-purple-color {
  color: var(--wp--preset--color--vivid-purple) !important;
}

.has-black-background-color {
  background-color: var(--wp--preset--color--black) !important;
}

.has-cyan-bluish-gray-background-color {
  background-color: var(--wp--preset--color--cyan-bluish-gray) !important;
}

.has-white-background-color {
  background-color: var(--wp--preset--color--white) !important;
}

.has-pale-pink-background-color {
  background-color: var(--wp--preset--color--pale-pink) !important;
}

.has-vivid-red-background-color {
  background-color: var(--wp--preset--color--vivid-red) !important;
}

.has-luminous-vivid-orange-background-color {
  background-color: var(--wp--preset--color--luminous-vivid-orange) !important;
}

.has-luminous-vivid-amber-background-color {
  background-color: var(--wp--preset--color--luminous-vivid-amber) !important;
}

.has-light-green-cyan-background-color {
  background-color: var(--wp--preset--color--light-green-cyan) !important;
}

.has-vivid-green-cyan-background-color {
  background-color: var(--wp--preset--color--vivid-green-cyan) !important;
}

.has-pale-cyan-blue-background-color {
  background-color: var(--wp--preset--color--pale-cyan-blue) !important;
}

.has-vivid-cyan-blue-background-color {
  background-color: var(--wp--preset--color--vivid-cyan-blue) !important;
}

.has-vivid-purple-background-color {
  background-color: var(--wp--preset--color--vivid-purple) !important;
}

.has-black-border-color {
  border-color: var(--wp--preset--color--black) !important;
}

.has-cyan-bluish-gray-border-color {
  border-color: var(--wp--preset--color--cyan-bluish-gray) !important;
}

.has-white-border-color {
  border-color: var(--wp--preset--color--white) !important;
}

.has-pale-pink-border-color {
  border-color: var(--wp--preset--color--pale-pink) !important;
}

.has-vivid-red-border-color {
  border-color: var(--wp--preset--color--vivid-red) !important;
}

.has-luminous-vivid-orange-border-color {
  border-color: var(--wp--preset--color--luminous-vivid-orange) !important;
}

.has-luminous-vivid-amber-border-color {
  border-color: var(--wp--preset--color--luminous-vivid-amber) !important;
}

.has-light-green-cyan-border-color {
  border-color: var(--wp--preset--color--light-green-cyan) !important;
}

.has-vivid-green-cyan-border-color {
  border-color: var(--wp--preset--color--vivid-green-cyan) !important;
}

.has-pale-cyan-blue-border-color {
  border-color: var(--wp--preset--color--pale-cyan-blue) !important;
}

.has-vivid-cyan-blue-border-color {
  border-color: var(--wp--preset--color--vivid-cyan-blue) !important;
}

.has-vivid-purple-border-color {
  border-color: var(--wp--preset--color--vivid-purple) !important;
}

.has-vivid-cyan-blue-to-vivid-purple-gradient-background {
  background: var(--wp--preset--gradient--vivid-cyan-blue-to-vivid-purple) !important;
}

.has-light-green-cyan-to-vivid-green-cyan-gradient-background {
  background: var(--wp--preset--gradient--light-green-cyan-to-vivid-green-cyan) !important;
}

.has-luminous-vivid-amber-to-luminous-vivid-orange-gradient-background {
  background: var(--wp--preset--gradient--luminous-vivid-amber-to-luminous-vivid-orange) !important;
}

.has-luminous-vivid-orange-to-vivid-red-gradient-background {
  background: var(--wp--preset--gradient--luminous-vivid-orange-to-vivid-red) !important;
}

.has-very-light-gray-to-cyan-bluish-gray-gradient-background {
  background: var(--wp--preset--gradient--very-light-gray-to-cyan-bluish-gray) !important;
}

.has-cool-to-warm-spectrum-gradient-background {
  background: var(--wp--preset--gradient--cool-to-warm-spectrum) !important;
}

.has-blush-light-purple-gradient-background {
  background: var(--wp--preset--gradient--blush-light-purple) !important;
}

.has-blush-bordeaux-gradient-background {
  background: var(--wp--preset--gradient--blush-bordeaux) !important;
}

.has-luminous-dusk-gradient-background {
  background: var(--wp--preset--gradient--luminous-dusk) !important;
}

.has-pale-ocean-gradient-background {
  background: var(--wp--preset--gradient--pale-ocean) !important;
}

.has-electric-grass-gradient-background {
  background: var(--wp--preset--gradient--electric-grass) !important;
}

.has-midnight-gradient-background {
  background: var(--wp--preset--gradient--midnight) !important;
}

.has-small-font-size {
  font-size: var(--wp--preset--font-size--small) !important;
}

.has-medium-font-size {
  font-size: var(--wp--preset--font-size--medium) !important;
}

.has-large-font-size {
  font-size: var(--wp--preset--font-size--large) !important;
}

.has-x-large-font-size {
  font-size: var(--wp--preset--font-size--x-large) !important;
}

.screen-reader-text {
  position: absolute !important;
  word-wrap: normal !important;
}

.screen-reader-text:focus {
  clip: auto !important;
}

#wpadminbar {
  position: fixed !important;
}

#kt-scroll-up-reader:not(:focus) {
  word-wrap: normal !important;
}

.wp-site-blocks .nav--toggle-sub .dropdown-nav-special-toggle {
  position: absolute !important;
  padding: 0 !important;
  margin: 0 !important;
  margin-right: -.1em !important;
  border: 0 !important;
  box-shadow: none !important;
  background: 0 0 !important;
}

#main-header .header-button.button-style-outline,
.social-style-outline .social-button {
  background: 0 0 !important;
}

.kb-gallery-ul.kb-gallery-type-mosaic .kadence-blocks-gallery-item .kadence-blocks-gallery-intrinsic::before {
  content: none !important;
}

.kt-row-layout-inner>.kb-blocks-bg-slider .splide__list,
.kb-row-layout-wrap>.kb-blocks-bg-slider .splide__list {
  height: 100% !important;
}

h1 {
  line-height: .9 !important;
  text-wrap: balance !important;
}

h2,
h3,
h4,
h5,
h6, {
  line-height: 1.05 !important;
  text-wrap: balance !important;
}

.home .custom-logo {
  width: 35vw !important;
}

.custom-logo {
  width: 20vw !important;
}

#primary-menu li a {
  font-size: clamp(0.625rem, -0.125rem + 1vw, 0.875rem) !important;
}
