@media screen and (max-width:991px) {
  .w-container {
    max-width: 728px
  }

  .w-hidden-main {
    display: inherit !important
  }

  .w-hidden-medium {
    display: none !important
  }

  .w-col-medium-1 {
    width: 8.33333%
  }

  .w-col-medium-2 {
    width: 16.6667%
  }

  .w-col-medium-3 {
    width: 25%
  }

  .w-col-medium-4 {
    width: 33.3333%
  }

  .w-col-medium-5 {
    width: 41.6667%
  }

  .w-col-medium-6 {
    width: 50%
  }

  .w-col-medium-7 {
    width: 58.3333%
  }

  .w-col-medium-8 {
    width: 66.6667%
  }

  .w-col-medium-9 {
    width: 75%
  }

  .w-col-medium-10 {
    width: 83.3333%
  }

  .w-col-medium-11 {
    width: 91.6667%
  }

  .w-col-medium-12 {
    width: 100%
  }

  .w-col-stack {
    width: 100%;
    left: auto;
    right: auto
  }
}

@media screen and (max-width:767px) {

  .w-hidden-main,
  .w-hidden-medium {
    display: inherit !important
  }

  .w-hidden-small {
    display: none !important
  }

  .w-row,
  .w-container .w-row {
    margin-left: 0;
    margin-right: 0
  }

  .w-col {
    width: 100%;
    left: auto;
    right: auto
  }

  .w-col-small-1 {
    width: 8.33333%
  }

  .w-col-small-2 {
    width: 16.6667%
  }

  .w-col-small-3 {
    width: 25%
  }

  .w-col-small-4 {
    width: 33.3333%
  }

  .w-col-small-5 {
    width: 41.6667%
  }

  .w-col-small-6 {
    width: 50%
  }

  .w-col-small-7 {
    width: 58.3333%
  }

  .w-col-small-8 {
    width: 66.6667%
  }

  .w-col-small-9 {
    width: 75%
  }

  .w-col-small-10 {
    width: 83.3333%
  }

  .w-col-small-11 {
    width: 91.6667%
  }

  .w-col-small-12 {
    width: 100%
  }
}

@media screen and (max-width:479px) {
  .w-container {
    max-width: none
  }

  .w-hidden-main,
  .w-hidden-medium,
  .w-hidden-small {
    display: inherit !important
  }

  .w-hidden-tiny {
    display: none !important
  }

  .w-col {
    width: 100%
  }

  .w-col-tiny-1 {
    width: 8.33333%
  }

  .w-col-tiny-2 {
    width: 16.6667%
  }

  .w-col-tiny-3 {
    width: 25%
  }

  .w-col-tiny-4 {
    width: 33.3333%
  }

  .w-col-tiny-5 {
    width: 41.6667%
  }

  .w-col-tiny-6 {
    width: 50%
  }

  .w-col-tiny-7 {
    width: 58.3333%
  }

  .w-col-tiny-8 {
    width: 66.6667%
  }

  .w-col-tiny-9 {
    width: 75%
  }

  .w-col-tiny-10 {
    width: 83.3333%
  }

  .w-col-tiny-11 {
    width: 91.6667%
  }

  .w-col-tiny-12 {
    width: 100%
  }
}

@media screen and (max-width:767px) {

}

@media (min-width:768px) {
  .w-lightbox-content {
    height: 96vh;
    margin-top: 2vh
  }

  .w-lightbox-view,
  .w-lightbox-view:before {
    height: 96vh
  }

  .w-lightbox-group,
  .w-lightbox-group .w-lightbox-view,
  .w-lightbox-group .w-lightbox-view:before {
    height: 84vh
  }

  .w-lightbox-image {
    max-width: 96vw;
    max-height: 96vh
  }

  .w-lightbox-group .w-lightbox-image {
    max-width: 82.3vw;
    max-height: 84vh
  }

  .w-lightbox-left,
  .w-lightbox-right {
    opacity: .5;
    display: block
  }

  .w-lightbox-close {
    opacity: .8
  }

  .w-lightbox-control:hover {
    opacity: 1
  }
}

@media screen and (max-width:991px) {
  .w-nav[data-collapse="medium"] .w-nav-menu {
    display: none
  }

  .w-nav[data-collapse="medium"] .w-nav-button {
    display: block
  }
}

@media screen and (max-width:767px) {
  .w-nav[data-collapse="small"] .w-nav-menu {
    display: none
  }

  .w-nav[data-collapse="small"] .w-nav-button {
    display: block
  }

  .w-nav-brand {
    padding-left: 10px
  }
}

@media screen and (max-width:479px) {
  .w-nav[data-collapse="tiny"] .w-nav-menu {
    display: none
  }

  .w-nav[data-collapse="tiny"] .w-nav-button {
    display: block
  }
}

@media screen and (max-width:479px) {
  .w-tab-link {
    display: block
  }
}

@media screen and (min-width:1440px) {
  .hero_background-image {
    object-fit: cover
  }
}

@media (min-width:992px) {
  html.w-mod-js:not(.w-mod-ix) [data-w-id="b646deb2-51d9-9d4c-6ee6-258703b57008"] {
    -webkit-transform: translate3d(0rem, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
    -moz-transform: translate3d(0rem, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
    -ms-transform: translate3d(0rem, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
    transform: translate3d(0rem, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
    color: rgb(255, 255, 255)
  }

  html.w-mod-js:not(.w-mod-ix) [data-w-id="a715edfa-397b-655a-fca0-fd1307fe1635"] {
    -webkit-transform: translate3d(0rem, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
    -moz-transform: translate3d(0rem, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
    -ms-transform: translate3d(0rem, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
    transform: translate3d(0rem, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
    color: rgb(255, 255, 255)
  }

  html.w-mod-js:not(.w-mod-ix) [data-w-id="4fb98e3c-218b-4811-67fa-973cc0f94431"] {
    -webkit-transform: translate3d(0rem, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
    -moz-transform: translate3d(0rem, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
    -ms-transform: translate3d(0rem, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
    transform: translate3d(0rem, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
    color: rgb(255, 255, 255)
  }

  html.w-mod-js:not(.w-mod-ix) [data-w-id="af7a646c-ed38-e2d7-baa8-8da6a8057a18"] {
    -webkit-transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
    -moz-transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
    -ms-transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
    transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)
  }

  html.w-mod-js:not(.w-mod-ix) [data-w-id="af7a646c-ed38-e2d7-baa8-8da6a8057a1c"] {
    -webkit-transform: translate3d(0, 0, 0) scale3d(null, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
    -moz-transform: translate3d(0, 0, 0) scale3d(null, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
    -ms-transform: translate3d(0, 0, 0) scale3d(null, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
    transform: translate3d(0, 0, 0) scale3d(null, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)
  }

  html.w-mod-js:not(.w-mod-ix) [data-w-id="af7a646c-ed38-e2d7-baa8-8da6a8057a1a"] {
    -webkit-transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
    -moz-transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
    -ms-transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
    transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)
  }

  html.w-mod-js:not(.w-mod-ix) [data-w-id="8072b79e-40db-6c10-2a61-ac42208527c3"] {
    -webkit-transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
    -moz-transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
    -ms-transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
    transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)
  }

  html.w-mod-js:not(.w-mod-ix) [data-w-id="a9c04822-506e-f741-044a-22f3eb4b91db"] {
    -webkit-transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
    -moz-transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
    -ms-transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
    transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)
  }

  html.w-mod-js:not(.w-mod-ix) [data-w-id="3fc33993-b8bc-1567-a430-0c3ca7b2547c"] {
    -webkit-transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
    -moz-transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
    -ms-transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
    transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)
  }

  html.w-mod-js:not(.w-mod-ix) [data-w-id="70b3335e-3ea9-425e-51e7-998610e064ed"] {
    -webkit-transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
    -moz-transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
    -ms-transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
    transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)
  }

}

@media (max-width:991px) and (min-width:768px) {
  html.w-mod-js:not(.w-mod-ix) [data-w-id="328efde5-06c0-19ab-35a8-ced2f2f3b228"] {
    -webkit-transform: translate3d(0rem, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
    -moz-transform: translate3d(0rem, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
    -ms-transform: translate3d(0rem, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
    transform: translate3d(0rem, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
    color: rgb(255, 255, 255)
  }
}

@media screen and (max-width:991px) {

}

@media screen and (max-width:479px) {

}

@media screen and (max-width:991px) {

  .hide,
  .hide-tablet {
    display: none !important
  }
}

@media screen and (max-width:767px) {
  .hide-mobile-landscape {
    display: none !important
  }
}

@media screen and (max-width:479px) {
  .hide-mobile {
    display: none !important
  }
}

@media (min-width:1359px) {
  .hero_heading {
    font-size: 9.4rem
  }
}
