{% extends "base.html" %}

{% block title %}Tecnologia | Vinícius Tasso{% endblock %}
{% block description %}Conheça a pessoa que pode facilitar sua vida.{% endblock %}

{% block content %}
<div class="page-wrapper">
  <div class="global-styles w-embed"></div>

  <div class="navbar w-nav" data-animation="default" data-collapse="medium" data-duration="400" data-easing="ease"
    data-easing2="ease" data-w-id="5a5c3428-c239-86a4-05d7-c37ecb1cfa88" fs-scrolldisable-element="smart-nav"
    role="banner">
    <div class="navbar_container">
      <div class="navbar_menu-wrapper" data-w-id="5a5c3428-c239-86a4-05d7-c37ecb1cfa8a">
        <a aria-current="page" class="w-inline-block w--current" href="#">
          <img alt="Logo do site" class="navbar_logo" loading="lazy"
            src="{{ url_for('static', filename='assets/images/favicon 2.webp') }}">
        </a>
        <div class="navbar_spacer"></div>
        <a class="link-block w-inline-block" href="#projects">
          <div class="menu_text-link">Projetos</div>
        </a>
      </div>
      <a class="navbar_message-wrapper w-inline-block" data-w-id="5a5c3428-c239-86a4-05d7-c37ecb1cfa97"
        href="mailto:contato@exemplo.com">
        <div class="icon-embed-medium is-border w-embed">
          <img alt="Ícone de contato" aria-hidden="true" class="icon-mail" height="100%" role="img"
            src="{{ url_for('static', filename='assets/icons/icon_004.svg') }}" width="100%">
        </div>
      </a>
    </div>
  </div>

  <div class="color-filter"></div>

  <main class="main-wrapper">
    <header class="section_footer">
      <div class="padding-global overflow-hidden">
        <div class="container-large">
          <div class="hero_padding-section">
            <div class="hero_background-image-wrapper">
              <img alt="Fundo principal do hero" class="hero_background-image"
                data-w-id="36fb146c-0c52-2d35-0ad6-e8137e3aad43" loading="lazy"
                src="{{ url_for('static', filename='assets/images/hero background.webp') }}">
              <img alt="Retrato profissional em destaque" class="hero_profile-image"
                data-w-id="36fb146c-0c52-2d35-0ad6-e8137e3aad44" loading="lazy"
                src="{{ url_for('static', filename='assets/images/Hero Headshot.avif') }}">
              <h1 class="hero_heading" data-w-id="36fb146c-0c52-2d35-0ad6-e8137e3aad45">VINÍCIUS TASSO</h1>
            </div>
            <div class="hero_color-filter" data-w-id="36fb146c-0c52-2d35-0ad6-e8137e3aad47"></div>
            <div class="hero_subtitle-wrapper" data-w-id="bd0ef9be-b301-3c2b-910a-fcffc5373cfd">
              <h2 class="hero_subtitle">Lider de Tecnologia / DevOps/ Full Stack Developer</h2>
              <a class="cta-button w-button" href="#about">Entre em contato →</a>
            </div>
            
              
            <div class="lottie-spacer">
              <a aria-label="Role para a próxima seção" class="w-inline-block" href="#about">
                <!-- <div class="scroll-icon">
                <div class="lottie-animation"
                data-animation-type="lottie"
                data-autoplay="1"
                data-loop="1"
                data-renderer="svg"
                data-src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js">
                </div>
                </div> -->
                <div class="lottie-animation" data-animation-type="lottie" data-autoplay="1"
                  data-default-duration="1.8333333333333333" data-direction="1" data-duration="0" 
                  data-is-ix2-target="0" data-parallax-speed="1.3"
                  data-loop="1" data-renderer="svg"
                  data-src="https://lottie.host/embed/97c9aaee-bcc9-4e71-8a6f-75549cb52f37/6HOgTedoWH.lottie"
                  data-w-id="994c2702-c2c5-e6d9-9d57-3d0c1aa49cc3">
                  <!-- <dotlottie-wc
                    class="lottie-animation-dotlottie"
                    src="https://lottie.host/97c9aaee-bcc9-4e71-8a6f-75549cb52f37/6HOgTedoWH.lottie"
                    style="width: 100% ;height: 100%"
                    autoplay
                    loop
                  ></dotlottie-wc> -->
                  <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                    viewBox="0 0 262 403" width="262" height="403" preserveAspectRatio="xMidYMid meet"
                    style="width: 100%; height: 100%; transform: translate3d(0px, 0px, 0px); content-visibility: visible;">
                    <defs>
                      <clipPath id="__lottie_element_2">
                        <rect width="262" height="403" x="0" y="0"></rect>
                      </clipPath>
                      <clipPath id="__lottie_element_4">
                        <path d="M0,0 L262,0 L262,403 L0,403z"></path>
                      </clipPath>
                      <clipPath id="__lottie_element_10">
                        <path fill="#ffffff" clip-rule="nonzero"
                          d=" M131,0 C131,0 131,0 131,0 C203.34930419921875,0 262,58.650699615478516 262,131 C262,131 262,272 262,272 C262,344.34930419921875 203.34930419921875,403 131,403 C131,403 131,403 131,403 C58.650699615478516,403 0,344.34930419921875 0,272 C0,272 0,131 0,131 C0,58.650699615478516 58.650699615478516,0 131,0 C131,0 131,0 131,0 C131,0 131,0 131,0"
                          fill-opacity="1"></path>
                      </clipPath>
                    </defs>
                    <g clip-path="url(#__lottie_element_2)">
                      <g clip-path="url(#__lottie_element_4)" transform="matrix(1,0,0,1,0,0)" opacity="1"
                        style="display: block;">
                        <g clip-path="url(#__lottie_element_10)" transform="matrix(1,0,0,-0.9998999834060669,0,403)"
                          opacity="1" style="display: block;">
                          <g  opacity="1" transform="matrix(1,0,0,1,0,0)">
                            <path fill="rgb(0,255,0)" fill-opacity="0"
                              d=" M415.5,-209 C415.5,-209 -138.5,-209 -138.5,-209 C-138.5,-209 -138.5,627 -138.5,627 C-138.5,627 415.5,627 415.5,627 C415.5,627 415.5,-209 415.5,-209z">
                            </path>
                          </g>
                          <g  opacity="1" transform="matrix(1,0,0,1,0,0)">
                            <path stroke-linecap="butt" stroke-linejoin="miter" fill-opacity="0" stroke-miterlimit="4"
                              stroke-dasharray=" 0 0" stroke-dashoffset="0" stroke="rgb(255,255,255)" stroke-opacity="1"
                              stroke-width="30"
                              d=" M131,0 C131,0 131,0 131,0 C203.34930419921875,0 262,58.650699615478516 262,131 C262,131 262,272 262,272 C262,344.34930419921875 203.34930419921875,403 131,403 C131,403 131,403 131,403 C58.650699615478516,403 0,344.34930419921875 0,272 C0,272 0,131 0,131 C0,58.650699615478516 58.650699615478516,0 131,0 C131,0 131,0 131,0 C131,0 131,0 131,0z">
                            </path>
                          </g>
                          <g opacity="1" transform="matrix(1,0,0,1,0,0)">
                            <path stroke-linecap="butt" stroke-linejoin="miter" fill-opacity="0" stroke-miterlimit="4"
                              stroke-dasharray=" 0 0" stroke-dashoffset="0" stroke="rgb(255,255,255)" stroke-opacity="1"
                              stroke-width="30"
                              d=" M131,0 C131,0 131,0 131,0 C203.34930419921875,0 262,58.650699615478516 262,131 C262,131 262,272 262,272 C262,344.34930419921875 203.34930419921875,403 131,403 C131,403 131,403 131,403 C58.650699615478516,403 0,344.34930419921875 0,272 C0,272 0,131 0,131 C0,58.650699615478516 58.650699615478516,0 131,0 C131,0 131,0 131,0 C131,0 131,0 131,0z">
                            </path>
                          </g>
                          <g opacity="1" transform="matrix(1,0,0,1,0,0)">
                            <path stroke-linecap="butt" stroke-linejoin="miter" fill-opacity="0" stroke-miterlimit="4"
                              stroke-dasharray=" 0 0" stroke-dashoffset="0" stroke="rgb(255,255,255)" stroke-opacity="1"
                              stroke-width="30"
                              d=" M131,0 C131,0 131,0 131,0 C203.34930419921875,0 262,58.650699615478516 262,131 C262,131 262,272 262,272 C262,344.34930419921875 203.34930419921875,403 131,403 C131,403 131,403 131,403 C58.650699615478516,403 0,344.34930419921875 0,272 C0,272 0,131 0,131 C0,58.650699615478516 58.650699615478516,0 131,0 C131,0 131,0 131,0 C131,0 131,0 131,0z">
                            </path>
                          </g>
                          <g opacity="1" transform="matrix(1,0,0,1,0,0)">
                            <path stroke-linecap="butt" stroke-linejoin="miter" fill-opacity="0" stroke-miterlimit="4"
                              stroke-dasharray=" 0 0" stroke-dashoffset="0" stroke="rgb(255,255,255)" stroke-opacity="1"
                              stroke-width="30"
                              d=" M131,0 C131,0 131,0 131,0 C203.34930419921875,0 262,58.650699615478516 262,131 C262,131 262,272 262,272 C262,344.34930419921875 203.34930419921875,403 131,403 C131,403 131,403 131,403 C58.650699615478516,403 0,344.34930419921875 0,272 C0,272 0,131 0,131 C0,58.650699615478516 58.650699615478516,0 131,0 C131,0 131,0 131,0 C131,0 131,0 131,0z">
                            </path>
                          </g>
                        </g>
                        <g class="lottie-animation-dotlottie" id="ponto-scroll" transform="matrix(0.814281165599823,0,0,0.814281165599823,106.57156372070312,280.62286376953125)"
                          opacity="1" style="display: block;">
                          <g opacity="1" transform="matrix(1,0,0,1,0,0)">
                            <path fill="rgb(255,255,255)" fill-opacity="1"
                              d=" M60,30 C60,46.569000244140625 46.569000244140625,60 30,60 C13.430999755859375,60 0,46.569000244140625 0,30 C0,13.430999755859375 13.430999755859375,0 30,0 C46.569000244140625,0 60,13.430999755859375 60,30 C60,30 60,30 60,30 C60,30 60,30 60,30z">
                            </path>
                          </g>
                        </g>
                      </g>
                    </g>
                  </svg>

                </div>
                <!-- data-src="{{ url_for('static', filename='js/66165c69fd8788017e5850c3_Scroll icon-7.lottie') }} -->
              </a>
            </div>
          </div>
        </div>
      </div>
    </header>

    <header class="section_about" data-w-id="730c4d09-d7ae-dc91-1dce-5ef7ec351225" id="about">
      <div class="padding-global">
        <div class="container-large">
          <div class="about_padding-section">
            <div class="about_grid">
              <div class="about_heading-wrapper">
                <p class="about_heading" text-fly-in-left="" text-split="">Sai, sou Vinícius, um desenvolvedor
                  apaixonado por tecnologia.</p>
              </div>
              <div class="about_content-wrapper" data-w-id="730c4d09-d7ae-dc91-1dce-5ef7ec35122e">
                <p class="about_content">Com mais de uma década de experiência em várias disciplinas, trabalho com
                  empresas para criar experiências digitais intuitivas e envolventes. Neste guia, vamos explorar as
                  melhores práticas para refatorar sites Python, incluindo técnicas de otimização, segurança e
                  organização de código.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>

    <header class="section_specialise" data-w-id="45e3f421-2803-ec0c-817b-f85885188428">
      <div class="padding-global">
        <div class="container-large">
          <div class="specialise_padding-section">
            <div class="specialise_grid">
              <div class="specialise_heading-wrapper">
                <p class="home-heading" text-fly-in-left="" text-split="">Eu frequentemente trabalho com:</p>
              </div>
              <div class="specialise_list-wrapper" data-w-id="edff74fc-d13d-d549-57b3-df3dc60aa974">
                <div class="specialise_list-item" data-w-id="b646deb2-51d9-9d4c-6ee6-258703b57008">
                  <div class="specialise_arrow w-embed">
                    <img alt="Seta decorativa" class="icon-arrow" height="42"
                      src="{{ url_for('static', filename='assets/icons/icon_003.svg') }}" width="42">
                  </div>
                  <p class="specialise_list-text">Liderança de Equipes</p>
                </div>
                <div class="specialise_list-item" data-w-id="a715edfa-397b-655a-fca0-fd1307fe1635">
                  <div class="specialise_arrow w-embed">
                    <img alt="Seta decorativa" class="icon-arrow" height="42"
                      src="{{ url_for('static', filename='assets/icons/icon_003.svg') }}" width="42">
                  </div>
                  <p class="specialise_list-text">Desenvolvimento de Produtos</p>
                </div>
                <div class="specialise_list-item" data-w-id="4fb98e3c-218b-4811-67fa-973cc0f94431">
                  <div class="specialise_arrow w-embed">
                    <img alt="Seta decorativa" class="icon-arrow" height="42"
                      src="{{ url_for('static', filename='assets/icons/icon_003.svg') }}" width="42">
                  </div>
                  <p class="specialise_list-text">Design Thinking</p>
                </div>
                <div class="specialise_list-item" data-w-id="328efde5-06c0-19ab-35a8-ced2f2f3b228">
                  <div class="specialise_arrow w-embed">
                    <img alt="Seta decorativa" class="icon-arrow" height="42"
                      src="{{ url_for('static', filename='assets/icons/icon_003.svg') }}" width="42">
                  </div>
                  <p class="specialise_list-text">DevOps / Arquitetura de Software</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>

    <header class="section_logos" data-w-id="350eb038-782e-d1d5-8718-cc28b79e01db">
      <div class="padding-global">
        <div class="container-large">
          <div class="specialise_padding-section">
            <div class="specialise_grid">
              <div class="specialise_heading-wrapper">
                <p class="home-heading" text-fly-in-left="" text-split="">Eu já trabalhei com empresas como:</p>
              </div>
              <div class="logo-component-wrapper" data-w-id="b1043fb3-7c73-9134-8242-0f4a54531b44">
                <div class="logo1_component is-2">
                  <img alt="Marca parceira" class="logo1_logo mercedes" loading="lazy"
                    src="{{ url_for('static', filename='assets/images/merc.avif') }}">
                  <img alt="Marca parceira" class="logo1_logo ocado" loading="lazy"
                    src="{{ url_for('static', filename='assets/images/Ocado logo.avif') }}">
                  <img alt="Marca parceira" class="logo1_logo" loading="lazy"
                    src="{{ url_for('static', filename='assets/icons/Group 38021.svg') }}">
                  <img alt="Marca parceira" class="logo1_logo is-tmf" loading="lazy"
                    src="{{ url_for('static', filename='assets/icons/tmf.svg') }}">
                  <img alt="Marca parceira" class="logo1_logo" loading="lazy"
                    src="{{ url_for('static', filename='assets/icons/Group 238271.svg') }}">
                  <img alt="Marca parceira" class="logo1_logo cornerstone" loading="lazy"
                    src="{{ url_for('static', filename='assets/icons/Group.svg') }}">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>

    <header class="section_latest" data-w-id="aceeb74b-b023-b566-b671-204a78720848" id="projects">
      <div class="padding-global">
        <div class="container-large">
          <div class="padding-section-latest">
            <div class="latest_grid">
              <div class="latest_heading-wrapper">
                <div class="max-width-large align-center-2"></div>
              </div>
              <h2 class="latest_title">TRABALHOS</h2>

              <div class="latest_case-component" data-w-id="02bd17be-8196-1642-b164-4c1c4b4fade7">
                <a class="latest_case-wrapper w-inline-block" data-w-id="8072b79e-40db-6c10-2a61-ac42208527c3" href="#">
                  <div class="latest_case_content-wrapper">
                    <p class="latest_card-heading is-white" text-fly-in-left="" text-split="">Case A</p>
                    <div class="latest_case-icon-wrapper">
                      <div class="project-card_link-icon w-embed">
                        <img alt="Seta decorativa" class="icon-arrow" height="42"
                          src="{{ url_for('static', filename='assets/icons/icon_003.svg') }}" width="42">
                      </div>
                    </div>
                  </div>
                  <img alt="Preview do projeto A" class="latest_case-image is-home" loading="lazy"
                    src="{{ url_for('static', filename='assets/images/Enate.webp') }}">
                </a>

                <a class="latest_case-wrapper w-inline-block" data-w-id="a9c04822-506e-f741-044a-22f3eb4b91db" href="#">
                  <div class="latest_case_content-wrapper">
                    <p class="latest_card-heading is-white" text-fly-in-left="" text-split="">Case B</p>
                    <div class="latest_case-icon-wrapper">
                      <div class="project-card_link-icon w-embed">
                        <img alt="Seta decorativa" class="icon-arrow" height="42"
                          src="{{ url_for('static', filename='assets/icons/icon_003.svg') }}" width="42">
                      </div>
                    </div>
                  </div>
                  <img alt="Preview do projeto B" class="latest_case-image is-home" loading="lazy"
                    src="{{ url_for('static', filename='assets/images/Frame 477.webp') }}">
                </a>

                <a class="latest_case-wrapper w-inline-block" data-w-id="3fc33993-b8bc-1567-a430-0c3ca7b2547c" href="#">
                  <div class="latest_case_content-wrapper">
                    <p class="latest_card-heading is-white" text-fly-in-left="" text-split="">Case C</p>
                    <div class="latest_case-icon-wrapper">
                      <div class="project-card_link-icon w-embed">
                        <img alt="Seta decorativa" class="icon-arrow" height="42"
                          src="{{ url_for('static', filename='assets/icons/icon_003.svg') }}" width="42">
                      </div>
                    </div>
                  </div>
                  <img alt="Preview do projeto C" class="latest_case-image is-home" loading="lazy"
                    src="{{ url_for('static', filename='assets/images/Merc.webp') }}">
                </a>

                <a class="latest_case-wrapper w-inline-block" data-w-id="70b3335e-3ea9-425e-51e7-998610e064ed" href="#">
                  <div class="latest_case_content-wrapper">
                    <p class="latest_card-heading is-white" text-fly-in-left="" text-split="">Case D</p>
                    <div class="latest_case-icon-wrapper">
                      <div class="project-card_link-icon w-embed">
                        <img alt="Seta decorativa" class="icon-arrow" height="42"
                          src="{{ url_for('static', filename='assets/icons/icon_003.svg') }}" width="42">
                      </div>
                    </div>
                  </div>
                  <img alt="Preview do projeto D" class="latest_case-image is-home" loading="lazy"
                    src="{{ url_for('static', filename='assets/images/cornerstone.webp') }}">
                </a>

                <a class="latest_case-wrapper w-inline-block" href="#">
                  <div class="latest_case_content-wrapper">
                    <p class="latest_card-heading is-white" text-fly-in-left="" text-split="">Case E</p>
                    <div class="latest_case-icon-wrapper">
                      <div class="project-card_link-icon w-embed">
                        <img alt="Seta decorativa" class="icon-arrow" height="42"
                          src="{{ url_for('static', filename='assets/icons/icon_003.svg') }}" width="42">
                      </div>
                    </div>
                  </div>
                  <img alt="Preview do projeto E" class="latest_case-image is-home" loading="lazy"
                    src="{{ url_for('static', filename='assets/images/Team up 2.webp') }}">
                </a>
                <div class="card-end"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>

    <header class="section_specialise">
      <div class="padding-global">
        <div class="container-large"></div>
      </div>
    </header>

    <header class="section_footer">
      <div class="padding-global overflow-hidden">
        <div class="container-large">
          <div class="footer_padding-section">
            <a class="footer_background-image-wrapper w-inline-block" data-w-id="af7a646c-ed38-e2d7-baa8-8da6a8057a17"
              href="mailto:contato@exemplo.com">
              <img alt="Fundo da seção de contato" class="hero_background-image is-footer"
                data-w-id="af7a646c-ed38-e2d7-baa8-8da6a8057a18" loading="lazy"
                src="{{ url_for('static', filename='assets/images/hero background.webp') }}">
              <h1 class="hero_heading is-footer" data-w-id="af7a646c-ed38-e2d7-baa8-8da6a8057a1a">FALE COMIGO</h1>
            </a>
            <div class="footer-hero-2_color-filter" data-w-id="af7a646c-ed38-e2d7-baa8-8da6a8057a1c"></div>
            <div class="footer-cta-component">
              <div class="footer-2_subtitle-wrapper-copy">
                <a class="button is-secondary is-v2 w-button"
                  href="mailto:contato@exemplo.com?subject=Olá">contato@exemplo.com</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>
  </main>
</div>
{% endblock %}