.gslide-video .plyr--youtube .plyr__control,
.gslide-video .plyr--youtube .plyr__controls,
.gslide-video .plyr--youtube .plyr__video-wrapper>iframe {
  pointer-events: all;
}

.glightbox-container:not(.specificity) .gclose,
.glightbox-container:not(.specificity) .gnext,
.glightbox-container:not(.specificity) .gprev,
.archive.content-style-unboxed .entry-content-wrap,
.blog.content-style-unboxed .entry-content-wrap,
.post-type-archive.content-style-unboxed .entry-content-wrap,
.search-results.content-style-unboxed .entry-content-wrap {
  padding: 0;
}

.gclose.disabled,
.gnext.disabled,
.gprev.disabled {
  opacity: .1;
}

.gclose .garrow,
.gnext .garrow,
.gprev .garrow {
  stroke: #fff;
}

.glightbox-container .gclose path,
.glightbox-container .gnext path,
.glightbox-container .gprev path {
  fill: var(--glightbox-nav-color);
}

#sb_instagram .sbi_no_js img,
#sb_instagram br,
#sb_instagram p:empty,
#sb_instagram.sbi_no_js .sbi_load_btn,
#sb_instagram.sbi_no_js .sbi_photo img,
.infinite-scroll .posts-navigation,
.infinite-scroll .pagination,
.infinite-scroll.neverending .site-footer {
  display: none;
}

#sb_instagram a,
#sb_instagram a:active,
#sb_instagram a:focus,
#sb_instagram a:hover,
.sbi_lightbox a:active,
.sbi_lightbox a:focus,
.sbi_lightbox a:hover {
  outline: 0;
}

#sb_instagram .sbi_type_carousel .svg-inline--fa.fa-play,
#sb_instagram .sbi_type_video .svg-inline--fa.fa-play,
.sbi_type_carousel svg.fa-clone {
  -webkit-filter: drop-shadow(0px 0px 2px rgba(0, 0, 0, .4));
  filter: drop-shadow(0px 0px 2px rgba(0, 0, 0, .4));
}

#sb_instagram .sb_instagram_header a:focus .sbi_header_img_hover,
#sb_instagram .sb_instagram_header a:hover .sbi_header_img_hover,
#sb_instagram.sbi_no_js #sbi_images .sbi_item.sbi_transition,
.sb_instagram_header a:focus .sbi_header_img_hover,
.sb_instagram_header a:hover .sbi_header_img_hover,
.sbi_lb-nav a.sbi_lb-next:hover,
.sbi_lb-nav a.sbi_lb-prev:hover {
  opacity: 1;
}

#sb_instagram.sbi_palette_dark,
#sbi_lightbox.sbi_palette_dark_lightbox .sbi_lb-outerContainer .sbi_lb-dataContainer,
#sbi_lightbox.sbi_palette_dark_lightbox .sbi_lightbox_tooltip,
#sbi_lightbox.sbi_palette_dark_lightbox .sbi_share_close,
.sbi_header_outside.sbi_header_palette_dark {
  background-color: rgba(0, 0, 0, .85);
  color: rgba(255, 255, 255, .75);
}

#sb_instagram.sbi_palette_dark .sbi_caption,
#sb_instagram.sbi_palette_dark .sbi_meta,
#sbi_lightbox.sbi_lb-comments-enabled.sbi_palette_dark_lightbox .sbi_lb-commentBox p,
#sbi_lightbox.sbi_palette_dark_lightbox .sbi_lb-outerContainer .sbi_lb-dataContainer .sbi_lb-details .sbi_lb-caption,
#sbi_lightbox.sbi_palette_dark_lightbox .sbi_lb-outerContainer .sbi_lb-dataContainer .sbi_lb-number,
.sbi_header_palette_dark,
.sbi_header_palette_dark .sbi_bio {
  color: rgba(255, 255, 255, .75);
}

#sb_instagram.sbi_palette_dark .sbi_expand a,
#sbi_lightbox.sbi_lb-comments-enabled.sbi_palette_dark_lightbox .sbi_lb-commentBox .sbi_lb-commenter,
#sbi_lightbox.sbi_palette_dark_lightbox .sbi_lb-outerContainer .sbi_lb-dataContainer .sbi_lb-details a,
#sbi_lightbox.sbi_palette_dark_lightbox .sbi_lb-outerContainer .sbi_lb-dataContainer .sbi_lb-details a p,
.sbi_header_palette_dark a,
body.social-brand-colors .social-show-brand-until .social-button:not(:hover):not(.skip):not(.ignore),
body.social-brand-colors .social-show-brand-hover .social-button:not(.ignore-brand):not(.skip):not(.ignore):hover,
body.social-brand-colors .social-show-brand-always .social-button:not(.ignore-brand):not(.skip):not(.ignore) {
  color: #fff;
}

#sb_instagram.sbi_palette_light,
#sbi_lightbox.sbi_palette_light_lightbox .sbi_lb-outerContainer .sbi_lb-dataContainer,
#sbi_lightbox.sbi_palette_light_lightbox .sbi_lightbox_tooltip,
#sbi_lightbox.sbi_palette_light_lightbox .sbi_share_close,
.sbi_header_outside.sbi_header_palette_light {
  color: rgba(0, 0, 0, .85);
  background-color: rgba(255, 255, 255, .75);
}

#sb_instagram.sbi_palette_light .sbi_caption,
#sb_instagram.sbi_palette_light .sbi_meta,
#sbi_lightbox.sbi_lb-comments-enabled.sbi_palette_light_lightbox .sbi_lb-commentBox p,
#sbi_lightbox.sbi_palette_light_lightbox .sbi_lb-outerContainer .sbi_lb-dataContainer .sbi_lb-details .sbi_lb-caption,
#sbi_lightbox.sbi_palette_light_lightbox .sbi_lb-outerContainer .sbi_lb-dataContainer .sbi_lb-number,
.sbi_header_palette_light,
.sbi_header_palette_light .sbi_bio {
  color: rgba(0, 0, 0, .85);
}

#sb_instagram.sbi_palette_light .sbi_expand a,
#sbi_lightbox.sbi_lb-comments-enabled.sbi_palette_light_lightbox .sbi_lb-commentBox .sbi_lb-commenter,
#sbi_lightbox.sbi_palette_light_lightbox .sbi_lb-outerContainer .sbi_lb-dataContainer .sbi_lb-details a,
#sbi_lightbox.sbi_palette_light_lightbox .sbi_lb-outerContainer .sbi_lb-dataContainer .sbi_lb-details a p,
.sbi_header_palette_light a {
  color: #000;
}

.sbi_lb-commenter:hover,
.sbi_lb-data .sbi_lb-caption .sbi_lightbox_username:hover p,
.sbi_lb-data .sbi_lb-caption a:hover {
  color: #fff;
  text-decoration: underline;
}

#sbi_lightbox.sbi_lightbox.sbi_lb-comments-enabled .sbi_lb-number,
#sbi_lightbox.sbi_lightbox.sbi_lb-comments-enabled .sbi_lightbox_action a,
#sbi_lightbox.sbi_lightbox.sbi_lb-comments-enabled .sbi_lightbox_action a:hover,
.sbi_lightbox.sbi_lb-comments-enabled .sbi_lb-commenter,
.sbi_lightbox.sbi_lb-comments-enabled .sbi_lb-commenter:hover,
.sbi_lightbox.sbi_lb-comments-enabled .sbi_lb-data,
.sbi_lightbox.sbi_lb-comments-enabled .sbi_lb-data .sbi_lb-caption,
.sbi_lightbox.sbi_lb-comments-enabled .sbi_lb-data .sbi_lb-caption .sbi_lightbox_username p,
.sbi_lightbox.sbi_lb-comments-enabled .sbi_lb-data .sbi_lb-caption .sbi_lightbox_username:hover p,
.sbi_lightbox.sbi_lb-comments-enabled .sbi_lb-data .sbi_lb-caption a,
.sbi_lightbox.sbi_lb-comments-enabled .sbi_lb-data .sbi_lb-caption a:hover,
.sbi_lightbox.sbi_lb-comments-enabled .sbi_lightbox_username {
  color: #333;
}

button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

.link-style-no-underline .entry-content p>a,
.link-style-no-underline .entry-content strong>a,
.link-style-no-underline .entry-content em>a,
.link-style-no-underline .entry-content>ul a,
.link-style-no-underline .entry-content a,
.link-style-no-underline .entry-content p>a:hover,
.link-style-no-underline .entry-content strong>a:hover,
.link-style-no-underline .entry-content em>a:hover,
.link-style-no-underline .entry-content>ul a:hover,
.link-style-no-underline .entry-content a:hover,
.widget_pages a:hover,
.widget_pages a:focus,
.widget_nav_menu a:hover,
.widget_nav_menu a:focus {
  text-decoration: none;
}

.link-style-color-underline .entry-content p a:hover,
.link-style-color-underline .entry-content strong>a:hover,
.link-style-color-underline .entry-content em>a:hover,
.link-style-color-underline .entry-content>ul a:hover,
.link-style-color-underline .entry-content>ol a:hover,
.link-style-color-underline .entry-content .wp-block-group ul a:hover,
.link-style-color-underline .entry-content .wp-block-group ol a:hover {
  -webkit-text-decoration-color: var(--global-palette-highlight-alt);
  text-decoration-color: var(--global-palette-highlight-alt);
}

button:visited,
.button:visited,
.wp-block-button__link:visited,
.wp-element-button:visited,
input[type=button]:visited,
input[type=reset]:visited,
input[type=submit]:visited {
  background: var(--global-palette-btn-bg);
  color: var(--global-palette-btn);
}

button:disabled,
button.disabled,
.button:disabled,
.button.disabled,
.wp-block-button__link:disabled,
.wp-block-button__link.disabled,
.wp-element-button:disabled,
.wp-element-button.disabled,
input[type=button]:disabled,
input[type=button].disabled,
input[type=reset]:disabled,
input[type=reset].disabled,
input[type=submit]:disabled,
input[type=submit].disabled {
  cursor: not-allowed;
  opacity: .5;
}

.button.button-style-outline,
.wp-block-button.is-style-outline .wp-block-button__link,
.wp-block-button.is-style-outline .wp-element-button {
  border: 2px solid currentColor;
}

.button.button-style-outline:hover,
.button.button-style-outline:focus,
.button.button-style-outline:active,
.wp-block-button.is-style-outline .wp-block-button__link:hover,
.wp-block-button.is-style-outline .wp-block-button__link:focus,
.wp-block-button.is-style-outline .wp-block-button__link:active,
.wp-block-button.is-style-outline .wp-element-button:hover,
.wp-block-button.is-style-outline .wp-element-button:focus,
.wp-block-button.is-style-outline .wp-element-button:active {
  border: 2px solid currentColor;
  box-shadow: 0px 0px 0px -7px rgba(0, 0, 0, 0);
}

.wp-block-button.is-style-outline .wp-block-button__link:not(.has-background),
.wp-block-button.is-style-outline .wp-element-button:not(.has-background),
.button.button-style-outline:not(.has-background),
.wp-block-button.is-style-outline .wp-block-button__link:not(.has-background):hover,
.wp-block-button.is-style-outline .wp-block-button__link:not(.has-background):focus,
.wp-block-button.is-style-outline .wp-block-button__link:not(.has-background):active,
.wp-block-button.is-style-outline .wp-element-button:not(.has-background):hover,
.wp-block-button.is-style-outline .wp-element-button:not(.has-background):focus,
.wp-block-button.is-style-outline .wp-element-button:not(.has-background):active,
.button.button-style-outline:not(.has-background):hover,
.button.button-style-outline:not(.has-background):focus,
.button.button-style-outline:not(.has-background):active {
  background: rgba(0, 0, 0, 0);
}

.wp-block-button.is-style-outline .wp-block-button__link:not(.has-text-color),
.wp-block-button.is-style-outline .wp-element-button:not(.has-text-color),
.button.button-style-outline:not(.has-text-color) {
  color: var(--global-palette-btn-bg);
}

.wp-block-button.is-style-outline .wp-block-button__link:not(.has-text-color):hover,
.wp-block-button.is-style-outline .wp-block-button__link:not(.has-text-color):focus,
.wp-block-button.is-style-outline .wp-block-button__link:not(.has-text-color):active,
.wp-block-button.is-style-outline .wp-element-button:not(.has-text-color):hover,
.wp-block-button.is-style-outline .wp-element-button:not(.has-text-color):focus,
.wp-block-button.is-style-outline .wp-element-button:not(.has-text-color):active,
.button.button-style-outline:not(.has-text-color):hover,
.button.button-style-outline:not(.has-text-color):focus,
.button.button-style-outline:not(.has-text-color):active {
  color: var(--global-palette-btn-bg-hover);
}

body.social-brand-colors .social-show-brand-until.social-style-outline .social-button:not(:hover):not(.skip):not(.ignore),
body.social-brand-colors .social-show-brand-hover.social-style-outline .social-button:not(.ignore-brand):not(.skip):not(.ignore):hover,
body.social-brand-colors .social-show-brand-always.social-style-outline .social-button:not(.ignore-brand):not(.skip):not(.ignore) {
  border-color: currentColor;
}

.site-container,
.site-header-row-layout-contained,
.site-footer-row-layout-contained,
.entry-hero-layout-contained,
.alignfull>.wp-block-cover__inner-container,
.alignwide>.wp-block-cover__inner-container {
  margin: 0 auto;
  padding: 0 var(--global-content-edge-padding);
}

.site-container,
.site-header-row-layout-contained,
.site-footer-row-layout-contained,
.entry-hero-layout-contained,
.comments-area,
.alignfull>.wp-block-cover__inner-container,
.alignwide>.wp-block-cover__inner-container {
  max-width: var(--global-content-width);
}

button:hover,
button:focus,
button:active,
.button:hover,
.button:focus,
.button:active,
.wp-block-button__link:hover,
.wp-block-button__link:focus,
.wp-block-button__link:active,
input[type="button"]:hover,
input[type="button"]:focus,
input[type="button"]:active,
input[type="reset"]:hover,
input[type="reset"]:focus,
input[type="reset"]:active,
input[type="submit"]:hover,
input[type="submit"]:focus,
input[type="submit"]:active,
.elementor-button-wrapper .elementor-button:hover,
.elementor-button-wrapper .elementor-button:focus,
.elementor-button-wrapper .elementor-button:active,
.wc-block-cart__submit:hover {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 0px 0px;
}

#masthead,
#masthead .kadence-sticky-header.item-is-fixed:not(.item-at-start):not(.site-header-row-container):not(.site-main-header-wrap),
#masthead .kadence-sticky-header.item-is-fixed:not(.item-at-start)>.site-header-row-container-inner {
  background: rgb(255, 255, 255);
}

.header-navigation[class*="header-navigation-style-underline"] .header-menu-container.primary-menu-container>ul>li.current-menu-ancestor>a::after,
.header-navigation[class*="header-navigation-style-underline"] .header-menu-container.primary-menu-container>ul>li.current-page-parent>a::after,
.header-navigation[class*="header-navigation-style-underline"] .header-menu-container.primary-menu-container>ul>li.current-product-ancestor>a::after {
  transform: scale(1, 1) translate(50%, 0px);
}

.main-navigation .primary-menu-container>ul>li.menu-item.current-menu-item>a,
.main-navigation .primary-menu-container>ul>li.menu-item.current-menu-ancestor>a,
.main-navigation .primary-menu-container>ul>li.menu-item.current-page-parent>a,
.main-navigation .primary-menu-container>ul>li.menu-item.current-product-ancestor>a {
  color: var(--global-palette3);
}

#mobile-drawer .drawer-inner,
#mobile-drawer.popup-drawer-layout-fullwidth.popup-drawer-animation-slice .pop-portion-bg,
#mobile-drawer.popup-drawer-layout-fullwidth.popup-drawer-animation-slice.pop-animated.show-drawer .drawer-inner {
  background: var(--global-palette8);
}

.nav--toggle-sub li.menu-item--toggled-on>ul,
.nav--toggle-sub li:not(.menu-item--has-toggle):focus>ul,
.nav--toggle-sub.click-to-open li.menu-item--has-toggle>ul.opened,
.nav--toggle-sub:not(.click-to-open) li:hover>ul {
  display: block;
}

.pagination a:hover,
.pagination a:focus,
.pagination a:active,
.page-links a:hover,
.page-links a:focus,
.page-links a:active {
  border-color: var(--global-palette-btn-bg);
}

.archive.content-style-unboxed .entry,
.blog.content-style-unboxed .entry,
.post-type-archive.content-style-unboxed .entry,
.search-results.content-style-unboxed .entry {
  box-shadow: none;
}

.single-content address,
.single-content figure,
.single-content hr,
.single-content p,
.single-content table,
.single-content pre,
.single-content form,
.single-content .wp-block-buttons,
.single-content .wp-block-button,
.single-content .wc-block-grid,
.single-content .wp-block-kadence-advancedbtn,
.single-content .wp-block-media-text,
.single-content .wp-block-cover,
.single-content .entry-content-asset,
.single-content .wp-block-kadence-form,
.single-content .wp-block-group,
.single-content .wp-block-yoast-faq-block,
.single-content .wp-block-yoast-how-to-block,
.single-content .schema-faq-section,
.single-content .wp-block-kadence-tableofcontents,
.single-content .enlighter-default,
.single-content .wp-block-kadence-iconlist,
.single-content [class*=__inner-content] {
  margin-top: 0;
  margin-bottom: var(--global-md-spacing);
}

.single-content .elementor-widget-container:first-child:not(style) h1,
.single-content .elementor-widget-container:first-child:not(style) h2,
.single-content .elementor-widget-container:first-child:not(style) h3,
.single-content .elementor-widget-container:first-child:not(style) h4,
.single-content .elementor-widget-container:first-child:not(style) h5,
.single-content .elementor-widget-container:first-child:not(style) h6,
.single-content h1:first-child,
.single-content h2:first-child,
.single-content h3:first-child,
.single-content h4:first-child,
.single-content h5:first-child,
.single-content h6:first-child,
.single-content h1+*,
.single-content h2+*,
.single-content h3+*,
.single-content h4+*,
.single-content h5+*,
.single-content h6+* {
  margin-top: 0;
}

.single-content h1,
.single-content h2,
.single-content h3,
.single-content h4,
.single-content h5,
.single-content h6 {
  margin: 1.5em 0 .5em;
}

.single-content address:last-child,
.single-content figure:last-child,
.single-content hr:last-child,
.single-content p:last-child,
.single-content table:last-child,
.single-content pre:last-child,
.single-content form:last-child,
.single-content .wp-block-buttons:last-child,
.single-content .wp-block-button:last-child,
.single-content .wp-block-kadence-advancedbtn:last-child,
.single-content .wp-block-media-text:last-child,
.single-content .wp-block-cover:last-child,
.single-content .entry-content-asset:last-child,
.single-content .wp-block-kadence-form:last-child,
.single-content .wp-block-group:last-child,
.single-content .wp-block-yoast-faq-block:last-child,
.single-content .wp-block-yoast-how-to-block:last-child,
.single-content .schema-faq-section:last-child,
.single-content .wp-block-kadence-tableofcontents:last-child,
.single-content .enlighter-default:last-child,
.single-content .wp-block-kadence-iconlist:last-child,
.single-content h1:last-child,
.single-content h2:last-child,
.single-content h3:last-child,
.single-content h4:last-child,
.single-content h5:last-child,
.single-content h6:last-child,
.single-content ul:last-child,
.single-content ol:last-child {
  margin-bottom: 0;
}

.single-content h1.elementor-heading-title,
.single-content h2.elementor-heading-title,
.single-content h3.elementor-heading-title,
.single-content h4.elementor-heading-title,
.single-content h5.elementor-heading-title,
.single-content h6.elementor-heading-title {
  margin-bottom: 0.5em;
}

.archive.content-style-unboxed .wp-site-blocks .post-thumbnail,
.blog.content-style-unboxed .wp-site-blocks .post-thumbnail,
.post-type-archive.content-style-unboxed .wp-site-blocks .post-thumbnail,
.search-results.content-style-unboxed .wp-site-blocks .post-thumbnail {
  margin-bottom: 1em;
}

.kb-gallery-ul.kb-gallery-type-carousel,
.kb-gallery-ul.kb-gallery-type-slider,
.kb-gallery-ul.kb-gallery-type-thumbslider {
  display: block;
  margin: 0;
}

.kb-gallery-ul.kb-gallery-type-carousel .kadence-blocks-gallery-item .kb-has-image-ratio-inherit .kb-gal-image-radius,
.kb-gallery-ul.kb-gallery-type-slider .kadence-blocks-gallery-item .kb-has-image-ratio-inherit .kb-gal-image-radius,
.kb-gallery-ul.kb-gallery-type-thumbslider .kadence-blocks-gallery-item .kb-has-image-ratio-inherit .kb-gal-image-radius {
  border-radius: 0;
}

.kb-gallery-filter-grayscale .kb-gallery-image-contain img,
.kb-gal-light-filter-grayscale .gslide-media img,
.kb-gal-light-filter-grayscale .slbImageWrap img {
  filter: grayscale(1);
}

.kb-gallery-filter-sepia .kb-gallery-image-contain img,
.kb-gal-light-filter-sepia .gslide-media img,
.kb-gal-light-filter-sepia .slbImageWrap img {
  filter: sepia(0.5);
}

.kb-gallery-filter-saturation .kb-gallery-image-contain img,
.kb-gal-light-filter-saturation .gslide-media img,
.kb-gal-light-filter-saturation .slbImageWrap img {
  filter: saturate(1.6);
}

.kt-row-layout-inner>.kb-blocks-bg-slider .splide__track,
.kt-row-layout-inner>.kb-blocks-bg-slider .splide__list,
.kt-row-layout-inner>.kb-blocks-bg-slider .splide__slide,
.kt-row-layout-inner>.kb-blocks-bg-slider .kb-bg-slide-contain,
.kb-row-layout-wrap>.kb-blocks-bg-slider .splide__track,
.kb-row-layout-wrap>.kb-blocks-bg-slider .splide__list,
.kb-row-layout-wrap>.kb-blocks-bg-slider .splide__slide,
.kb-row-layout-wrap>.kb-blocks-bg-slider .kb-bg-slide-contain {
  height: 100%;
}

.single-content .kadence-advanced-heading-wrapper h1,
.single-content .kadence-advanced-heading-wrapper h2,
.single-content .kadence-advanced-heading-wrapper h3,
.single-content .kadence-advanced-heading-wrapper h4,
.single-content .kadence-advanced-heading-wrapper h5,
.single-content .kadence-advanced-heading-wrapper h6 {
  margin: 1.5em 0px 0.5em;
}

.wp-block-kadence-image .alignleft,
.wp-block-kadence-image .alignright,
.wp-block-kadence-image .aligncenter {
  display: table;
}

.wp-block-kadence-image .alignleft>figcaption,
.wp-block-kadence-image .alignright>figcaption,
.wp-block-kadence-image .aligncenter>figcaption {
  display: table-caption;
  caption-side: bottom;
}
