.fsFmUR {
  box-sizing: border-box;
  color: rgb(0, 0, 0);
  cursor: pointer;
  text-decoration: none;
}

.fsFmUR:focus-visible {
  outline: currentcolor solid 2px;
  outline-offset: 2px;
}

.xc2xuF {
  direction: var(--direction);
  max-width: 100%;
  min-width: 1.8em;
  text-overflow: var(--label-text-overflow);
  text-shadow: var(--text-shadow);
  white-space: var(--label-white-space);
}

.vWlb1f,
.xc2xuF,
[id^="comp-mm3lkuoh_r_comp-mlzaglw1__"] .comp-mm3lkuoh_r_comp-mlzaglw1-styleId__root .StylableButton2545352419__container,
[id^="comp-mm3lkuoh_r_comp-mlzb16cg5__"] .comp-mm3lkuoh_r_comp-mlzb16cg5-styleId__root .StylableButton2545352419__container,
[id^="comp-mm3lkuoh_r_comp-mlzcjjd0__"] .comp-mm3lkuoh_r_comp-mlzcjjd0-styleId__root .StylableButton2545352419__container,
#comp-mm3lkuoh_r_comp-mlzd5rql .comp-mm3lkuoh_r_comp-mlzd5rql-styleId__root .StylableButton2545352419__container,
#comp-mm3lkuoh_r_comp-mlzdfiub .comp-mm3lkuoh_r_comp-mlzdfiub-styleId__root .StylableButton2545352419__container,
#comp-mm3lkuoh_r_comp-mlze0a4j .comp-mm3lkuoh_r_comp-mlze0a4j-styleId__root .StylableButton2545352419__container,
#comp-mm3lkuoh_r_comp-mlze5cpw .comp-mm3lkuoh_r_comp-mlze5cpw-styleId__root .StylableButton2545352419__container {
  transition: inherit;
}

.vWlb1f {
  fill: var(--icon-color);
  flex-shrink: 0;
  height: var(--icon-size);
  min-width: 1px;
  order: var(--icon-order, 0);
  transform: rotate(var(--icon-rotation));
  width: var(--icon-size);
}

.ZZ6eh7:hover .xc2xuF,
.ZZ6eh7[data-preview="hover"] .xc2xuF {
  direction: var(--hover-direction, var(--direction));
  text-shadow: var(--hover-text-outline, var(--text-outline)), var(--hover-text-shadow, var(--text-shadow));
}

.ZZ6eh7:hover .vWlb1f,
.ZZ6eh7[data-preview="hover"] .vWlb1f {
  fill: var(--hover-icon-color, var(--icon-color));
  height: var(--hover-icon-size, var(--icon-size));
  transform: rotate(var(--hover-icon-rotation, var(--icon-rotation)));
  width: var(--hover-icon-size, var(--icon-size));
}

.ZZ6eh7 [data-preview="disabled"] .xc2xuF,
.ZZ6eh7:disabled .xc2xuF {
  direction: var(--disabled-direction, var(--direction));
  text-shadow: var(--disabled-text-outline, var(--text-outline)), var(--disabled-text-shadow, var(--text-shadow));
}

.ZZ6eh7 [data-preview="disabled"] .vWlb1f,
.ZZ6eh7:disabled .vWlb1f {
  fill: var(--disabled-icon-color, var(--icon-color));
  height: var(--disabled-icon-size, var(--icon-size));
  transform: rotate(var(--disabled-icon-rotation, var(--icon-rotation)));
  width: var(--disabled-icon-size, var(--icon-size));
}

.lbDFlq {
  background: var(--background);
  border-bottom: var(--border-bottom);
  border-bottom-left-radius: var(--border-bottom-left-radius);
  border-bottom-right-radius: var(--border-bottom-right-radius);
  border-left: var(--border-left);
  border-right: var(--border-right);
  border-top: var(--border-top);
  border-top-left-radius: var(--border-top-left-radius);
  border-top-right-radius: var(--border-top-right-radius);
  box-shadow: var(--box-shadow);
  gap: var(--content-gap, "0px");
  padding-bottom: var(--padding-bottom);
  padding-left: var(--padding-left);
  padding-right: var(--padding-right);
  padding-top: var(--padding-top);
}

.lbDFlq.ZuFxWa:not(:hover):not(:disabled) .e8R0Kq,
.DPAltb.EENh5d:not(:hover):not(:disabled) .HvvH6i {
  fill: var(--corvid-icon-color, var(--icon-color));
}

.yzRQH3 {
  background-color: var(--text-highlight, transparent);
  color: var(--color);
  display: var(--label-display);
  letter-spacing: var(--letter-spacing);
  line-height: var(--line-height);
  text-align: var(--text-align, revert);
  text-decoration-line: var(--text-decoration);
  text-shadow: var(--text-outline), var(--text-shadow);
  text-transform: var(--text-transform);
}

.lbDFlq:hover,
.lbDFlq[data-preview="hover"],
.DPAltb [data-preview="hover"],
.DPAltb:hover {
  background: var(--hover-background, var(--background));
  border-bottom: var(--hover-border-bottom, var(--border-bottom));
  border-bottom-left-radius: var(--hover-border-bottom-left-radius, var(--border-bottom-left-radius));
  border-bottom-right-radius: var(--hover-border-bottom-right-radius, var(--border-bottom-right-radius));
  border-left: var(--hover-border-left, var(--border-left));
  border-right: var(--hover-border-right, var(--border-right));
  border-top: var(--hover-border-top, var(--border-top));
  border-top-left-radius: var(--hover-border-top-left-radius, var(--border-top-left-radius));
  border-top-right-radius: var(--hover-border-top-right-radius, var(--border-top-right-radius));
  box-shadow: var(--hover-box-shadow, var(--box-shadow));
  padding-bottom: var(--hover-padding-bottom, var(--padding-bottom));
  padding-left: var(--hover-padding-left, var(--padding-left));
  padding-right: var(--hover-padding-right, var(--padding-right));
  padding-top: var(--hover-padding-top, var(--padding-top));
}

.lbDFlq.Mz0gd9:hover:not(:disabled),
.DPAltb.lpKmSx:hover:not(:disabled) {
  border-color: var(--corvid-hover-border-color, initial);
}

.lbDFlq.CQxNwr:hover:not(:disabled),
.DPAltb.bk6HFS:hover:not(:disabled) {
  background-color: var(--corvid-hover-background-color, var(--hover-background, var(--background)));
}

.lbDFlq [data-preview="disabled"],
.lbDFlq:disabled {
  background: var(--disabled-background, var(--background));
  border-bottom: var(--disabled-border-bottom, var(--border-bottom));
  border-bottom-left-radius: var(--disabled-border-bottom-left-radius, var(--border-bottom-left-radius));
  border-bottom-right-radius: var(--disabled-border-bottom-right-radius, var(--border-bottom-right-radius));
  border-left: var(--disabled-border-left, var(--border-left));
  border-right: var(--disabled-border-right, var(--border-right));
  border-top: var(--disabled-border-top, var(--border-top));
  border-top-left-radius: var(--disabled-border-top-left-radius, var(--border-top-left-radius));
  border-top-right-radius: var(--disabled-border-top-right-radius, var(--border-top-right-radius));
  box-shadow: var(--disabled-box-shadow, var(--box-shadow));
  padding-bottom: var(--disabled-padding-bottom, var(--padding-bottom));
  padding-left: var(--disabled-padding-left, var(--padding-left));
  padding-right: var(--disabled-padding-right, var(--padding-right));
  padding-top: var(--disabled-padding-top, var(--padding-top));
}

.lbDFlq.CSBGk_:disabled:not(:hover),
.DPAltb.ivX9Rv:disabled:not(:hover) {
  border-color: var(--corvid-disabled-border-color, initial);
}

.lbDFlq.n3ZijO:disabled:not(:hover),
.DPAltb.E9JJpO:disabled:not(:hover) {
  background-color: var(--corvid-disabled-background-color, var(--disabled-background, var(--background)));
}

.lbDFlq.Tdhk2t:not(:hover):not(:disabled),
.DPAltb.HJQL50:not(:hover):not(:disabled) {
  border-color: var(--corvid-border-color, initial);
}

.lbDFlq.cqCqG2:not(:hover):not(:disabled),
.DPAltb.JYQq3z:not(:hover):not(:disabled) {
  background-color: var(--corvid-background-color, var(--background));
}

.lbDFlq.aX6PDi:not(:hover):not(:disabled) .yzRQH3,
.DPAltb.spiv_Z:not(:hover):not(:disabled) .gIbEBg {
  color: var(--corvid-color, var(--color));
}

.lbDFlq:hover .yzRQH3,
.lbDFlq[data-preview="hover"] .yzRQH3 {
  background-color: var(--hover-text-highlight, var(--text-highlight, transparent));
  color: var(--hover-color, var(--color));
  display: var(--hover-label-display, var(--label-display));
  letter-spacing: var(--hover-letter-spacing, var(--letter-spacing));
  line-height: var(--hover-line-height, var(--line-height));
  text-align: var(--hover-text-align, var(--text-align, revert));
  text-decoration-line: var(--hover-text-decoration, var(--text-decoration));
  text-transform: var(--hover-text-transform, var(--text-transform));
}

.lbDFlq.sBjSBl:hover:not(:disabled) .yzRQH3,
.DPAltb.pkDIbl:hover:not(:disabled) .gIbEBg {
  color: var(--corvid-hover-color, var(--hover-color, var(--color)));
}

.lbDFlq [data-preview="disabled"] .yzRQH3,
.lbDFlq:disabled .yzRQH3 {
  background-color: var(--disabled-text-highlight, var(--text-highlight, transparent));
  color: var(--disabled-color, var(--color));
  display: var(--disabled-label-display, var(--label-display));
  letter-spacing: var(--disabled-letter-spacing, var(--letter-spacing));
  line-height: var(--disabled-line-height, var(--line-height));
  text-align: var(--disabled-text-align, var(--text-align, revert));
  text-decoration-line: var(--disabled-text-decoration, var(--text-decoration));
  text-transform: var(--disabled-text-transform, var(--text-transform));
}

.lbDFlq._cO7gN:disabled:not(:hover) .yzRQH3,
.DPAltb.FOmtsV:disabled:not(:hover) .gIbEBg {
  color: var(--corvid-disabled-color, var(--disabled-color, var(--color)));
}

.lbDFlq._7k2wh7:hover:not(:disabled) .e8R0Kq,
.DPAltb.tN8hsm:hover:not(:disabled) .HvvH6i {
  fill: var(--corvid-hover-icon-color, var(--hover-icon-color, var(--icon-color)));
}

.lbDFlq.wTkyAx:disabled:not(:hover) .e8R0Kq,
.DPAltb.lVrFcO:disabled:not(:hover) .HvvH6i {
  fill: var(--corvid-disabled-icon-color, var(--disabled-icon-color, var(--icon-color)));
}

.e8R0Kq {
  display: var(--icon-display);
}

.lbDFlq:hover .e8R0Kq,
.lbDFlq[data-preview="hover"] .e8R0Kq {
  display: var(--hover-icon-display, var(--icon-display));
}

.lbDFlq:disabled .e8R0Kq,
.lbDFlq[data-preview="disabled"] .e8R0Kq {
  display: var(--disabled-icon-display, var(--icon-display));
}

.lyNaha {
  mix-blend-mode: var(--blendMode, normal);
  position: relative;
}

.lyNaha img {
  display: block;
  height: 100%;
  -webkit-mask-image: var(--mask-image, none);
  mask-image: var(--mask-image, none);
  -webkit-mask-position: var(--mask-position, 0);
  mask-position: var(--mask-position, 0);
  -webkit-mask-repeat: var(--mask-repeat, no-repeat);
  mask-repeat: var(--mask-repeat, no-repeat);
  -webkit-mask-size: var(--mask-size, 100% 100%);
  mask-size: var(--mask-size, 100% 100%);
  opacity: var(--mediaOpacity, 1);
  width: 100%;
}

.lyNaha.JdNFxG img,
.YCPMeD.JdNFxG img {
  -o-object-fit: var(--responsive-img-object-fit);
  object-fit: var(--responsive-img-object-fit);
}

.lyNaha .h1DYhE {
  background-color: rgba(var(--backgroundColor, var(--color_8, color_8)), var(--alpha-backgroundColor, 1));
  border-color: rgba(var(--borderColor, var(--color_8, color_8)), var(--alpha-borderColor, 1));
  border-radius: var(--cornerRadius, 0);
  border-style: solid;
  border-width: var(--borderWidth, 0);
  bottom: 0;
  box-shadow: var(--boxShadow, none);
  box-sizing: border-box;
  left: 0;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 0;
}

.lyNaha .h1DYhE .Ux33nC {
  box-sizing: content-box;
  height: 100%;
  inset: calc(-1*var(--borderWidth, 0));
  padding: var(--borderWidth, 0);
  position: absolute;
  width: 100%;
}

.lyNaha .QebvG3 .Ux33nC {
  inset: 0;
  padding: 0;
}

.YCPMeD {
  background-color: rgba(var(--backgroundColor, var(--color_8, color_8)), var(--alpha-backgroundColor, 1));
  border-color: rgba(var(--borderColor, var(--color_8, color_8)), var(--alpha-borderColor, 1));
  border-radius: var(--cornerRadius, 0);
  border-style: solid;
  border-width: var(--borderWidth, 0);
  box-shadow: var(--boxShadow, none);
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
}

.YCPMeD:has(a:focus-visible) {
  outline-offset: 1px;
}

.YCPMeD .h1DYhE,
.YCPMeD .h1DYhE .Ux33nC {
  bottom: 0;
  height: 100%;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
}

.YCPMeD img {
  display: block;
  height: 100%;
  opacity: var(--mediaOpacity, 1);
  width: 100%;
}

.DPAltb {
  background: var(--background);
  border-bottom: var(--border-bottom);
  border-bottom-left-radius: var(--border-bottom-left-radius);
  border-bottom-right-radius: var(--border-bottom-right-radius);
  border-left: var(--border-left);
  border-right: var(--border-right);
  border-top: var(--border-top);
  border-top-left-radius: var(--border-top-left-radius);
  border-top-right-radius: var(--border-top-right-radius);
  box-shadow: var(--box-shadow);
  box-sizing: border-box;
  cursor: pointer;
  direction: var(--btn-direction);
  display: block;
  height: 100%;
  min-height: 10px;
  min-width: var(--btn-min-width);
  padding-bottom: var(--padding-bottom);
  padding-left: var(--padding-left);
  padding-right: var(--padding-right);
  padding-top: var(--padding-top);
  touch-action: manipulation;
  width: 100%;
}

.DPAltb [data-preview="disabled"],
.DPAltb:disabled {
  background: var(--disabled-background, var(--background));
  border-bottom: var(--disabled-border-bottom, var(--border-bottom));
  border-bottom-left-radius: var(--disabled-border-bottom-left-radius, var(--border-bottom-left-radius));
  border-bottom-right-radius: var(--disabled-border-bottom-right-radius, var(--border-bottom-right-radius));
  border-left: var(--disabled-border-left, var(--border-left));
  border-right: var(--disabled-border-right, var(--border-right));
  border-top: var(--disabled-border-top, var(--border-top));
  border-top-left-radius: var(--disabled-border-top-left-radius, var(--border-top-left-radius));
  border-top-right-radius: var(--disabled-border-top-right-radius, var(--border-top-right-radius));
  box-shadow: var(--disabled-box-shadow, var(--box-shadow));
  cursor: default;
  padding-bottom: var(--disabled-padding-bottom, var(--padding-bottom));
  padding-left: var(--disabled-padding-left, var(--padding-left));
  padding-right: var(--disabled-padding-right, var(--padding-right));
  padding-top: var(--disabled-padding-top, var(--padding-top));
}

.gIbEBg {
  background-color: var(--text-highlight, transparent);
  color: var(--color);
  direction: var(--direction);
  display: var(--label-display);
  letter-spacing: var(--letter-spacing);
  line-height: var(--line-height);
  max-width: 100%;
  min-width: 1.8em;
  overflow: var(--overflow, hidden);
  text-align: var(--text-align, revert);
  text-decoration-line: var(--text-decoration);
  text-overflow: var(--label-text-overflow);
  text-shadow: var(--text-outline), var(--text-shadow);
  text-transform: var(--text-transform);
  transition: inherit;
  white-space: var(--label-white-space);
}

.DPAltb [data-preview="hover"] .gIbEBg,
.DPAltb:hover .gIbEBg {
  background-color: var(--hover-text-highlight, var(--text-highlight, transparent));
  color: var(--hover-color, var(--color));
  direction: var(--hover-direction, var(--direction));
  display: var(--hover-label-display, var(--label-display));
  letter-spacing: var(--hover-letter-spacing, var(--letter-spacing));
  line-height: var(--hover-line-height, var(--line-height));
  text-align: var(--hover-text-align, var(--text-align, revert));
  text-decoration-line: var(--hover-text-decoration, var(--text-decoration));
  text-shadow: var(--hover-text-outline, var(--text-outline)), var(--hover-text-shadow, var(--text-shadow));
  text-transform: var(--hover-text-transform, var(--text-transform));
}

.DPAltb [data-preview="disabled"] .gIbEBg,
.DPAltb:disabled .gIbEBg {
  background-color: var(--disabled-text-highlight, var(--text-highlight, transparent));
  color: var(--disabled-color, var(--color));
  direction: var(--disabled-direction, var(--direction));
  display: var(--disabled-label-display, var(--label-display));
  letter-spacing: var(--disabled-letter-spacing, var(--letter-spacing));
  line-height: var(--disabled-line-height, var(--line-height));
  text-align: var(--disabled-text-align, var(--text-align, revert));
  text-decoration-line: var(--disabled-text-decoration, var(--text-decoration));
  text-shadow: var(--disabled-text-outline, var(--text-outline)), var(--disabled-text-shadow, var(--text-shadow));
  text-transform: var(--disabled-text-transform, var(--text-transform));
}

.wpLgnL {
  align-items: var(--container-align-items);
  display: flex;
  flex-basis: auto;
  flex-direction: var(--container-flex-direction);
  flex-grow: 1;
  gap: var(--content-gap, "0px");
  height: 100%;
  justify-content: var(--container-justify-content);
  overflow: hidden;
  transition: all 0.4s ease 0s, visibility 0s ease 0s;
  width: 100%;
}

.HvvH6i {
  fill: var(--icon-color);
  display: var(--icon-display);
  flex-shrink: 0;
  height: var(--icon-size);
  min-width: 1px;
  order: var(--icon-order, 0);
  transform: rotate(var(--icon-rotation));
  transition: inherit;
  width: var(--icon-size);
}

.DPAltb [data-preview="hover"] .HvvH6i,
.DPAltb:hover .HvvH6i {
  fill: var(--hover-icon-color, var(--icon-color));
  display: var(--hover-icon-display, var(--icon-display));
  height: var(--hover-icon-size, var(--icon-size));
  transform: rotate(var(--hover-icon-rotation, var(--icon-rotation)));
  width: var(--hover-icon-size, var(--icon-size));
}

.DPAltb [data-preview="disabled"] .HvvH6i,
.DPAltb:disabled .HvvH6i {
  fill: var(--disabled-icon-color, var(--icon-color));
  display: var(--disabled-icon-display, var(--icon-display));
  height: var(--disabled-icon-size, var(--icon-size));
  transform: rotate(var(--disabled-icon-rotation, var(--icon-rotation)));
  width: var(--disabled-icon-size, var(--icon-size));
}

.snt4Te {
  direction: var(--direction);
  text-align: var(--align);
}

.snt4Te .rEindN {
  appearance: none;
  background-color: var(--corvid-background-color, rgba(var(--bg, 255, 255, 255), var(--alpha-bg, 1)));
  border-color: var(--corvid-border-color, rgba(var(--brd, 227, 227, 227), var(--alpha-brd, 1)));
  border-radius: var(--corvid-border-radius, var(--rd, 0));
  border-style: solid;
  border-width: var(--corvid-border-width, var(--brw, 1px));
  box-shadow: var(--shd, 0 0 0 transparent);
  color: var(--corvid-color, rgb(var(--txt, var(--color_15, color_15))));
  direction: var(--inputDirection);
  display: block;
  font: var(--fnt, var(--font_8));
  height: var(--inputHeight);
  margin: 0px;
  max-width: 100%;
  min-width: 100%;
  overflow-y: auto;
  padding-bottom: 3px;
  padding-inline-end: var(--textPaddingEnd);
  padding-inline-start: var(--textPaddingStart);
  padding-top: 0.75em;
  resize: none;
  text-align: var(--inputAlign, "inherit");
}

.snt4Te .rEindN::placeholder,
.lk9PkF .rEindN::placeholder {
  color: rgb(var(--txt2, var(--color_15, color_15)));
}

#SITE_CONTAINER.focus-ring-active.keyboard-tabbing-on .snt4Te .rEindN:focus,
#SITE_CONTAINER.focus-ring-active.keyboard-tabbing-on .lk9PkF .rEindN:focus {
  box-shadow: rgb(255, 255, 255) 0px 0px 1px 2px;
  outline: rgb(17, 109, 255) solid 2px;
  outline-offset: 1px;
}

.snt4Te .rEindN:hover,
.lk9PkF .rEindN:hover {
  background-color: rgba(var(--bgh, 255, 255, 255), var(--alpha-bgh, 1));
  border-color: rgba(var(--brdh, 163, 217, 246), var(--alpha-brdh, 1));
  border-style: solid;
  border-width: var(--brwh, 1px);
}

.snt4Te .rEindN:disabled,
.lk9PkF .rEindN:disabled {
  background-color: rgba(var(--bgd, 204, 204, 204), var(--alpha-bgd, 1));
  border-color: rgba(var(--brdd, 163, 217, 246), var(--alpha-brdd, 1));
  border-style: solid;
  border-width: var(--brwd, 1px);
  color: rgb(var(--txtd, 255, 255, 255));
  pointer-events: none;
}

.snt4Te:not(.pOExcs) .rEindN:focus,
.snt4Te.pOExcs .rEindN:not(:invalid):focus,
.lk9PkF:not(.pOExcs) .rEindN:focus,
.lk9PkF.pOExcs .rEindN:not(:invalid):focus {
  background-color: rgba(var(--bgf, 255, 255, 255), var(--alpha-bgf, 1));
  border-color: rgba(var(--brdf, 163, 217, 246), var(--alpha-brdf, 1));
  border-style: solid;
  border-width: var(--brwf, 1px);
}

.snt4Te.pOExcs .rEindN:invalid,
.lk9PkF.pOExcs .rEindN:invalid {
  background-color: rgba(var(--bge, 255, 255, 255), var(--alpha-bge, 1));
  border-color: rgba(var(--brde, 163, 217, 246), var(--alpha-brde, 1));
  border-style: solid;
  border-width: var(--brwe, 1px);
}

.snt4Te.oKe0Po .PSkPrR,
.lk9PkF.oKe0Po .PSkPrR {
  box-sizing: border-box;
  color: rgb(var(--txtlbl, var(--color_15, color_15)));
  direction: var(--labelDirection);
  display: inline-block;
  line-height: 1;
  margin-bottom: var(--labelMarginBottom, 14px);
  padding-inline-end: var(--labelPadding_end, 0);
  padding-inline-start: var(--labelPadding_start, 0);
  text-align: var(--labelAlign, inherit);
  width: 100%;
  word-break: break-word;
}

.snt4Te.oKe0Po.NyPO4H .PSkPrR::after,
.lk9PkF.oKe0Po.NyPO4H .PSkPrR::after {
  color: rgba(var(--txtlblrq, 0, 0, 0), var(--alpha-txtlblrq, 0));
  content: " *";
  display: var(--requiredIndicationDisplay, none);
}

.lk9PkF {
  --display: flex;
  direction: var(--direction);
  display: var(--display);
  flex-direction: column;
  text-align: var(--align);
}

.lk9PkF .rEindN {
  appearance: none;
  background-color: var(--corvid-background-color, rgba(var(--bg, 255, 255, 255), var(--alpha-bg, 1)));
  border-color: var(--corvid-border-color, rgba(var(--brd, 227, 227, 227), var(--alpha-brd, 1)));
  border-radius: var(--corvid-border-radius, var(--rd, 0));
  border-style: solid;
  border-width: var(--corvid-border-width, var(--brw, 1px));
  box-shadow: var(--shd, 0 0 0 transparent);
  color: var(--corvid-color, rgb(var(--txt, var(--color_15, color_15))));
  direction: var(--inputDirection);
  flex: 1 1 0%;
  font: var(--fnt, var(--font_8));
  height: 100%;
  margin: 0px;
  overflow-y: auto;
  padding-bottom: 3px;
  padding-inline-end: var(--textPaddingEnd);
  padding-top: var(--textPaddingTop);
  padding-inline-start: var(--textPaddingStart);
  resize: none;
  text-align: var(--inputAlign, "inherit");
  width: 100%;
}

.wBdYEC {
  align-items: center;
  color: rgb(var(--errorTextColor, #ff4040));
  direction: var(--errorDirection);
  display: flex;
  flex-direction: row;
  gap: 4px;
  justify-content: var(--errorAlign, inherit);
  padding: 8px 0px 0px;
}

.wBdYEC .cfVDAB {
  flex: 0 0 auto;
  order: 0;
}

.wBdYEC .YCipIB {
  display: inline-block;
  flex-grow: 0;
  line-height: 1;
  order: 1;
  word-break: break-word;
}

.V0iFrQ {
  --force-state-metadata: focus;
}

.GJNNot {
  --display: inline-flex;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  align-items: center;
  align-self: var(--align);
  display: var(--display);
  height: 100%;
  outline: none;
  position: relative;
  width: 100%;
}

.GJNNot .LA2Bfs {
  background-color: rgba(var(--backgroundColor, var(--color_5, color_5)), var(--alpha-backgroundColor, 1));
  border-color: rgba(var(--outerLabelBorderColor, var(--color_18, color_18)), var(--alpha-outerLabelBorderColor, 1));
  border-radius: var(--borderRadius, 12px);
  border-style: solid;
  border-width: var(--outerLabelBorderSize, 0);
  box-shadow: var(--outerLabelBoxShadow, 1.5px 1.5px 1px rgba(0, 0, 0, .2));
  display: inline-block;
  height: var(--outerLabelHeight, 24px);
  width: var(--outerLabelWidth, 100%);
}

.GJNNot .A7PBVX,
.GJNNot .LA2Bfs {
  box-sizing: border-box;
  cursor: pointer;
  transition: all 0.3s ease 0s, visibility 0s ease 0s;
}

.GJNNot .A7PBVX {
  align-items: center;
  background-color: rgba(var(--innerLabelBackgroundColor, var(--color_13, color_13)), var(--alpha-innerLabelBackgroundColor, 1));
  border-color: rgba(var(--innerLabelBorderColor, var(--color_23, color_23)), var(--alpha-innerLabelBorderColor, 1));
  border-radius: var(--borderRadius, 12px);
  border-style: solid;
  border-width: var(--innerLabelBorderSize, 0);
  box-shadow: var(--innerLabelBoxShadow, 1.5px 1.5px 1px rgba(0, 0, 0, .2));
  display: flex;
  height: var(--innerLabelHeight, 22px);
  inset-inline-start: var(--labelMovementRangeUnchecked, 1px);
  justify-content: center;
  position: absolute;
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
  width: var(--innerLabelWidth, 21px);
}

.GJNNot .CBZure {
  display: var(--toggleIconDisplay, none);
  height: 50%;
  transition: all 0.3s cubic-bezier(1, 0, 1, 0) 0s, visibility 0s ease 0s;
  width: 50%;
}

.GJNNot .CBZure path {
  fill: rgba(var(--color, var(--color_6, color_6)), var(--alpha-color, 1));
}

.GJNNot.lK3CDB .LA2Bfs {
  background-color: rgba(var(--backgroundColorChecked, var(--color_4, color_4)), var(--alpha-backgroundColorChecked, 1));
  border-color: rgba(var(--outerLabelBorderColorChecked, var(--color_19, color_19)), var(--alpha-outerLabelBorderColorChecked, 1));
  border-width: var(--outerLabelBorderSizeChecked, 0);
}

.GJNNot.lK3CDB .A7PBVX {
  background-color: rgba(var(--innerLabelBackgroundColorChecked, var(--color_14, color_14)), var(--alpha-innerLabelBackgroundColorChecked, 1));
  border-color: rgba(var(--innerLabelBorderColorChecked, var(--color_24, color_24)), var(--alpha-innerLabelBorderColorChecked, 1));
  border-width: var(--innerLabelBorderSizeChecked, 0);
  inset-inline-start: var(--labelMovementRangeChecked, 50%);
}

.GJNNot.lK3CDB .CBZure {
  transition: all 0.3s cubic-bezier(0, 1, 0, 1) 0s, visibility 0s ease 0s;
}

.GJNNot.lK3CDB .CBZure path {
  fill: rgba(var(--colorChecked, var(--color_7, color_7)), var(--alpha-colorChecked, 1));
}

.GJNNot.HQwdOR .LA2Bfs {
  background-color: rgba(var(--backgroundColorDisabled, var(--color_3, color_3)), var(--alpha-backgroundColorDisabled, 1));
  border-color: rgba(var(--outerLabelBorderColorDisabled, var(--color_20, color_20)), var(--alpha-outerLabelBorderColorDisabled, 1));
  border-width: var(--outerLabelBorderSizeDisabled, 0);
  cursor: default;
}

.GJNNot.HQwdOR .A7PBVX {
  background-color: rgba(var(--innerLabelBackgroundColorDisabled, var(--color_15, color_15)), var(--alpha-innerLabelBackgroundColorDisabled, 1));
  border-color: rgba(var(--innerLabelBorderColorDisabled, var(--color_25, color_25)), var(--alpha-innerLabelBorderColorDisabled, 1));
  border-width: var(--outerLabelBorderSizeDisabled, 0);
  cursor: default;
}

.GJNNot.HQwdOR .CBZure path,
.GJNNot:hover.HQwdOR .CBZure path {
  fill: rgba(var(--colorDisabled, var(--color_8, color_8)), var(--alpha-colorDisabled, 1));
}

.GJNNot.V0iFrQ {
  outline: var(--focusOutline, none);
}

.GJNNot.V0iFrQ .LA2Bfs,
.GJNNot.V0iFrQ.HQwdOR .LA2Bfs {
  background-color: rgba(var(--backgroundColorFocus, var(--color_6, color_6)), var(--alpha-backgroundColorFocus, 1));
  border-color: rgba(var(--outerLabelBorderColorFocus, var(--color_23, color_23)), var(--alpha-outerLabelBorderColorFocus, 1));
  border-width: var(--outerLabelBorderSizeFocus, 0);
}

.GJNNot:hover .LA2Bfs {
  background-color: rgba(var(--backgroundColorHover, var(--color_2, color_2)), var(--alpha-backgroundColorHover, 1));
  border-color: rgba(var(--outerLabelBorderColorHover, var(--color_21, color_21)), var(--alpha-outerLabelBorderColorHover, 1));
  border-width: var(--outerLabelBorderSizeHover, 0);
}

.GJNNot:hover .A7PBVX {
  background-color: rgba(var(--innerLabelBackgroundColorHover, var(--color_16, color_16)), var(--alpha-innerLabelBackgroundColorHover, 1));
  border-color: rgba(var(--innerLabelBorderColorHover, var(--color_26, color_26)), var(--alpha-innerLabelBorderColorHover, 1));
  border-width: var(--innerLabelBorderSizeHover, 0);
}

.GJNNot:hover .CBZure path {
  fill: rgba(var(--colorHover, var(--color_10, color_10)), var(--alpha-colorHover, 1));
}

.GJNNot:hover.lK3CDB .LA2Bfs {
  background-color: rgba(var(--backgroundColorHoverChecked, var(--color_1, color_1)), var(--alpha-backgroundColorHoverChecked, 1));
  border-color: rgba(var(--outerLabelBorderColorHoverChecked, var(--color_22, color_22)), var(--alpha-outerLabelBorderColorHoverChecked, 1));
  border-width: var(--outerLabelBorderSizeHoverChecked, 0);
}

.GJNNot:hover.lK3CDB .A7PBVX {
  background-color: rgba(var(--innerLabelBackgroundColorHoverChecked, var(--color_17, color_17)), var(--alpha-innerLabelBackgroundColorHoverChecked, 1));
  border-color: rgba(var(--innerLabelBorderColorHoverChecked, var(--color_27, color_27)), var(--alpha-innerLabelBorderColorHoverChecked, 1));
  border-width: var(--innerLabelBorderSizeHoverChecked, 0);
}

.GJNNot:hover.lK3CDB .CBZure path {
  fill: rgba(var(--colorHoverChecked, var(--color_11, color_11)), var(--alpha-colorHoverChecked, 1));
}

.GJNNot:hover.HQwdOR .LA2Bfs {
  background-color: rgba(var(--backgroundColorDisabled, var(--color_3, color_3)), var(--alpha-backgroundColorDisabled, 1));
  border-color: rgba(var(--outerLabelBorderColorDisabled, var(--color_20, color_20)), var(--alpha-outerLabelBorderColorDisabled, 1));
  border-width: var(--outerLabelBorderSizeDisabled, 0);
}

.GJNNot:hover.HQwdOR .A7PBVX {
  background-color: rgba(var(--innerLabelBackgroundColorDisabled, var(--color_15, color_15)), var(--alpha-innerLabelBackgroundColorDisabled, 1));
  border-color: rgba(var(--innerLabelBorderColorDisabled, var(--color_25, color_25)), var(--alpha-innerLabelBorderColorDisabled, 1));
  border-width: var(--outerLabelBorderSizeDisabled, 0);
}

.oBDOaT.K9RHEX {
  min-width: var(--switchWidth, 48px);
}

.oBDOaT.K9RHEX .GJNNot {
  height: var(--switchHeight);
  min-height: 24px;
  min-width: 48px;
  width: var(--switchWidth);
}

.Z70Y7w {
  text-wrap: var(--titleWrap);
  box-sizing: border-box;
  color: rgb(var(--txtlbl, var(--color_15, color_15)));
  display: inline-block;
  line-height: 1;
  margin-bottom: var(--labelMarginBottom);
  padding-inline-end: var(--labelPadding_end);
  padding-inline-start: var(--labelPadding_start);
  text-align: var(--align);
  width: 100%;
  word-break: break-word;
}

._pfxlW {
  clip-path: inset(50%);
  height: 24px;
  position: absolute;
  width: 24px;
}

._pfxlW:active,
._pfxlW:focus {
  clip-path: unset;
  right: 0px;
  top: 50%;
  transform: translateY(-50%);
}

._pfxlW.RG3k61 {
  transform: translateY(-50%) rotate(180deg);
}

.r4OX7l,
.xTjc1A {
  box-sizing: border-box;
  height: 100%;
  overflow: visible;
  position: relative;
  width: auto;
}

.r4OX7l .UiHgGh,
.xTjc1A .UiHgGh {
  display: inline-block;
  height: 100%;
  width: 100%;
}

.xTjc1A {
  --display: inline-block;
  cursor: pointer;
  display: var(--display);
  font: var(--fnt, var(--font_1));
}

.xTjc1A .yRj2ms {
  padding: 0 var(--pad, 5px);
}

.xTjc1A .JS76Uv {
  color: rgb(var(--txt, var(--color_15, color_15)));
  display: inline-block;
  padding: 0px 10px;
  transition: var(--trans, color .4s ease 0s);
}

.xTjc1A[data-state~="drop"],
.NHM1d1 .R_TAzU .y7qwii .mvZ3NH {
  display: block;
  width: 100%;
}

.xTjc1A[data-state~="drop"] .JS76Uv {
  padding: 0px 0.5em;
}

.xTjc1A[data-state~="link"]:hover .JS76Uv,
.xTjc1A[data-state~="over"] .JS76Uv {
  color: rgb(var(--txth, var(--color_14, color_14)));
  transition: var(--trans, color .4s ease 0s);
}

.xTjc1A[data-state~="selected"] .JS76Uv {
  color: rgb(var(--txts, var(--color_14, color_14)));
  transition: var(--trans, color .4s ease 0s);
}

.NHM1d1 {
  overflow-x: hidden;
}

.NHM1d1 .R_TAzU {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.NHM1d1 .R_TAzU .aOF1ks {
  flex: 1 1 0%;
}

.NHM1d1 .R_TAzU .y7qwii {
  height: calc(100% - (var(--menuTotalBordersY, 0px)));
  overflow: visible;
  white-space: nowrap;
  width: calc(100% - (var(--menuTotalBordersX, 0px)));
}

.NHM1d1 .R_TAzU .y7qwii .Tg1gOB,
.NHM1d1 .R_TAzU .y7qwii .p90CkU {
  direction: var(--menu-direction);
  display: inline-block;
  text-align: var(--menu-align, var(--align));
}

.NHM1d1 .h3jCPd {
  direction: var(--submenus-direction);
  display: block;
  opacity: 1;
  text-align: var(--submenus-align, var(--align));
  z-index: 99999;
}

.NHM1d1 .h3jCPd .wkJ2fp {
  display: inherit;
  overflow: visible;
  visibility: inherit;
  white-space: nowrap;
  width: auto;
}

.NHM1d1 .h3jCPd.DlGBN0 {
  transition: visibility 0s ease 0.2s;
  visibility: visible;
}

.NHM1d1 .h3jCPd .p90CkU {
  display: inline-block;
}

.XwCBRN>nav {
  inset: 0px;
}

.XwCBRN .h3jCPd {
  margin-top: 7px;
  visibility: hidden;
}

.XwCBRN .h3jCPd[data-dropmode="dropUp"] {
  margin-bottom: 7px;
  margin-top: 0px;
}

.XwCBRN .wkJ2fp {
  background-color: rgba(var(--bgDrop, var(--color_11, color_11)), var(--alpha-bgDrop, 1));
  border-radius: var(--rd, 0);
  box-shadow: var(--shd, 0 1px 4px rgba(0, 0, 0, .6));
}

.P0dCOY .PJ4KCX {
  background-color: rgba(var(--bg, var(--color_11, color_11)), var(--alpha-bg, 1));
  inset: 0px;
  overflow: hidden;
  position: absolute;
}

.xpmKd_ {
  border-radius: var(--overflow-wrapper-border-radius);
}

.O7Ybkb,
.xuzjBY {
  background-color: rgba(var(--bg, var(--color_11, color_11)), var(--alpha-bg, 1));
}

.xuzjBY>.MW5IWV .LWbAav {
  background-color: var(--section-corvid-background-color, var(--bg-overlay-color, rgba(var(--bg, var(--color_11, color_11)), var(--alpha-bg, 1))));
}

.V7OeEw {
  transition-delay: var(--transition-delay);
  transition-duration: var(--transition-duration);
  transition-property: var(--transition-property);
  transition-timing-function: var(--transition-timing-function);
}

.V7OeEw.MDGLoD {
  transition-property: var(--transition-property), visibility;
  visibility: visible;
}

.V7OeEw.BHIo43 {
  transform: var(--scrolled-transform) translateY(calc(-1 * var(--padding-top, 0px)));
}

.V7OeEw.UvF1nu {
  opacity: var(--scrolled-opacity);
}

.V7OeEw.UvF1nu.MDGLoD {
  transition-delay: var(--transition-delay), calc(var(--transition-duration) + var(--transition-delay));
  visibility: hidden;
}
