#comp-mn1olrgo,
#comp-moh5bdll,
#comp-moh4tkzb,
#comp-moh4v3po,
#comp-moh4gh8x,
#comp-mkfg9dki,
#comp-mceuv0dk,
#comp-mm39psib,
#comp-mm3lkuoh_r_comp-lbf1lwox,
#comp-mm3lkuoh_r_comp-mm1vlh8i,
[id^="comp-mm3lkuoh_r_comp-mlz2pcv4__"],
[id^="comp-mm3lkuoh_r_comp-mlz2rqxl__"],
[id^="comp-mm3lkuoh_r_comp-mlzaxc64__"],
[id^="comp-mm3lkuoh_r_comp-mlzb16cc4__"],
[id^="comp-mm3lkuoh_r_comp-mlzcjjcm3__"],
#comp-mm3lkuoh_r_comp-mlzd2gcp,
#comp-mm3lkuoh_r_comp-mlzddw5m,
#comp-mm3lkuoh_r_comp-mlzdx2y4,
#comp-mm3lkuoh_r_comp-mlze0a4d,
#comp-mm3lkuoh_r_comp-mm1usvok,
#comp-mm3ab1u6,
[id^="comp-mkfhb28y__"],
#comp-mneng8co,
#comp-ml97tjnz,
#comp-mkttzl9x,
#comp-mkl50y1q,
#comp-mkjlvbdx,
#comp-mkjizkz6,
#comp-mkjjdoez,
#comp-mkjlx85n,
#comp-mkjlxgok,
#comp-mkjnaf8t,
#comp-mkjm5rtm,
#comp-mkjrfysy,
#comp-mkjspb1a,
#comp-mkjskcqe,
#comp-mkjsxdgk,
#comp-mkjnbax3,
#comp-mkl7gqc9,
#comp-mkl7gqcd3,
#comp-mkl7gqcd17,
#comp-mkl7gqce9,
#comp-mkl7gqch3,
#comp-mkjncchp,
#comp-mkl7gs2g,
#comp-mkl7gs2j13,
#comp-mkl7gs2k8,
#comp-mkl7gs2k18,
#comp-mkl7gs2q8,
#comp-mkjncvg7,
#comp-mkl7gtp8,
#comp-mkl7gtpb9,
#comp-mkl7gtpc3,
#comp-mkl7gtpc13,
#comp-mkl7gtpf13,
#comp-mkl28q1n,
#comp-mkkxvuhz,
#comp-mkkyitkz,
#comp-mktiyqbl,
#comp-mktinwc6,
#comp-mkkzj89e,
#comp-mkky3ksb,
#comp-mkmce6uk,
#comp-mkmfuyar,
#comp-mkmdxayt,
[id^="comp-mkmdyjqk2__"],
#comp-mkme4lbw,
#comp-mkme55mh8,
#comp-mkme8mn1,
#comp-mkme55ml,
#comp-mkmejikd,
#comp-mkmenefd,
#comp-mcfzrcoe1,
#comp-mcfzswlv_r_comp-lbf1lwox,
[id^="comp-mcfzswlv_r_comp-mcfy7ine__"],
[id^="comp-mcfzswlv_r_comp-mcfy7ink__"],
[id^="comp-mcfzswlv_r_comp-mcfy7iob__"],
#comp-mknu6y0j7,
#comp-mknu6y0x17 {
  --shc-mutated-brightness: 128, 128, 128;
}

#comp-moh4j5jb,
#comp-mn1olrhw,
#comp-mcets29t,
#comp-mcettcd3,
[id^="comp-mm3lkuoh_r_comp-mlzc5kpi__"],
[id^="comp-mm3lkuoh_r_comp-mlzcjjco3__"],
#comp-mm3lkuoh_r_comp-mlzdkbd0,
#comp-mcev5urg,
#comp-mneng8cq,
#comp-mneng8cy,
#comp-mktu3f71,
#comp-mktu7lwn,
#comp-mkfmbp8s10,
#comp-mkjslqmf,
#comp-mkjsmrkc,
#comp-mkjsmuj4,
#comp-mkjsqa3t,
#comp-mkjsrhj8,
#comp-mkl7gqce17,
#comp-mkl7gqcf13,
#comp-mkl7gqcf27,
#comp-mkl7gqcg10,
#comp-mkl7gqcg24,
#comp-mkl7gs2l7,
#comp-mkl7gs2l21,
#comp-mkl7gs2o4,
#comp-mkl7gs2p5,
#comp-mkl7gs2p19,
#comp-mkl7gtpd,
#comp-mkl7gtpd14,
#comp-mkl7gtpe,
#comp-mkl7gtpe14,
#comp-mkl7gtpe28,
#comp-mkkym51u,
#comp-mkkynbac4,
#comp-mkmck55g,
#comp-mkmcm20j,
#comp-mkmdwfvd,
#comp-mkmdxt8g,
[id^="comp-mkme2jmc__"],
#comp-mkme55mh,
#comp-mkme979a,
#comp-mkmeana8,
#comp-mkme55mi7,
#comp-mkmek944,
#comp-mkmenefu,
#comp-mcfzrcoj3,
[id^="comp-mcfzswlv_r_comp-mcfy7inl10__"],
[id^="comp-mcfzswlv_r_comp-mcfy7iod2__"],
#comp-mknu6y0x {
  --text-direction: var(--wix-opt-in-direction);
}

#comp-moh4j5jb :is(p, h1, h2, h3, h4, h5, h6, ul, ol, span[data-attr-richtext-marker], blockquote, div),
#comp-mn1olrhw :is(p, h1, h2, h3, h4, h5, h6, ul, ol, span[data-attr-richtext-marker], blockquote, div) {
  background-color: transparent;
  font-family: wfont_343a2a_5b4cd32fc19d46e1b8c1b142abb27d39, wf_5b4cd32fc19d46e1b8c1b142a, orig_stk_miso_regular;
  font-weight: 400;
  font-size: 18px;
  text-align: center;
}

#comp-moh4g2tw,
[id^="comp-mm3lkuoh_r_comp-mlzaezqf__"],
[id^="comp-mm3lkuoh_r_comp-mlzb16ch10__"],
[id^="comp-mkme0xlg__"],
#comp-mkmenefw7,
[id^="comp-mcfzswlv_r_comp-mcfy7int3__"] {
  --opacity: 1;
}

#comp-mcets29t :is(p, h1, h2, h3, h4, h5, h6, ul, ol, span[data-attr-richtext-marker], blockquote, div) {
  color: rgb(0, 0, 0);
  background-color: transparent;
  text-decoration: none;
  text-align: center;
}

#comp-mcets29t [class$="rich-text__text"]:is(p, h1, h2, h3, h4, h5, h6, ul, ol, span[data-attr-richtext-marker], blockquote, div),
#comp-mm3lkuoh_r_comp-mlzdkbd0 [class$="rich-text__text"]:is(p, h1, h2, h3, h4, h5, h6, ul, ol, span[data-attr-richtext-marker], blockquote, div),
#comp-mkfmbp8s10 [class$="rich-text__text"]:is(p, h1, h2, h3, h4, h5, h6, ul, ol, span[data-attr-richtext-marker], blockquote, div),
[id^="comp-mcfzswlv_r_comp-mcfy7inl10__"] [class$="rich-text__text"]:is(p, h1, h2, h3, h4, h5, h6, ul, ol, span[data-attr-richtext-marker], blockquote, div),
[id^="comp-mcfzswlv_r_comp-mcfy7iod2__"] [class$="rich-text__text"]:is(p, h1, h2, h3, h4, h5, h6, ul, ol, span[data-attr-richtext-marker], blockquote, div) {
  color: var(--corvid-color, #000000);
}

#comp-mcettcd3 :is(p, h1, h2, h3, h4, h5, h6, ul, ol, span[data-attr-richtext-marker], blockquote, div) {
  background-color: transparent;
  font-family: wix-madefor-text-v2, sans-serif;
  font-weight: 400;
  font-size: max(12px, max(0.5px, 0.0104167 * (var(--scaling-factor) - var(--scrollbar-width))));
  text-align: center;
}

#comp-mm3lkuoh_r_comp-mlz268c1 {
  --shc-mutated-brightness: 126, 126, 125;
}

[id^="comp-mm3lkuoh_r_comp-mlzb16bw__"],
[id^="comp-mm3lkuoh_r_comp-mlzcdwd3__"],
[id^="comp-mm3lkuoh_r_comp-mlzcjjc7__"] {
  --shc-mutated-brightness: 123, 122, 120;
}

[id^="comp-mm3lkuoh_r_comp-mlzcgaoc__"] {
  --fill-opacity: 1;
  --stroke-width: 0;
  --stroke: #5E97FF;
  --stroke-opacity: 1;
  --fill: #242323;
}

[id^="comp-mm3lkuoh_r_comp-mlzc5kpi__"] :is(p, h1, h2, h3, h4, h5, h6, ul, ol, span[data-attr-richtext-marker], blockquote, div) {
  color: rgb(105, 111, 123);
  background-color: transparent;
  font-family: wix-madefor-text-v2, sans-serif;
  font-weight: 400;
  font-size: 14px;
}

[id^="comp-mm3lkuoh_r_comp-mlzc5kpi__"] [class$="rich-text__text"]:is(p, h1, h2, h3, h4, h5, h6, ul, ol, span[data-attr-richtext-marker], blockquote, div),
#comp-mcev5urg [class$="rich-text__text"]:is(p, h1, h2, h3, h4, h5, h6, ul, ol, span[data-attr-richtext-marker], blockquote, div),
#comp-mkjsmrkc [class$="rich-text__text"]:is(p, h1, h2, h3, h4, h5, h6, ul, ol, span[data-attr-richtext-marker], blockquote, div),
#comp-mkjsmuj4 [class$="rich-text__text"]:is(p, h1, h2, h3, h4, h5, h6, ul, ol, span[data-attr-richtext-marker], blockquote, div),
#comp-mkl7gqcf13 [class$="rich-text__text"]:is(p, h1, h2, h3, h4, h5, h6, ul, ol, span[data-attr-richtext-marker], blockquote, div),
#comp-mkl7gqcf27 [class$="rich-text__text"]:is(p, h1, h2, h3, h4, h5, h6, ul, ol, span[data-attr-richtext-marker], blockquote, div),
#comp-mkl7gs2l21 [class$="rich-text__text"]:is(p, h1, h2, h3, h4, h5, h6, ul, ol, span[data-attr-richtext-marker], blockquote, div),
#comp-mkl7gs2o4 [class$="rich-text__text"]:is(p, h1, h2, h3, h4, h5, h6, ul, ol, span[data-attr-richtext-marker], blockquote, div),
#comp-mkl7gtpd14 [class$="rich-text__text"]:is(p, h1, h2, h3, h4, h5, h6, ul, ol, span[data-attr-richtext-marker], blockquote, div),
#comp-mkl7gtpe [class$="rich-text__text"]:is(p, h1, h2, h3, h4, h5, h6, ul, ol, span[data-attr-richtext-marker], blockquote, div) {
  color: var(--corvid-color, #696F7B);
}

[id^="comp-mm3lkuoh_r_comp-mlzcjjd310__"] {
  --fill-opacity: 1;
  --stroke-width: 0;
  --stroke: #5E97FF;
  --stroke-opacity: 1;
  --fill: #BD2B22;
}

[id^="comp-mm3lkuoh_r_comp-mlzcjjco3__"] :is(p, h1, h2, h3, h4, h5, h6, ul, ol, span[data-attr-richtext-marker], blockquote, div) {
  color: rgb(189, 43, 34);
  background-color: transparent;
  font-family: wix-madefor-text-v2, sans-serif;
  font-weight: 500;
  font-size: 14px;
}

[id^="comp-mm3lkuoh_r_comp-mlzcjjco3__"] [class$="rich-text__text"]:is(p, h1, h2, h3, h4, h5, h6, ul, ol, span[data-attr-richtext-marker], blockquote, div) {
  color: var(--corvid-color, #BD2B22);
}

#comp-mm3lkuoh_r_comp-mlzcshd5 {
  --fntlbl: normal normal 400 14px/1.4em wix-madefor-text-v2, sans-serif;
  --fnt: normal normal 400 max(0.5px, 0.0104167 * (var(--scaling-factor) - var(--scrollbar-width)))/1.4em wix-madefor-text-v2, sans-serif;
  --direction: var(--wix-opt-in-direction, ltr);
  --labelDirection: inherit;
  --inputDirection: inherit;
  --errorDirection: inherit;
  --align: start;
  --textPaddingTop: 0.75em;
  --textPaddingStart: 24px;
  --textPaddingEnd: 10px;
  --labelMarginBottom: 8px;
  --requiredIndicationDisplay: inline;
  --labelPadding_start: 0px;
  --labelPadding_end: 20px;
}

#comp-mm3lkuoh_r_comp-mlzdip72 {
  --toggleIconDisplay: none;
  --innerLabelHeight: 80%;
  --innerLabelWidth: 40%;
  --outerLabelHeight: 100%;
  --labelMovementRangeChecked: 55%;
  --labelMovementRangeUnchecked: 5%;
  --align: start;
  direction: var(--wix-opt-in-direction, ltr);
  --switchHeight: 90px;
  --switchWidth: 180px;
  --labelMarginBottom: 14px;
  --labelPadding_start: 0px;
  --labelPadding_end: 20px;
}

#comp-mm3lkuoh_r_comp-mlzdkbd0 :is(p, h1, h2, h3, h4, h5, h6, ul, ol, span[data-attr-richtext-marker], blockquote, div) {
  color: rgb(0, 0, 0);
  background-color: transparent;
  font-family: wix-madefor-text-v2, sans-serif;
  font-weight: 500;
  font-size: 14px;
}

#comp-mcev5urg :is(p, h1, h2, h3, h4, h5, h6, ul, ol, span[data-attr-richtext-marker], blockquote, div) {
  color: rgb(105, 111, 123);
  background-color: transparent;
  font-family: wix-madefor-text-v2, sans-serif;
  font-weight: 500;
  font-size: max(12px, max(0.5px, 0.0072917 * (var(--scaling-factor) - var(--scrollbar-width))));
}

#comp-mkfhb28q,
#comp-mkmdyjqf {
  --boxShadow: none;
  --backgroundColor: rgba(255, 255, 255, 1);
  --borderColor: 50, 65, 88;
  --borderWidth: 0px;
  --borderRadius: 0px;
  --alpha-borderColor: 0;
}

[id^="comp-mkfir3qr__"],
#comp-ml97v2n6,
#comp-mkjsxdgm,
#comp-mkl7gqch11,
#comp-mkl7gs2q16,
#comp-mkl7gtpi1,
#comp-mkme4lc01,
#comp-mkme55mm5,
#comp-mknu6y0y9 {
  --btn-direction: var(--wix-opt-in-direction, ltr);
  --direction: inherit;
  --overflow: visible;
  --label-text-overflow: initial;
  --label-white-space: pre-line;
  --btn-min-width: min-content;
  --container-justify-content: center;
  --container-align-items: center;
  --icon-rotation: 0deg;
  --disabled-icon-rotation: 0deg;
  --hover-icon-rotation: 0deg;
}

#comp-mneng8bp {
  --shc-mutated-brightness: 118, 128, 89;
}

#comp-mneng8cq :is(p, h1, h2, h3, h4, h5, h6, ul, ol, span[data-attr-richtext-marker], blockquote, div) {
  background-color: transparent;
  font-family: wfont_343a2a_5b4cd32fc19d46e1b8c1b142abb27d39, wf_5b4cd32fc19d46e1b8c1b142a, orig_stk_miso_regular;
  font-weight: 400;
  font-size: 17px;
  line-height: normal;
}

#comp-mneng8cw {
  --shc-mutated-brightness: 8, 8, 8;
}

#comp-mneng8cy :is(p, h1, h2, h3, h4, h5, h6, ul, ol, span[data-attr-richtext-marker], blockquote, div) {
  background-color: transparent;
  font-family: wfont_343a2a_5b4cd32fc19d46e1b8c1b142abb27d39, wf_5b4cd32fc19d46e1b8c1b142a, orig_stk_miso_regular;
  font-weight: 400;
  font-size: 14px;
  line-height: normal;
}

#comp-mneng8cy12 {
  --shc-mutated-brightness: 0, 0, 0;
  --margin-start: 0px;
  --margin-end: 0px;
  --fnt: normal normal normal max(0.5px, 0.0109375 * (var(--scaling-factor) - var(--scrollbar-width)))/1.4em madefor-text, helveticaneuew01-45ligh, helveticaneuew02-45ligh, helveticaneuew10-45ligh, sans-serif;
  direction: var(--wix-opt-in-direction, ltr);
  --label-align: center;
  --label-text-align: center;
}

#comp-mktu3f71 :is(p, h1, h2, h3, h4, h5, h6, ul, ol, span[data-attr-richtext-marker], blockquote, div) {
  background-color: transparent;
  font-size: 13px;
  text-align: center;
}

#comp-mktu7lwn :is(p, h1, h2, h3, h4, h5, h6, ul, ol, span[data-attr-richtext-marker], blockquote, div) {
  background-color: transparent;
  font-size: 16px;
  text-align: center;
}

#comp-mkfg5rtb,
#comp-mkfmbp8m,
#comp-mkfn6wz6 {
  --bg-overlay-color: rgb(var(--color_12));
  --bg-gradient: none;
  --inherit-transition: var(--transition, none);
}

#comp-mkfmbp8s10 :is(p, h1, h2, h3, h4, h5, h6, ul, ol, span[data-attr-richtext-marker], blockquote, div) {
  color: rgb(0, 0, 0);
  background-color: transparent;
  text-decoration: none;
  text-align: center;
  line-height: 1.4;
}

#comp-mkl54dv9 {
  --shc-mutated-brightness: 0, 0, 0;
}

#comp-mkjslqmf :is(p, h1, h2, h3, h4, h5, h6, ul, ol, span[data-attr-richtext-marker], blockquote, div),
#comp-mkjsqa3t :is(p, h1, h2, h3, h4, h5, h6, ul, ol, span[data-attr-richtext-marker], blockquote, div),
#comp-mkl7gqce17 :is(p, h1, h2, h3, h4, h5, h6, ul, ol, span[data-attr-richtext-marker], blockquote, div),
#comp-mkl7gqcg10 :is(p, h1, h2, h3, h4, h5, h6, ul, ol, span[data-attr-richtext-marker], blockquote, div),
#comp-mkl7gs2l7 :is(p, h1, h2, h3, h4, h5, h6, ul, ol, span[data-attr-richtext-marker], blockquote, div),
#comp-mkl7gs2p5 :is(p, h1, h2, h3, h4, h5, h6, ul, ol, span[data-attr-richtext-marker], blockquote, div),
#comp-mkl7gtpd :is(p, h1, h2, h3, h4, h5, h6, ul, ol, span[data-attr-richtext-marker], blockquote, div),
#comp-mkl7gtpe14 :is(p, h1, h2, h3, h4, h5, h6, ul, ol, span[data-attr-richtext-marker], blockquote, div) {
  background-color: transparent;
  font-family: wfont_343a2a_4e484da66ffc4465a05a1c9ea5caf495, wf_4e484da66ffc4465a05a1c9ea, orig_stk_miso_light;
  font-weight: 400;
  font-size: max(12px, max(0.5px, 0.0114583 * (var(--scaling-factor) - var(--scrollbar-width))));
  line-height: normal;
}

#comp-mkjsmrkc :is(p, h1, h2, h3, h4, h5, h6, ul, ol, span[data-attr-richtext-marker], blockquote, div),
#comp-mkl7gqcf13 :is(p, h1, h2, h3, h4, h5, h6, ul, ol, span[data-attr-richtext-marker], blockquote, div),
#comp-mkl7gqcf27 :is(p, h1, h2, h3, h4, h5, h6, ul, ol, span[data-attr-richtext-marker], blockquote, div),
#comp-mkl7gs2l21 :is(p, h1, h2, h3, h4, h5, h6, ul, ol, span[data-attr-richtext-marker], blockquote, div),
#comp-mkl7gs2o4 :is(p, h1, h2, h3, h4, h5, h6, ul, ol, span[data-attr-richtext-marker], blockquote, div),
#comp-mkl7gtpd14 :is(p, h1, h2, h3, h4, h5, h6, ul, ol, span[data-attr-richtext-marker], blockquote, div),
#comp-mkl7gtpe :is(p, h1, h2, h3, h4, h5, h6, ul, ol, span[data-attr-richtext-marker], blockquote, div) {
  color: rgb(105, 111, 123);
  background-color: transparent;
  font-family: wfont_343a2a_4e484da66ffc4465a05a1c9ea5caf495, wf_4e484da66ffc4465a05a1c9ea, orig_stk_miso_light;
  font-weight: 400;
  font-size: max(12px, max(0.5px, 0.0114583 * (var(--scaling-factor) - var(--scrollbar-width))));
  line-height: normal;
}

#comp-mkjsmuj4 :is(p, h1, h2, h3, h4, h5, h6, ul, ol, span[data-attr-richtext-marker], blockquote, div) {
  color: rgb(105, 111, 123);
  background-color: transparent;
  font-family: wfont_343a2a_4e484da66ffc4465a05a1c9ea5caf495, wf_4e484da66ffc4465a05a1c9ea, orig_stk_miso_light;
  font-weight: 400;
  font-size: max(12px, max(0.5px, 0.0114583 * (var(--scaling-factor) - var(--scrollbar-width))));
  text-align: left;
  line-height: normal;
}

#comp-mkjsrhj8 :is(p, h1, h2, h3, h4, h5, h6, ul, ol, span[data-attr-richtext-marker], blockquote, div),
#comp-mkl7gqcg24 :is(p, h1, h2, h3, h4, h5, h6, ul, ol, span[data-attr-richtext-marker], blockquote, div),
#comp-mkl7gs2p19 :is(p, h1, h2, h3, h4, h5, h6, ul, ol, span[data-attr-richtext-marker], blockquote, div),
#comp-mkl7gtpe28 :is(p, h1, h2, h3, h4, h5, h6, ul, ol, span[data-attr-richtext-marker], blockquote, div) {
  background-color: transparent;
  font-size: max(12px, max(0.5px, 0.0177083 * (var(--scaling-factor) - var(--scrollbar-width))));
  line-height: 1.2;
}

#comp-mkpnqvxl,
#comp-mkkykgkd,
#comp-mkpnnegk {
  --shc-mutated-brightness: 119, 117, 114;
}

#comp-mkkym51u :is(p, h1, h2, h3, h4, h5, h6, ul, ol, span[data-attr-richtext-marker], blockquote, div),
#comp-mkkynbac4 :is(p, h1, h2, h3, h4, h5, h6, ul, ol, span[data-attr-richtext-marker], blockquote, div) {
  background-color: transparent;
  font-size: max(12px, max(0.5px, 0.0125 * (var(--scaling-factor) - var(--scrollbar-width))));
}

#comp-mkla53qm,
#comp-mknvgyk7 {
  --bg-overlay-color: rgb(var(--color_11));
  --bg-gradient: none;
  --inherit-transition: var(--transition, none);
}

#comp-mkmck55g :is(p, h1, h2, h3, h4, h5, h6, ul, ol, span[data-attr-richtext-marker], blockquote, div),
#comp-mkmcm20j :is(p, h1, h2, h3, h4, h5, h6, ul, ol, span[data-attr-richtext-marker], blockquote, div),
#comp-mkmdwfvd :is(p, h1, h2, h3, h4, h5, h6, ul, ol, span[data-attr-richtext-marker], blockquote, div),
#comp-mkme55mh :is(p, h1, h2, h3, h4, h5, h6, ul, ol, span[data-attr-richtext-marker], blockquote, div) {
  background-color: transparent;
}

#comp-mkmdxt8g :is(p, h1, h2, h3, h4, h5, h6, ul, ol, span[data-attr-richtext-marker], blockquote, div),
[id^="comp-mkme2jmc__"] :is(p, h1, h2, h3, h4, h5, h6, ul, ol, span[data-attr-richtext-marker], blockquote, div),
#comp-mkme55mi7 :is(p, h1, h2, h3, h4, h5, h6, ul, ol, span[data-attr-richtext-marker], blockquote, div) {
  background-color: transparent;
  font-size: max(12px, max(0.5px, 0.009375 * (var(--scaling-factor) - var(--scrollbar-width))));
  line-height: normal;
}

#comp-mkme979a :is(p, h1, h2, h3, h4, h5, h6, ul, ol, span[data-attr-richtext-marker], blockquote, div) {
  background-color: transparent;
  font-size: max(12px, max(0.5px, 0.025 * (var(--scaling-factor) - var(--scrollbar-width))));
  line-height: 1;
}

#comp-mkmeana8 :is(p, h1, h2, h3, h4, h5, h6, ul, ol, span[data-attr-richtext-marker], blockquote, div) {
  background-color: transparent;
  font-size: max(12px, max(0.5px, 0.0145833 * (var(--scaling-factor) - var(--scrollbar-width))));
}

#comp-mkmcuryh {
  --shc-mutated-brightness: 110, 116, 116;
}

#comp-mkmek944 :is(p, h1, h2, h3, h4, h5, h6, ul, ol, span[data-attr-richtext-marker], blockquote, div) {
  background-color: transparent;
  font-size: max(12px, max(0.5px, 0.0104167 * (var(--scaling-factor) - var(--scrollbar-width))));
  line-height: 1.3;
}

#comp-mkmenefu :is(p, h1, h2, h3, h4, h5, h6, ul, ol, span[data-attr-richtext-marker], blockquote, div) {
  color: rgb(15, 15, 15);
  background-color: transparent;
  font-family: wix-madefor-text-v2, sans-serif;
  font-weight: 500;
  font-size: max(12px, max(0.5px, 0.009375 * (var(--scaling-factor) - var(--scrollbar-width))));
  line-height: 1.5;
}

#comp-mkmenefu [class$="rich-text__text"]:is(p, h1, h2, h3, h4, h5, h6, ul, ol, span[data-attr-richtext-marker], blockquote, div),
#comp-mknu6y0x [class$="rich-text__text"]:is(p, h1, h2, h3, h4, h5, h6, ul, ol, span[data-attr-richtext-marker], blockquote, div) {
  color: var(--corvid-color, #0F0F0F);
}

#comp-mcfzrcoj3 :is(p, h1, h2, h3, h4, h5, h6, ul, ol, span[data-attr-richtext-marker], blockquote, div) {
  background-color: transparent;
  text-decoration: none;
  line-height: 1;
}

[id^="comp-mcfzswlv_r_comp-mcfy7inl10__"] :is(p, h1, h2, h3, h4, h5, h6, ul, ol, span[data-attr-richtext-marker], blockquote, div) {
  color: rgb(0, 0, 0);
  background-color: transparent;
  font-family: wfont_343a2a_5b4cd32fc19d46e1b8c1b142abb27d39, wf_5b4cd32fc19d46e1b8c1b142a, orig_stk_miso_regular;
  font-weight: 400;
  font-size: max(12px, min(500px, max(0.5px, 0.0125 * (var(--scaling-factor) - var(--scrollbar-width)))));
  text-decoration: none;
  text-align: left;
  letter-spacing: 0em;
  line-height: 1.07;
}

[id^="comp-mcfzswlv_r_comp-mcfy7iod2__"] :is(p, h1, h2, h3, h4, h5, h6, ul, ol, span[data-attr-richtext-marker], blockquote, div) {
  color: rgb(0, 0, 0);
  background-color: transparent;
  font-family: wix-madefor-text-v2, sans-serif;
  font-weight: 400;
  font-size: max(12px, min(500px, max(0.5px, 0.009375 * (var(--scaling-factor) - var(--scrollbar-width)))));
  text-align: left;
  letter-spacing: 0em;
  line-height: 1.3;
}

[id^="comp-mcfzswlv_r_comp-mcfy7ioe5__"],
#comp-mcfzswlv_r_comp-mcfy89y0,
#comp-mknu6y0h {
  transform-origin: center 0.5px;
  box-sizing: content-box;
}

#comp-mknu6y0q12,
#comp-mknu6y0w3 {
  --shc-mutated-brightness: 128, 125, 118;
}

#comp-mknu6y0x :is(p, h1, h2, h3, h4, h5, h6, ul, ol, span[data-attr-richtext-marker], blockquote, div) {
  color: rgb(15, 15, 15);
  background-color: transparent;
  font-size: max(12px, max(0.5px, 0.0333333 * (var(--scaling-factor) - var(--scrollbar-width))));
  text-decoration: none;
  text-align: center;
}

#comp-mok06rba_r_comp-mok06arf {
  --bg-overlay-color: rgb(var(--color_11));
  --bg-gradient: none;
}

.WSh558 {
  width: 66.6%;
  margin: 0;
  padding: 0;
  text-align: left;
  font-size: 14px;
  line-height: 21px;
}

.Mu3mRO {
  margin: 0;
  padding: 0;
  text-align: left;
  font-size: 14px;
  line-height: 21px;
}

.uzfsxJ {
  flex-shrink: 1;
  padding: 0;
  padding-left: 40px;
  display: flex;
  list-style: none;
  margin: 0;
}

.kxpWWV {
  white-space: nowrap;
  margin: 0 0 0 19px;
  padding: 0;
}

.RMlTST {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;
  background: transparent;
  color: inherit;
  font: inherit;
  line-height: normal;
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;
  -webkit-appearance: none;
  font-family: Madefor-Text, Madefor;
  box-sizing: border-box;
  text-align: center;
  border: 1px solid #000;
  display: inline-block;
  transition-duration: 100ms;
  transition-timing-function: linear;
  transition-property: background-color, color, border-color;
  min-width: 84px;
  border-radius: 18px;
  padding: 0 18px;
  cursor: pointer;
}

.RMlTST::-moz-focus-inner,
.ScWnOR::-moz-focus-inner,
.WEzN4V::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.RMlTST:active {
  outline: none;
}

.RMlTST:hover {
  background-color: #4c4c4c;
  color: #fff;
}

.YetVrT,
.RMlTST:active {
  color: #fff;
  background-color: #000;
}

.zpif8h {
  color: #000;
  background-color: #fff;
}

.ScWnOR {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;
  background: transparent;
  color: inherit;
  font: inherit;
  line-height: normal;
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;
  -webkit-appearance: none;
  display: inline-flex;
  align-items: center;
  font-family: Madefor-Text, Madefor;
  color: #000;
  white-space: nowrap;
  height: 36px;
  cursor: pointer;
}

.sI1Vcz {
  line-height: 24px;
  border-bottom: 1px solid #000;
}

.wB9nys {
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}

.WEzN4V {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;
  background: transparent;
  color: inherit;
  font: inherit;
  line-height: normal;
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;
  -webkit-appearance: none;
  cursor: pointer;
  outline: none;
}

.sWeiPs {
  position: relative;
  display: inline-block;
  width: 48px;
  height: 24px;
  box-sizing: border-box;
}

.n4R1Bm {
  opacity: 0;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  cursor: inherit;
}

.Hke9cw {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  color: #cbd3dc;
  cursor: pointer;
}

.Q2HHot {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: currentColor;
  border-radius: 12px;
  transition: all 300ms ease;
}

.Hke9cw:hover {
  color: #dfe5eb;
}

.Hke9cw:active {
  color: #cbd3dc;
}

.n4R1Bm:checked+.Hke9cw:hover {
  color: #4c4c4c;
}

.w9iGn_ {
  position: absolute;
  left: 1px;
  top: 1px;
  width: 22px;
  height: 22px;
  border-radius: 12px;
  transition: all 300ms ease;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
  box-shadow: 0 2px 1px 0 rgba(22, 45, 61, .48), 0 0 3px 0 rgba(22, 45, 61, .12);
}

.n4R1Bm:checked+label .w9iGn_ {
  left: calc(50% + 1px);
}

.yXDt4H {
  width: 11px;
  height: 11px;
  transition: opacity 300ms ease;
  margin-top: 1px;
}

.n4R1Bm:not(:checked)+label .dSIa_x,
.n4R1Bm:checked+label .SNCgaV {
  opacity: 0;
  display: none;
}

.BK0zJM {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(22, 45, 61, 0.66);
}

._4q546 {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  width: 80%;
  max-width: 600px;
  max-height: 80%;
  padding: 30px 0 0 30px;
  border-radius: 10px;
  box-shadow: -8px -7px 20px 0 rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  background: #fff;
}

.t3uUn2 {
  font-family: Madefor-Text, Madefor;
  font-weight: 500;
  font-size: 32px;
  color: #000;
  margin: 0;
  padding: 0 24px 0 0;
}

.Dd7_m5 {
  position: relative;
  overflow: auto;
  max-height: 390px;
  margin-top: 5px;
  flex-shrink: 1;
}

.C9M4se {
  position: relative;
  padding: 20px 90px 30px 0;
  margin-right: 30px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.C9M4se:last-child {
  border: none;
}

.QB2oti {
  font-family: Madefor-Text, Madefor;
  font-size: 19px;
  font-weight: 500;
  margin: 0;
  padding: 0;
}

.uFuuCF {
  margin: 12px 0 0 0;
  padding: 0;
  text-align: left;
  font-size: 14px;
  line-height: 21px;
}

.VD6kZX {
  position: absolute;
  right: 0;
  top: 30px;
}

.DvEoR5 {
  padding: 30px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  text-align: right;
}

.qSUyqx {
  position: absolute;
  right: 13px;
  top: 13px;
}

:ie11 ._4q546 {
  height: 60%;
}

.qOCyff {
  position: relative;
  z-index: 99999;
  font-family: Madefor-Text, Madefor;
}

.k5W_vM,
.k5W_vM * {
  font-family: Madefor-Text, Madefor;
}

.qOCyff a {
  color: #000;
}

.qOCyff button {
  height: 36px;
  font-family: Madefor-Text, Madefor;
  font-size: 14px;
}

#SITE_CONTAINER #main_MF .css-editing-scope .custom-css-45301db5-b5fd-4c39-9fab-ef83c8f90780 .wixui-text-box {
  padding-top: 5px;
}

#SITE_CONTAINER #main_MF .css-editing-scope .custom-css-45301db5-b5fd-4c39-9fab-ef83c8f90780 .wixui-text-box textarea {
  line-height: 1.6em;
}

#SITE_CONTAINER #main_MF .css-editing-scope .custom-css-45301db5-b5fd-4c39-9fab-ef83c8f90780 .wixui-text-box .wixui-text-box__input {
  padding-top: 15px;
}

#SITE_CONTAINER #main_MF .css-editing-scope .custom-css-45301db5-b5fd-4c39-9fab-ef83c8f90780 .wixui-input-switch .wixui-switch__handle {
  box-shadow: 0 12px 19px -4px var(--shadow-lg-1-color, rgba(0, 0, 0, 0.10)), 0 5px 7px -5px var(--shadow-lg-2-color, rgba(0, 0, 0, 0.10));
}

#SITE_CONTAINER #main_MF .css-editing-scope .custom-css-45301db5-b5fd-4c39-9fab-ef83c8f90780 .wixui-plan-tooltip,
#SITE_CONTAINER #main_MF .css-editing-scope .custom-css-45301db5-b5fd-4c39-9fab-ef83c8f90780 .wixui-speech-tooltip {
  display: flex;
  flex-direction: column-reverse;
}

#SITE_CONTAINER #main_MF .css-editing-scope .custom-css-45301db5-b5fd-4c39-9fab-ef83c8f90780 .wixui-plan-tooltip::after {
  visibility: hidden;
  opacity: 0;
  scale: 0.9;
  width: max-content;
  max-width: 225px;
  content: attr(aria-label);
  font-family: wix-madefor-text-v2, sans-serif;
  font-size: 12px;
  color: #232529;
  text-align: left;
  position: absolute;
  margin-bottom: 25px;
  margin-left: -120px;
  z-index: 1000000;
  transform-origin: bottom;
  background-color: white;
  padding: 8px 10px;
  border-radius: 8px;
  border: 1px solid rgba(15, 15, 15, 0.12);
  box-shadow: 0 2px 5px 0 rgba(34, 40, 42, 0.08);
  transition: 0.25s ease-in-out;
}

#SITE_CONTAINER #main_MF .css-editing-scope .custom-css-45301db5-b5fd-4c39-9fab-ef83c8f90780 .wixui-plan-tooltip:hover::after,
#SITE_CONTAINER #main_MF .css-editing-scope .custom-css-45301db5-b5fd-4c39-9fab-ef83c8f90780 .wixui-plan-tooltip:focus::after,
#SITE_CONTAINER #main_MF .css-editing-scope .custom-css-45301db5-b5fd-4c39-9fab-ef83c8f90780 .wixui-plan-tooltip:focus-within::after,
#SITE_CONTAINER #main_MF .css-editing-scope .custom-css-45301db5-b5fd-4c39-9fab-ef83c8f90780 .wixui-speech-tooltip:hover::after,
#SITE_CONTAINER #main_MF .css-editing-scope .custom-css-45301db5-b5fd-4c39-9fab-ef83c8f90780 .wixui-speech-tooltip:focus::after,
#SITE_CONTAINER #main_MF .css-editing-scope .custom-css-45301db5-b5fd-4c39-9fab-ef83c8f90780 .wixui-speech-tooltip:focus-within::after {
  visibility: visible;
  opacity: 1;
  scale: 1.0;
  transition: 0.25s ease-in-out;
}

#SITE_CONTAINER #main_MF .css-editing-scope .custom-css-45301db5-b5fd-4c39-9fab-ef83c8f90780 .wixui-active-speech div:first-child {
  animation: scale-loop 1s ease-out infinite;
}

#SITE_CONTAINER #main_MF .css-editing-scope .custom-css-45301db5-b5fd-4c39-9fab-ef83c8f90780 .wixui-active-speech button {
  background: #E9F4F7;
  border: 1px solid #7CBFD5;
}

#SITE_CONTAINER #main_MF .css-editing-scope .custom-css-45301db5-b5fd-4c39-9fab-ef83c8f90780 .wixui-speech-tooltip::after {
  visibility: hidden;
  opacity: 0;
  scale: 0.9;
  width: max-content;
  max-width: 200px;
  content: attr(aria-label);
  font-family: wix-madefor-text-v2, sans-serif;
  font-size: 12px;
  color: #232529;
  text-align: left;
  position: absolute;
  margin-bottom: 42px;
  margin-left: -185px;
  z-index: 1000000;
  transform-origin: bottom;
  background-color: white;
  padding: 8px 10px;
  border-radius: 8px;
  border: 1px solid rgba(15, 15, 15, 0.12);
  box-shadow: 0 2px 5px 0 rgba(34, 40, 42, 0.08);
  transition: 0.25s ease-in-out;
}

#SITE_CONTAINER #main_MF .css-editing-scope .custom-css-45301db5-b5fd-4c39-9fab-ef83c8f90780 .wixui-switch__label {
  opacity: 0;
  position: absolute;
  margin: 0;
  padding: 0;
}

#SITE_CONTAINER #main_MF .css-editing-scope .custom-css-45301db5-b5fd-4c39-9fab-ef83c8f90780 .wixui-outline {
  outline: 1px solid rgba(66, 65, 63, 0.14);
  border-radius: 14px;
}

#SITE_CONTAINER #main_MF .css-editing-scope .custom-css-45301db5-b5fd-4c39-9fab-ef83c8f90780 .wixui-rotation {
  animation: spin 1s linear infinite;
}

#SITE_CONTAINER #main_MF .css-editing-scope .custom-css-45301db5-b5fd-4c39-9fab-ef83c8f90780 .wixui-blur-loading-image {
  filter: blur(5px);
}

#SITE_CONTAINER #main_MF .css-editing-scope .custom-css-45301db5-b5fd-4c39-9fab-ef83c8f90780 .wixui-high-z-index {
  z-index: 999;
}
