.P4my70.ZhsSZ_,
.KbTtfL.oX7wPA,
.Ids9OS.JJHA1E,
.nKRcKG.MEduRo,
.YBhBTQ.hSKHso,
.iFKBdR.VaMfZ_,
.RgC3KY.Ez9DzT,
.zhzq3y.XEQtWV,
.TQ6OEg.unAAcL,
.BPLyku.jJdFnD,
.J6UdEa.Kx2Lb_,
.IqliFl.fNnJyG,
.v7cAjr.TR1lP5,
.fo6j2q.HoyfNC,
.su830K.vXxIVB,
.JVni1I.H801ob {
  background-color: rgba(var(--bgOpen, var(--color_11, color_11)), var(--alpha-bgOpen, 1));
  border-color: rgba(var(--bordercolorOpen, var(--color_11, color_11)), var(--alpha-bordercolorOpen, 1));
  border-radius: var(--rdOpen, 0);
  border-style: solid;
  border-width: var(--borderwidthOpen, 0);
  box-shadow: var(--shdOpen, 0 0 0 rgba(0, 0, 0, .6));
}

.enVN3p {
  border-radius: 50%;
  cursor: pointer;
  display: block;
  height: 22px;
  position: relative;
  transition: all 0.3s linear 0s;
  width: 22px;
}

.enVN3p::after,
.enVN3p::before {
  background: rgba(var(--lineColor, var(--color_2, color_2)), var(--alpha-lineColor, 1));
  border-radius: 5px;
  inset: 0px;
  content: "";
  margin: auto;
  position: absolute;
}

.enVN3p::after,
.enVN3p::before {
  height: 3px;
  width: 22px;
}

.enVN3p::after {
  transform: rotate(90deg);
  transition: all 0.12s linear 0s;
}

.enVN3p.oX7wPA::after,
.enVN3p.oX7wPA::before,
.ROpKdV.jJdFnD span,
.jJdFnD.Ic34Nb span,
.Ic34Nb.jJdFnD span,
.fNnJyG .dm9Pzg,
.fNnJyG .dm9Pzg:last-child {
  background: rgba(var(--lineColorOpen, var(--color_2, color_2)), var(--alpha-lineColorOpen, 1));
}

.XLAVDo {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  height: 21px;
  justify-content: space-between;
  transition: transform 0.33s ease-out 0s;
  width: 26px;
}

.XLAVDo.JJHA1E {
  transform: rotate(-45deg);
}

.obddOt {
  background-color: rgba(var(--lineColor, var(--color_2, color_2)), var(--alpha-lineColor, 1));
  border-radius: 1.5px;
  height: 3px;
  width: 100%;
}

.obddOt.SRM_9q {
  width: 50%;
}

.obddOt.YQwk0a {
  transform-origin: right center;
  transition: transform 0.33s cubic-bezier(0.54, -0.81, 0.57, 0.57) 0s;
}

.JJHA1E .obddOt.YQwk0a {
  background-color: rgba(var(--lineColorOpen, var(--color_2, color_2)), var(--alpha-lineColorOpen, 1));
  transform: rotate(-90deg) translateX(4px);
}

.obddOt.eyQVgg {
  align-self: flex-end;
  transform-origin: left center;
  transition: transform 0.33s cubic-bezier(0.54, -0.81, 0.57, 0.57) 0s;
}

.JJHA1E .obddOt.eyQVgg {
  transform: rotate(-90deg) translateX(-4px);
}

.JJHA1E .obddOt.BU_Jm5,
.JJHA1E .obddOt.eyQVgg,
.B1Ti_C.MEduRo .RWu2Qu.naeVRo,
.B1Ti_C.MEduRo ._W7Xw0.naeVRo,
.MsXubo.VaMfZ_ .L8RJUm,
.BCbKRj.HoyfNC span:first-of-type,
.BCbKRj.HoyfNC span:last-of-type,
.l0AfMo.vXxIVB .rBz8fx.kFhkeL.sNnUw0,
.l0AfMo.vXxIVB .rBz8fx.kFhkeL.uWZnSw,
.l0AfMo.vXxIVB .CYMuk3.kFhkeL.sNnUw0,
.l0AfMo.vXxIVB .CYMuk3.kFhkeL.uWZnSw {
  background-color: rgba(var(--lineColorOpen, var(--color_2, color_2)), var(--alpha-lineColorOpen, 1));
}

.B1Ti_C,
.kpM1s0 {
  height: 20px;
  width: 22px;
}

.naeVRo {
  background-color: rgba(var(--lineColor, var(--color_2, color_2)), var(--alpha-lineColor, 1));
  height: 2px;
  transition: all 0.25s ease 0s;
}

.HUKlBY,
.rBz8fx {
  top: 0px;
  width: 50%;
}

.RWu2Qu,
._W7Xw0,
.HSYWnj {
  top: 9px;
  width: 100%;
}

.plHZxT,
.CYMuk3 {
  bottom: 0px;
  width: 50%;
}

.oo_S7a,
.Ic34Nb span,
.uWZnSw {
  left: 0px;
}

.dQWoWx,
.sNnUw0 {
  right: 0px;
}

.RWu2Qu.naeVRo,
._W7Xw0.naeVRo {
  transform-origin: center center;
}

.HUKlBY.naeVRo.oo_S7a,
.rBz8fx.kFhkeL.uWZnSw,
.LZBOca.ZBaDfe {
  transform-origin: 0px 0px;
}

.HUKlBY.naeVRo.dQWoWx,
.rBz8fx.kFhkeL.sNnUw0 {
  transform-origin: 100% 0px;
}

.plHZxT.naeVRo.oo_S7a,
.CYMuk3.kFhkeL.uWZnSw,
.r8m7zZ.ZBaDfe {
  transform-origin: 0px 100%;
}

.plHZxT.naeVRo.dQWoWx,
.CYMuk3.kFhkeL.sNnUw0 {
  transform-origin: 100% 100%;
}

.B1Ti_C.MEduRo ._W7Xw0.naeVRo {
  transform: rotate(-45deg) scaleX(1);
}

.B1Ti_C.MEduRo .RWu2Qu.naeVRo {
  transform: rotate(45deg) scaleX(1);
}

.js8bIY {
  background-color: rgba(var(--bg, var(--color_11, color_11)), var(--alpha-bg, 1));
  border: solid var(--borderwidth, 0) rgba(var(--bordercolor, var(--color_11, color_11)), var(--alpha-bordercolor, 1));
  transition: all 0.5s ease 0s;
}

.js8bIY.PztR8I {
  background-color: rgba(var(--bgOpen, var(--color_11, color_11)), var(--alpha-bgOpen, 1));
  border-color: rgba(var(--bordercolorOpen, var(--color_11, color_11)), var(--alpha-bordercolorOpen, 1));
  border-style: solid;
  border-width: var(--borderwidthOpen, 0);
}

.baZw44 {
  height: 20px;
  margin: auto;
  position: relative;
  width: 22px;
}

.T8_LA1 {
  background-color: rgba(var(--lineColor, var(--color_11, color_11)), var(--alpha-lineColor, 1));
  border-radius: 2px;
  height: 2px;
  left: 0px;
  position: absolute;
  transition: all 0.25s ease-in-out 0s;
  width: 100%;
}

.dbDvn7 {
  margin: auto;
  top: 0px;
}

.dbDvn7,
.iu4m2t {
  bottom: 0px;
}

.baZw44.PztR8I .T8_LA1 {
  background-color: rgba(var(--lineColorOpen, var(--color_11, color_11)), var(--alpha-lineColorOpen, 1));
}

.baZw44.PztR8I .HZW1lN {
  transform: translateY(10px) translateY(-50%) rotate(-45deg);
}

.baZw44.PztR8I .iu4m2t {
  transform: translateY(-10px) translateY(50%) rotate(45deg);
}

.js8bIY {
  background-color: rgba(var(--bg, var(--color_15, color_15)), var(--alpha-bg, 1));
  border: solid var(--borderwidth, 0) rgba(var(--bordercolor, var(--color_15, color_15)), var(--alpha-bordercolor, 1));
  border-radius: var(--rd, 0);
  box-shadow: var(--shd, 0 0 0 rgba(0, 0, 0, .6));
}

.js8bIY.PztR8I {
  background-color: rgba(var(--bgOpen, var(--color_15, color_15)), var(--alpha-bgOpen, 1));
  border-color: rgba(var(--bordercolorOpen, var(--color_15, color_15)), var(--alpha-bordercolorOpen, 1));
  border-radius: var(--rdOpen, 0);
  box-shadow: var(--shdOpen, 0 0 0 rgba(0, 0, 0, .6));
}

.aoIbio {
  cursor: pointer;
  height: 26px;
  width: 26px;
}

.tbJLVX {
  opacity: 1;
  transition: opacity 0.5s ease 0s;
  user-select: none;
}

.YB05pm {
  color: rgba(var(--lineColor, var(--color_2, color_2)), var(--alpha-lineColor, 1));
  font-family: Helvetica-bold;
  font-size: 12px;
  left: 55%;
  letter-spacing: 5px;
  transform: translate(-50%, -50%);
  transition: all 0.25s ease 0s;
}

.SofRfX,
.XOaVd6 {
  background: rgba(var(--lineColorOpen, var(--color_2, color_2)), var(--alpha-lineColorOpen, 1));
  height: 2px;
  left: 50%;
  opacity: 0;
  width: 0px;
}

.SofRfX {
  transform: translate(-50%, -50%) rotate(45deg);
  transition: all 0.3s ease 0s;
}

.XOaVd6 {
  transform: translate(-50%, -50%) rotate(-45deg);
  transition: all 0.3s ease 0.3s;
}

.aoIbio.hSKHso .SofRfX,
.aoIbio.hSKHso .XOaVd6 {
  opacity: 1;
  width: 24px;
}

.MsXubo {
  display: block;
  height: 22px;
  position: relative;
  width: 22px;
}

.MsXubo .L8RJUm {
  background-color: rgba(var(--lineColor, var(--color_2, color_2)), var(--alpha-lineColor, 1));
  border-radius: 100%;
  height: 4.4px;
  position: absolute;
  transition: all 0.2s ease-in-out 0s;
  width: 4.4px;
}

.MsXubo .L8RJUm:first-of-type,
.MsXubo.VaMfZ_ .L8RJUm:first-of-type {
  transform: translate(0px);
}

.MsXubo .L8RJUm:nth-of-type(2) {
  transform: translate(8.8px);
}

.MsXubo .L8RJUm:nth-of-type(3),
.MsXubo.VaMfZ_ .L8RJUm:nth-of-type(3) {
  transform: translate(17.6px);
}

.MsXubo .L8RJUm:nth-of-type(4) {
  transform: translateY(8.8px);
}

.MsXubo .L8RJUm:nth-of-type(5) {
  transform: translate(8.8px, 8.8px);
}

.MsXubo .L8RJUm:nth-of-type(6) {
  transform: translate(17.6px, 8.8px);
}

.MsXubo .L8RJUm:nth-of-type(7),
.MsXubo.VaMfZ_ .L8RJUm:nth-of-type(7) {
  transform: translateY(17.6px);
}

.MsXubo .L8RJUm:nth-of-type(8) {
  transform: translate(8.8px, 17.6px);
}

.MsXubo .L8RJUm:nth-of-type(9),
.MsXubo.VaMfZ_ .L8RJUm:nth-of-type(9) {
  transform: translate(17.6px, 17.6px);
}

.MsXubo.VaMfZ_ .L8RJUm:nth-of-type(2) {
  transform: translate(4.4px, 4.4px);
}

.MsXubo.VaMfZ_ .L8RJUm:nth-of-type(4) {
  transform: translate(4.4px, 13.2px);
}

.MsXubo.VaMfZ_ .L8RJUm:nth-of-type(6) {
  transform: translate(13.2px, 4.4px);
}

.MsXubo.VaMfZ_ .L8RJUm:nth-of-type(8) {
  transform: translate(13.2px, 13.2px);
}

.Klh_2G {
  height: 20px;
  transition: transform 0.3s ease-in-out 0s;
  width: 25px;
}

.Klh_2G span {
  background-color: rgba(var(--lineColor, var(--color_2, color_2)), var(--alpha-lineColor, 1));
  border-radius: 1px;
  content: "";
  display: block;
  height: 3px;
  position: relative;
  transition: width 0.3s ease-in-out 0s, transform 0.3s ease-in-out 0s, opacity 0.3s ease-in-out 0s;
  width: 100%;
}

.Klh_2G span:nth-child(2),
.BCbKRj span:first-of-type {
  top: 5px;
}

.Klh_2G span:nth-child(3) {
  top: 10px;
}

.Ez9DzT.Klh_2G span {
  background-color: rgba(var(--lineColorOpen, var(--color_2, color_2)), var(--alpha-lineColorOpen, 1));
  width: 16px;
}

.Ez9DzT.Klh_2G span:nth-child(2) {
  transform: rotate(45deg) translateX(0px) translateY(1px);
}

.Ez9DzT.Klh_2G span:nth-child(3) {
  transform: rotate(-45deg) translateX(12px) translateY(1px);
}

.muO8XP {
  display: block;
  height: 20px;
  position: relative;
  width: 24px;
}

.muO8XP span,
.muO8XP span::after,
.muO8XP span::before {
  background-color: rgba(var(--lineColor, var(--color_2, color_2)), var(--alpha-lineColor, 1));
  height: 2px;
  margin-top: -1px;
  position: absolute;
  top: 50%;
  width: 24px;
}

.muO8XP span::after,
.muO8XP span::before {
  content: "";
  transition: all 0.2s ease 0s;
}

.muO8XP span::before {
  transform: translateY(-9px);
}

.muO8XP span::after {
  transform: translateY(9px);
}

.XEQtWV span {
  background-color: rgba(var(--lineColorOpen, var(--color_2, color_2)), var(--alpha-lineColorOpen, 1));
  transform: translateX(1px);
  width: 23px;
}

.XEQtWV span::before {
  transform: rotate(-35deg);
  transform-origin: left bottom;
}

.XEQtWV span::after,
.XEQtWV span::before {
  background-color: rgba(var(--lineColorOpen, var(--color_2, color_2)), var(--alpha-lineColorOpen, 1));
  width: 12px;
}

.XEQtWV span::after {
  transform: rotate(35deg);
  transform-origin: left top;
}

.OKYxO_,
.Ic34Nb {
  align-items: center;
  display: flex;
  justify-content: center;
}

.mR8LEU {
  opacity: 0;
  transform: translateX(50%);
  transform-origin: right center;
  transition: all 0.5s ease 0s;
}

.eRHCF_ {
  opacity: 1;
  transform: translateX(0px);
}

.SACRXu {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 26px;
  justify-content: space-around;
  transition: transform 0.2s ease 0s;
  width: 26px;
}

.Jzi8Yx {
  transform: rotate(-45deg);
  transition: opacity 0.2s ease 0s, transform 0.2s ease 0s;
  width: 30px;
}

.Jzi8Yx,
.qTZmEh {
  background-color: rgba(var(--lineColor, var(--color_2, color_2)), var(--alpha-lineColor, 1));
  border-radius: 10px;
  height: 2px;
}

.qTZmEh {
  transition: transform 0.2s ease 0s, border-color 0.2s ease 0s;
  width: 17px;
}

.qTZmEh.IOOdvm {
  transform: rotate(-45deg) translate(-7px, -3px);
}

.qTZmEh.JDwVHd {
  transform: rotate(-45deg) translate(6px, 2px);
}

.SACRXu.unAAcL .IOOdvm {
  transform: translateY(9px) rotate(135deg);
}

.SACRXu.unAAcL .IOOdvm,
.SACRXu.unAAcL .JDwVHd {
  background-color: rgba(var(--lineColorOpen, var(--color_2, color_2)), var(--alpha-lineColorOpen, 1));
  width: 20px;
}

.SACRXu.unAAcL .JDwVHd {
  transform: translateY(-9px) rotate(45deg);
}

.SACRXu.unAAcL .Jzi8Yx {
  opacity: 0;
  transform: rotate(45deg);
}

.Ic34Nb,
.ROpKdV {
  cursor: pointer;
  position: relative;
  user-select: none;
  width: 22px;
}

.Ic34Nb span,
.ROpKdV span {
  backface-visibility: hidden;
  background-color: rgba(var(--lineColor, var(--color_2, color_2)), var(--alpha-lineColor, 1));
  border-radius: 2em;
  height: 3px;
  position: absolute;
  width: 100%;
}

.Ic34Nb span:nth-child(2),
.ROpKdV span:nth-child(2),
.Ic34Nb span:nth-child(2) {
  transform: rotate(90deg);
}

.ROpKdV.jJdFnD,
.jJdFnD.Ic34Nb,
.Ic34Nb.jJdFnD {
  transform: rotate(135deg);
}

.kLibfv {
  cursor: pointer;
  display: block;
  height: 20px;
  position: relative;
  width: 26px;
}

.kLibfv div {
  background: rgba(var(--lineColor, var(--color_2, color_2)), var(--alpha-lineColor, 1));
  border-radius: 2px;
  height: 2px;
  position: absolute;
  transition: transform 0.45s cubic-bezier(0.9, -0.6, 0.3, 1.6) 0s, width 0.2s ease 0.2s;
}

.kLibfv .b2zCu2 {
  left: 0px;
  margin: -2px 0px 0px;
  top: 11px;
  transform-origin: 50% 50%;
  width: 26px;
}

.kLibfv .GYW_Vv {
  left: 0px;
  transform-origin: 0px 50%;
  width: 13px;
}

.kLibfv .fIrRrT {
  bottom: 0px;
  transform-origin: 100% 50%;
  width: 18px;
}

.kLibfv.Kx2Lb_ .b2zCu2 {
  background: rgba(var(--lineColorOpen, var(--color_2, color_2)), var(--alpha-lineColorOpen, 1));
  transform: rotate(-45deg) translate(0px);
  transition: transform 0.2s cubic-bezier(0.9, -0.6, 0.3, 1.6) 0.1s;
}

.kLibfv.Kx2Lb_ .GYW_Vv {
  transform: translate(4px) rotate(45deg);
}

.kLibfv.Kx2Lb_ .GYW_Vv,
.kLibfv.Kx2Lb_ .fIrRrT {
  background: rgba(var(--lineColorOpen, var(--color_2, color_2)), var(--alpha-lineColorOpen, 1));
  transition: transform 0.2s cubic-bezier(0.9, -0.6, 0.3, 1.6) 0.1s, width 0.15s ease 0s;
  width: 13px;
}

.kLibfv.Kx2Lb_ .fIrRrT {
  transform: translate(9px) rotate(45deg);
}

.O240SO {
  cursor: pointer;
  position: absolute;
}

.dm9Pzg {
  background: rgba(var(--lineColor, var(--color_2, color_2)), var(--alpha-lineColor, 1));
  height: 2px;
  margin-bottom: 6px;
  position: relative;
  transition: all 0.3s cubic-bezier(0, 1, 0.5, 1) 0s;
  width: 19px;
}

.dm9Pzg:first-child {
  left: 0px;
  top: 0px;
  transform: rotate(0deg);
}

.fNnJyG .dm9Pzg:first-child {
  background: rgba(var(--lineColorOpen, var(--color_2, color_2)), var(--alpha-lineColorOpen, 1));
  left: 0px;
  top: 8px;
  transform: rotate(-45deg);
}

.dm9Pzg:nth-child(2) {
  opacity: 1;
  right: -5px;
}

.fNnJyG .dm9Pzg:nth-child(2) {
  background: rgba(var(--lineColorOpen, var(--color_2, color_2)), var(--alpha-lineColorOpen, 1));
  opacity: 0;
  right: 0px;
}

.dm9Pzg:last-child {
  left: 0px;
  margin: 0px;
  top: 0px;
  transform: rotate(0deg);
}

.fNnJyG .dm9Pzg:last-child {
  left: 0px;
  top: -8px;
  transform: rotate(45deg);
}

.JOBrqh {
  height: 18px;
  width: 26px;
}

.KKTZfd {
  background: rgba(var(--lineColor, var(--color_2, color_2)), var(--alpha-lineColor, 1));
  border-radius: 4px;
  height: 2px;
  position: relative;
  transition: all 0.4s ease 0s;
}

.TpQgIG {
  top: 0px;
  width: 26px;
}

.PGlfJM {
  top: 6px;
  width: 26px;
}

.ja83fW {
  top: 12px;
  width: 13px;
}

.TR1lP5 .TpQgIG {
  top: 8px;
}

.TR1lP5 .ja83fW {
  top: 4px;
}

.BCbKRj {
  height: 22px;
  margin: auto;
  position: absolute;
  width: 22px;
}

.BCbKRj span {
  background-color: rgba(var(--lineColor, var(--color_2, color_2)), var(--alpha-lineColor, 1));
  display: block;
  height: 2px;
  position: relative;
  transition: transform 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s, top 0.2s cubic-bezier(0.3, 1.4, 0.7, 1) 0.2s, bottom 0.2s cubic-bezier(0.3, 1.4, 0.7, 1) 0.2s;
  width: 22px;
}

.BCbKRj span:last-of-type {
  top: 13px;
}

.BCbKRj.HoyfNC span {
  transition: transform 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.2s, top 0.2s cubic-bezier(0.3, 1.4, 0.7, 1) 0s, bottom 0.2s cubic-bezier(0.3, 1.4, 0.7, 1) 0s;
}

.BCbKRj.HoyfNC span:first-of-type {
  top: 10px;
  transform: rotate(45deg);
}

.BCbKRj.HoyfNC span:last-of-type {
  top: 8px;
  transform: rotate(-45deg);
}

.l0AfMo {
  height: 19px;
  width: 22px;
}

.kFhkeL {
  background-color: rgba(var(--lineColor, var(--color_2, color_2)), var(--alpha-lineColor, 1));
  height: 3px;
  transition: all 0.25s ease 0s;
}

.FkbwVM {
  top: 8px;
  width: 100%;
}

.l0AfMo.vXxIVB .rBz8fx.kFhkeL.uWZnSw {
  transform: translate(5px, 2px) rotate(45deg);
}

.l0AfMo.vXxIVB .rBz8fx.kFhkeL.sNnUw0 {
  transform: translate(-5px, 2px) rotate(-45deg);
}

.l0AfMo.vXxIVB .CYMuk3.kFhkeL.uWZnSw {
  transform: translate(5px, -1px) rotate(-45deg);
}

.l0AfMo.vXxIVB .CYMuk3.kFhkeL.sNnUw0 {
  transform: translate(-5px, -1px) rotate(45deg);
}

.l0AfMo.vXxIVB .FkbwVM.kFhkeL {
  transform: scaleX(0);
}

.ZBaDfe {
  background-color: rgba(var(--lineColor, var(--color_15, color_15)), var(--alpha-lineColor, 1));
  height: 2px;
  transition: all 0.25s ease 0s;
}

.LZBOca {
  top: 0px;
  width: 100%;
}

.r8m7zZ {
  bottom: 0px;
  width: 100%;
}

.kpM1s0.H801ob .LZBOca.ZBaDfe {
  transform: translate(4px, 2px) rotate(45deg);
}

.kpM1s0.H801ob .LZBOca.ZBaDfe,
.kpM1s0.H801ob .r8m7zZ.ZBaDfe {
  background-color: rgba(var(--lineColorOpen, var(--color_15, color_15)), var(--alpha-lineColorOpen, 1));
}

.kpM1s0.H801ob .r8m7zZ.ZBaDfe {
  transform: translate(4px, -1px) rotate(-45deg);
}

.kpM1s0.H801ob .HSYWnj.ZBaDfe {
  background-color: rgba(var(--lineColorOpen, var(--color_15, color_15)), var(--alpha-lineColorOpen, 1));
  transform: scaleX(0);
}

.rG7wwD {
  --display: flex;
  cursor: pointer;
  display: var(--display);
  opacity: 0;
  transition: visibility 0s ease 0.5s, opacity 0.5s ease 0s;
  visibility: hidden;
}

.rG7wwD .tjpQKX {
  height: 100%;
  opacity: var(--icon-opacity, 1);
  width: 100%;
}

.wnbU2e {
  opacity: 1;
  position: relative;
  transition-delay: 0s;
  visibility: visible;
  z-index: var(--above-all-z-index);
}

.a2sxlD>:first-child {
  min-height: var(--custom-element-height);
  width: var(--custom-element-width);
}

.PlZyDq {
  touch-action: manipulation;
}

.VU4Mnk {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  justify-content: var(--label-align);
  min-width: 100%;
  text-align: initial;
  width: max-content;
}

.VU4Mnk::before {
  max-width: var(--margin-start, 0);
}

.VU4Mnk::after,
.VU4Mnk::before {
  align-self: stretch;
  content: "";
  flex-grow: 1;
}

.VU4Mnk::after {
  max-width: var(--margin-end, 0);
}

.UHSxqn {
  --display: grid;
  display: var(--display);
  grid-template-columns: minmax(0px, 1fr);
}

.UHSxqn .VU4Mnk {
  border-radius: var(--corvid-border-radius, var(--rd, 0));
  box-shadow: var(--shd, 0 1px 4px rgba(0, 0, 0, .6));
  padding-bottom: var(--verticalPadding, 0);
  padding-left: var(--horizontalPadding, 0);
  padding-right: var(--horizontalPadding, 0);
  padding-top: var(--verticalPadding, 0);
  position: relative;
  transition: var(--trans1, border-color .4s ease 0s, background-color .4s ease 0s);
  width: auto;
}

.UHSxqn .VU4Mnk::before {
  flex-shrink: 0;
  width: var(--margin-start, 0);
}

.UHSxqn .VU4Mnk::after {
  flex-shrink: 0;
  width: var(--margin-end, 0);
}

.UHSxqn .w4Vxx6 {
  color: var(--corvid-color, rgb(var(--txt, var(--color_15, color_15))));
  font: var(--fnt, var(--font_5));
  position: relative;
  transition: var(--trans2, color .4s ease 0s);
}

.UHSxqn[aria-disabled="false"] .VU4Mnk {
  background-color: var(--corvid-background-color, rgba(var(--bg, var(--color_17, color_17)), var(--alpha-bg, 1)));
  border: solid var(--corvid-border-color, rgba(var(--brd, var(--color_15, color_15)), var(--alpha-brd, 1))) var(--corvid-border-width, var(--brw, 0));
}

:host(.device-mobile-optimized) .UHSxqn[aria-disabled="false"]:active .VU4Mnk,
body.device-mobile-optimized .UHSxqn[aria-disabled="false"]:active .VU4Mnk,
:host(:not(.device-mobile-optimized)) .UHSxqn[aria-disabled="false"]:hover .VU4Mnk,
body:not(.device-mobile-optimized) .UHSxqn[aria-disabled="false"]:hover .VU4Mnk {
  background-color: var(--corvid-hover-background-color, rgba(var(--bgh, var(--color_18, color_18)), var(--alpha-bgh, 1)));
  border-color: var(--corvid-hover-border-color, rgba(var(--brdh, var(--color_15, color_15)), var(--alpha-brdh, 1)));
}

:host(.device-mobile-optimized) .UHSxqn[aria-disabled="false"]:active .w4Vxx6,
body.device-mobile-optimized .UHSxqn[aria-disabled="false"]:active .w4Vxx6,
:host(:not(.device-mobile-optimized)) .UHSxqn[aria-disabled="false"]:hover .w4Vxx6,
body:not(.device-mobile-optimized) .UHSxqn[aria-disabled="false"]:hover .w4Vxx6 {
  color: var(--corvid-hover-color, rgb(var(--txth, var(--color_15, color_15))));
}

.UHSxqn[aria-disabled="true"] .VU4Mnk {
  background-color: var(--corvid-disabled-background-color, rgba(var(--bgd, 204, 204, 204), var(--alpha-bgd, 1)));
  border-color: var(--corvid-disabled-border-color, rgba(var(--brdd, 204, 204, 204), var(--alpha-brdd, 1)));
}

.UHSxqn[aria-disabled="true"] .w4Vxx6 {
  color: var(--corvid-disabled-color, rgb(var(--txtd, 255, 255, 255)));
}

.UHSxqn .w4Vxx6 {
  text-align: var(--label-text-align);
}

.jk5WNT {
  direction: var(--btn-direction);
}

.ZZ6eh7 {
  --display: flex;
  align-items: var(--container-align-items);
  box-sizing: border-box;
  cursor: pointer;
  display: var(--display);
  flex-basis: auto;
  flex-direction: var(--container-flex-direction);
  justify-content: var(--container-justify-content);
  min-height: 10px;
  min-width: var(--btn-min-width);
  outline: none;
  touch-action: manipulation;
}

.ZZ6eh7._4J95Tz,
.ZZ6eh7:hover {
  transition-duration: 0.4s;
  transition-property: border-left, border-inline-start, border-right, border-inline-end, border-top, border-bottom, border-color, border-start-start-radius, border-start-end-radius, border-end-start-radius, border-end-end-radius, border-top-left-radius, border-top-right-radius, border-bottom-left-radius, border-bottom-right-radius, background, background-color, box-shadow, padding-left, padding-inline-start, padding-right, padding-inline-end, padding-top, padding-bottom, color, fill, width, height, transform, letter-spacing, line-height, text-decoration-line, text-align, text-transform, text-shadow;
  transition-timing-function: ease;
}

.ZZ6eh7:disabled {
  cursor: not-allowed;
}

.ZZ6eh7.y0ZLPJ {
  height: max-content;
  min-width: max-content;
}

.ZZ6eh7.y0ZLPJ.s8GR0i {
  min-width: 10px;
}

.ZZ6eh7.s8GR0i,
.ZZ6eh7.s8GR0i .xc2xuF {
  white-space: pre-line;
}
