[id^="comp-mcfzswlv_r_comp-mcfy7ink__"] {
  --brw: 0px;
  --brd: var(--color_11);
  --bg: 255, 255, 255;
  --rd: 0px;
  --shd: none;
  --gradient: none;
  --alpha-brd: 0;
  --alpha-bg: 0;
  --boxShadowToggleOn-shd: none;
  --static-spx: 1px;
  --bg-gradient: none;
}

[id^="comp-mcfzswlv_r_comp-mcfy7inl10__"] {
  height: auto;
  width: auto;
  --l_display: unset;
  --comp-display: unset;
  display: var(--l_display, var(--display, block));
  place-self: center stretch;
  pointer-events: auto;
  margin: 3.125vw 6.6vw 3vw 0vw;
  grid-area: 1 / 1 / 2 / 2;
  position: relative;
}

[id^="comp-mcfzswlv_r_comp-mcfy7inl10__"] {
  --backgroundColor: 0, 0, 0;
  --alpha-backgroundColor: 0;
  --blendMode: normal;
  --textShadow: 0px 0px transparent;
  --textOutline: 0px 0px transparent;
  --minFontSize: 12px;
  --textDecoration: none;
  --maxFontSize: 500px;
  --color: 0, 0, 0;
  --alpha-color: 1;
  --textAlign: left;
  --fontFamily: wfont_343a2a_5b4cd32fc19d46e1b8c1b142abb27d39, wf_5b4cd32fc19d46e1b8c1b142a, orig_stk_miso_regular;
  --letterSpacing: 0em;
  --lineHeight: 1.07em;
  --fontSize: 24spx;
  --fontWeight: 400;
  --static-spx: 0.1 * var(--one-unit);
}

[id^="comp-mcfzswlv_r_comp-mcfy7int3__"] {
  height: auto;
  --aspect-ratio: 1;
  width: 1.5625vw;
  --l_display: unset;
  aspect-ratio: 1/var(--aspect-ratio);
  --comp-display: unset;
  display: var(--l_display, var(--display, block));
  place-self: center end;
  pointer-events: auto;
  margin: 0.40625px 2vw 0px 0%;
  grid-area: 1 / 1 / 2 / 2;
  position: relative;
}

[id^="comp-mcfzswlv_r_comp-mcfy7io17__"] {
  min-height: 0px;
  --l_display: unset;
  height: auto;
  width: auto;
  --comp-display: unset;
  display: var(--l_display, var(--display, block));
  place-self: stretch;
  pointer-events: auto;
  margin: 0px;
  grid-area: 1 / 1 / 2 / 2;
  position: relative;
}

[id^="comp-mcfzswlv_r_comp-mcfy7iob__"] {
  min-height: 0px;
  --l_display: unset;
  height: auto;
  min-width: 0px;
  width: auto;
  --comp-display: unset;
  box-sizing: border-box;
  padding: 0px 7vw 3.1vw 0vw;
  display: var(--l_display, var(--container-display));
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  --container-layout-type: grid-container-layout;
  --container-display: grid;
  place-self: start stretch;
  pointer-events: auto;
  margin: 0px;
  grid-area: 2 / 1 / 3 / 2;
  position: relative;
}

[id^="comp-mcfzswlv_r_comp-mcfy7iob__"] {
  --brw: 0px;
  --brd: var(--color_11);
  --bg: var(--color_11);
  --rd: 0px;
  --shd: none;
  --gradient: none;
  --alpha-brd: 0;
  --alpha-bg: 0;
  --boxShadowToggleOn-shd: none;
  --static-spx: 1px;
  --bg-gradient: none;
}

[id^="comp-mcfzswlv_r_comp-mcfy7iod2__"] {
  height: auto;
  width: auto;
  --l_display: unset;
  --comp-display: unset;
  display: var(--l_display, var(--display, block));
  place-self: start stretch;
  pointer-events: auto;
  margin: 0px 0px 0px 0vw;
  grid-area: 1 / 1 / 2 / 2;
  position: relative;
}

[id^="comp-mcfzswlv_r_comp-mcfy7iod2__"] {
  --backgroundColor: 0, 0, 0;
  --alpha-backgroundColor: 0;
  --blendMode: normal;
  --textShadow: 0px 0px transparent;
  --textOutline: 0px 0px transparent;
  --minFontSize: 12px;
  --maxFontSize: 500px;
  --color: 0, 0, 0;
  --alpha-color: 1;
  --textAlign: left;
  --fontFamily: wix-madefor-text-v2, sans-serif;
  --letterSpacing: 0em;
  --lineHeight: 1.3em;
  --fontSize: 18spx;
  --fontWeight: 400;
  --static-spx: 0.1 * var(--one-unit);
}

[id^="comp-mcfzswlv_r_comp-mcfy7ioe5__"] {
  width: calc(100% + 6px);
  height: 5px;
  --l_display: unset;
  --comp-display: unset;
  display: var(--l_display, var(--display, block));
  place-self: start center;
  pointer-events: auto;
  margin: 0px;
  grid-area: 1 / 1 / 2 / 2;
  position: relative;
}

[id^="comp-mcfzswlv_r_comp-mcfy7ioe5__"] {
  --lnw: 1px;
  --brd: 209, 209, 209;
  --alpha-brd: 1;
  --static-spx: 0.1 * var(--one-unit);
}

#comp-mcfzswlv_r_comp-mcfy89y0 {
  width: 100%;
  height: 5px;
  --l_display: unset;
  --comp-display: unset;
  display: var(--l_display, var(--display, block));
  place-self: end start;
  pointer-events: auto;
  margin: 0%;
  grid-area: 1 / 1 / 2 / 2;
  position: relative;
}

#comp-mcfzswlv_r_comp-mcfy89y0 {
  --lnw: 1px;
  --brd: 179, 179, 179;
  --alpha-brd: 1;
  --static-spx: 1px;
}

#comp-mcfzswlv_r_comp-mcfy89y0 {
  opacity: 1;
  --comp-opacity: 1;
  transform: translateX(0px) translateY(0px) scaleX(1) scaleY(1) rotate(180deg) skewX(0deg) skewY(0deg);
  --comp-rotate-z: 180deg;
}

#comp-mknu6y0a {
  min-height: 0px;
  --comp-display: flex;
  --l_display: unset;
  height: auto;
  min-width: 0px;
  max-width: 99999px;
  max-height: 99999px;
  --section-max-width: 99999999999px;
  display: var(--l_display, var(--comp-display, flex));
  flex-direction: column;
  place-self: stretch;
  position: relative;
  --force-auto: auto;
  top: var(--force-auto, calc(0px));
  bottom: var(--force-auto, );
  left: var(--force-auto, );
  right: var(--force-auto, );
  pointer-events: auto;
  margin: 0px;
  grid-area: 12 / 1 / 13 / 2;
}

#comp-mknu6y0a .comp-mknu6y0a-container {
  box-sizing: border-box;
  position: relative;
  pointer-events: none;
  padding: 9.1vw 0vw;
  gap: 0px;
  max-width: 1e+11px;
  margin-left: clamp(0px, (100% - 99999999999px) / 2, 100 * var(--one-unit));
  --section-max-width: 99999999999px;
  flex-grow: 1;
  display: var(--l_display, var(--container-display));
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
  --container-layout-type: grid-container-layout;
  --container-display: grid;
}

#comp-mknu6y0h {
  width: 18.125%;
  height: 1px;
  --l_display: unset;
  --comp-display: unset;
  display: var(--l_display, var(--display, block));
  place-self: start center;
  pointer-events: auto;
  margin: 0px 0px 0%;
  grid-area: 1 / 1 / 2 / 2;
  position: relative;
}

#comp-mknu6y0h {
  --brd: var(--color_15);
  --lnw: 1px;
  --alpha-brd: 0;
  --static-spx: 0.1 * var(--one-unit);
}

#comp-mknu6y0j7 {
  min-height: 0px;
  height: auto;
  min-width: 0px;
  width: max-content;
  max-width: 99999px;
  max-height: 99999px;
  --comp-display: unset;
  place-self: end start;
  pointer-events: auto;
  margin: 0px 0px -35vw -25.9993vw;
  z-index: unset;
  grid-area: 1 / 1 / 2 / 2;
  position: relative;
}

.comp-mknu6y0j7-container {
  box-sizing: border-box;
  gap: 0px;
  display: var(--l_display, var(--container-display));
  grid-template-rows: auto;
  grid-template-columns: minmax(0px, 1020.3fr);
  --container-layout-type: grid-container-layout;
  --container-display: grid;
}

#comp-mknu6y0j7,
#comp-mknu6y0q12 {
  opacity: 0;
  --comp-opacity: 0;
  transform: translateX(0px) translateY(0px) scaleX(1) scaleY(1) rotate(0deg) skewX(0deg) skewY(0deg);
  --comp-rotate-z: 0deg;
}

#comp-mknu6y0n2,
#comp-mknu6y0o11 {
  min-height: 0px;
  --l_display: unset;
  height: 52.1vw;
  min-width: 0px;
  width: 52.1vw;
  max-width: 99999px;
  max-height: 99999px;
  --comp-display: unset;
  place-self: start center;
  pointer-events: auto;
  margin-left: max(0.5px, 0.0000013 * (var(--scaling-factor) - var(--scrollbar-width)));
  margin-right: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  grid-area: 1 / 1 / 2 / 2;
  position: relative;
}

.comp-mknu6y0n2-container,
.comp-mknu6y0o11-container,
.comp-mknu6y0p11-container,
.comp-mknu6y0q-container {
  box-sizing: border-box;
  display: var(--l_display, var(--container-display));
  grid-template-rows: minmax(max(0.5px, 0.5209964 * (var(--scaling-factor) - var(--scrollbar-width))), auto);
  grid-template-columns: minmax(0px, 1000.31fr);
  --container-layout-type: grid-container-layout;
  --container-display: grid;
}

#comp-mknu6y0n2,
#comp-mknu6y0o11,
#comp-mknu6y0p11,
#comp-mknu6y0q {
  --brw: 0px;
  --brd: var(--color_13);
  --bg: var(--color_12);
  --rd: max(0.5px, 0.5203125 * (var(--scaling-factor) - var(--scrollbar-width))) max(0.5px, 0.5203125 * (var(--scaling-factor) - var(--scrollbar-width))) max(0.5px, 0.5203125 * (var(--scaling-factor) - var(--scrollbar-width))) max(0.5px, 0.5203125 * (var(--scaling-factor) - var(--scrollbar-width)));
  --shd: none;
  --gradient: none;
  --alpha-brd: 1;
  --alpha-bg: 1;
  --boxShadowToggleOn-shd: none;
  --static-spx: 0.1 * var(--one-unit);
  --bg-gradient: none;
}

#comp-mknu6y0p11,
#comp-mknu6y0q {
  min-height: 0px;
  --l_display: unset;
  height: 52.1vw;
  min-width: 0px;
  width: 52.1vw;
  max-width: 99999px;
  max-height: 99999px;
  --comp-display: unset;
  place-self: start center;
  pointer-events: auto;
  margin: 0px;
  grid-area: 1 / 1 / 2 / 2;
  position: relative;
}

#comp-mknu6y0q12 {
  min-height: 0px;
  --l_display: unset;
  height: auto;
  min-width: 0px;
  width: 26.0417vw;
  max-width: 99999px;
  max-height: 99999px;
  --comp-display: unset;
  place-self: start center;
  pointer-events: auto;
  margin: 0px;
  grid-area: 1 / 1 / 2 / 2;
  position: relative;
}

.comp-mknu6y0q12-container {
  box-sizing: border-box;
  padding: 0px;
  row-gap: 1.97917vw;
  display: var(--l_display, var(--container-display));
  grid-template-rows: max-content max-content;
  grid-template-columns: 1fr;
  --container-layout-type: grid-container-layout;
  --container-display: grid;
}

#comp-mknu6y0q12 {
  --brw: 0px;
  --brd: var(--color_13);
  --bg: 255, 249, 235;
  --rd: max(0.5px, 0.0104167 * (var(--scaling-factor) - var(--scrollbar-width))) max(0.5px, 0.0104167 * (var(--scaling-factor) - var(--scrollbar-width))) max(0.5px, 0.0104167 * (var(--scaling-factor) - var(--scrollbar-width))) max(0.5px, 0.0104167 * (var(--scaling-factor) - var(--scrollbar-width)));
  --shd: none;
  --gradient: none;
  --alpha-brd: 1;
  --alpha-bg: 0;
  --boxShadowToggleOn-shd: none;
  --static-spx: 0.1 * var(--one-unit);
  --bg-gradient: none;
}

#comp-mknu6y0w3 {
  min-height: 0px;
  --l_display: unset;
  height: 100%;
  min-width: 0px;
  width: 100%;
  max-width: 99999px;
  max-height: 99999px;
  --comp-display: unset;
  place-self: start;
  pointer-events: auto;
  margin: 0px;
  grid-area: 1 / 1 / 3 / 2;
  position: relative;
}

.comp-mknu6y0w3-container {
  box-sizing: border-box;
  display: var(--l_display, var(--container-display));
  grid-template-rows: minmax(max(0.5px, 0.2573891 * (var(--scaling-factor) - var(--scrollbar-width))), auto);
  grid-template-columns: minmax(0px, 500fr);
  --container-layout-type: grid-container-layout;
  --container-display: grid;
}

#comp-mknu6y0w3 {
  --brw: 0px;
  --brd: var(--color_13);
  --bg: 255, 249, 235;
  --rd: max(0.5px, 0.0052083 * (var(--scaling-factor) - var(--scrollbar-width))) max(0.5px, 0.0052083 * (var(--scaling-factor) - var(--scrollbar-width))) max(0.5px, 0.0052083 * (var(--scaling-factor) - var(--scrollbar-width))) max(0.5px, 0.0052083 * (var(--scaling-factor) - var(--scrollbar-width)));
  --shd: none;
  --gradient: none;
  --alpha-brd: 1;
  --alpha-bg: 1;
  --boxShadowToggleOn-shd: none;
  --static-spx: 0.1 * var(--one-unit);
  --bg-gradient: none;
}

#comp-mknu6y0x {
  --l_display: unset;
  height: auto;
  min-width: 0px;
  width: 19.3229vw;
  max-width: 99999px;
  --comp-display: unset;
  display: var(--l_display, var(--display, block));
  place-self: start center;
  pointer-events: auto;
  margin: 7.03125vw 0px 0px;
  grid-area: 1 / 1 / 2 / 2;
  position: relative;
}

#comp-mknu6y0x {
  --backgroundColor: 0, 0, 0;
  --alpha-backgroundColor: 0;
  --blendMode: normal;
  --textShadow: 0px 0px transparent;
  --textOutline: 0px 0px transparent;
  --minFontSize: 12px;
  --textDecoration: none;
  --color: 15, 15, 15;
  --alpha-color: 1;
  --textAlign: center;
  --fontSize: 64spx;
  --static-spx: 0.1 * var(--one-unit);
}

#comp-mknu6y0x17 {
  min-height: 0px;
  --l_display: unset;
  height: auto;
  min-width: 0px;
  width: max-content;
  max-width: 99999px;
  max-height: 99999px;
  --comp-display: unset;
  place-self: start center;
  pointer-events: auto;
  margin-left: 0px;
  margin-right: max(0.5px, 0.0002766 * (var(--scaling-factor) - var(--scrollbar-width)));
  margin-top: 0px;
  margin-bottom: 7.1875vw;
  grid-area: 2 / 1 / 3 / 2;
  position: relative;
}

.comp-mknu6y0x17-container {
  box-sizing: border-box;
  gap: 0px;
  display: var(--l_display, var(--container-display));
  grid-template-rows: minmax(max(0.5px, 0.025 * (var(--scaling-factor) - var(--scrollbar-width))), auto);
  grid-template-columns: minmax(0px, 180.25fr);
  --container-layout-type: grid-container-layout;
  --container-display: grid;
}

#comp-mknu6y0y9 {
  min-height: 52px;
  --l_display: unset;
  height: 3.54167vw;
  min-width: 0px;
  width: 100%;
  max-width: 99999px;
  max-height: 99999px;
  --comp-display: unset;
  place-self: start;
  pointer-events: auto;
  margin-top: max(0.5px, 0.0002604 * (var(--scaling-factor) - var(--scrollbar-width)));
  margin-left: max(0.5px, 0.0002604 * (var(--scaling-factor) - var(--scrollbar-width)));
  margin-bottom: min(-0.5px, -0.0002604 * (var(--scaling-factor) - var(--scrollbar-width)));
  margin-right: 0px;
  grid-area: 1 / 1 / 2 / 2;
  position: relative;
}

#comp-mknu6y0y9 {
  --font: normal normal 600 18px/1.4em wix-madefor-text-v2, sans-serif;
  --color: rgba(255, 255, 255, 1);
  --label-display: initial;
  --letter-spacing: 0em;
  --line-height: unset;
  --text-decoration: none;
  --direction: rtl;
  --text-align: center;
  --text-highlight: none;
  --text-transform: none;
  --text-outline: 1px 0px transparent, -1px 0px transparent, 0px 1px transparent, 0px -1px transparent;
  --text-shadow: 0px 0px 0px transparent;
  --background: rgba(15, 15, 15, 1);
  --border-left: 0px solid rgba(216, 114, 60, 1);
  --border-right: 0px solid rgba(216, 114, 60, 1);
  --border-top: 0px solid rgba(216, 114, 60, 1);
  --border-bottom: 0px solid rgba(216, 114, 60, 1);
  --padding-bottom: 0px;
  --padding-top: 0px;
  --padding-left: 32px;
  --padding-right: 16px;
  --border-top-left-radius: 300px;
  --border-top-right-radius: 300px;
  --border-bottom-left-radius: 300px;
  --border-bottom-right-radius: 300px;
  --icon-display: initial;
  --icon-size: 38px;
  --icon-color: rgba(0, 0, 0, 1);
  --icon-rotation: 0;
  --container-flex-direction: row;
  --container-justify-content: center;
  --container-align-items: center;
  --content-horizontal-alignment: center;
  --content-gap: 16px;
  --label-overflow: wrap;
  --disabled-icon-rotation: 0;
  --disabled-border-bottom: 1px solid rgba(199, 199, 199, 1);
  --disabled-border-top: 1px solid rgba(199, 199, 199, 1);
  --hover-icon-color: rgba(0, 0, 0, 1);
  --disabled-background: rgba(199, 199, 199, 1);
  --disabled-border-right: 1px solid rgba(199, 199, 199, 1);
  --disabled-color: #000000;
  --disabled-border-left: 1px solid rgba(199, 199, 199, 1);
  --static-spx: 0.1 * var(--one-unit);
}

#comp-mok06b5e {
  height: auto;
  width: auto;
  --comp-display: unset;
  place-self: start end;
  pointer-events: auto;
  margin-top: 0px;
  margin-right: 0px;
  grid-area: 1 / 1 / 2 / 2;
  position: relative;
}

#comp-mok06rba {
  height: auto;
  width: auto;
  --comp-display: unset;
  place-self: stretch;
  pointer-events: auto;
  grid-area: 13 / 1 / 14 / 2;
  position: relative;
}

#comp-mok06rba_r_comp-mok06arf {
  min-height: 0px;
  height: auto;
  min-width: 0px;
  max-width: 99999px;
  max-height: 99999px;
  --section-max-width: 99999999999px;
  --comp-display: unset;
  place-self: stretch;
  pointer-events: auto;
  grid-area: 1 / 1 / 2 / 2;
  position: relative;
}

#comp-mok06rba_r_comp-mok06arf .comp-mok06rba_r_comp-mok06arf-container {
  box-sizing: border-box;
  position: relative;
  pointer-events: none;
  max-width: 1e+11px;
  margin-left: clamp(0px, (100% - 99999999999px) / 2, 100 * var(--one-unit));
  --section-max-width: 99999999999px;
  display: var(--l_display, var(--container-display));
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
  --container-layout-type: grid-container-layout;
  --container-display: grid;
}

[id^="comp-mm3lkuoh_r_comp-mlzaglw1__"] .comp-mm3lkuoh_r_comp-mlzaglw1-styleId__root {
  -st-extends: StylableButton;
  transition: all 0.2s ease, visibility 0s;
  box-shadow: 1.5px 3.71px 9px rgba(19, 25, 70, 0);
  padding-left: 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  border-radius: 999px;
  background: #FFFFFF;
}

[id^="comp-mm3lkuoh_r_comp-mlzaglw1__"] .comp-mm3lkuoh_r_comp-mlzaglw1-styleId__root:hover,
[id^="comp-mm3lkuoh_r_comp-mlzaglw1__"] .comp-mm3lkuoh_r_comp-mlzaglw1-styleId__root:disabled {
  background: #FFFFFF;
}

[id^="comp-mm3lkuoh_r_comp-mlzaglw1__"] .comp-mm3lkuoh_r_comp-mlzaglw1-styleId__root:hover .StylableButton2545352419__icon,
[id^="comp-mm3lkuoh_r_comp-mlzb16cg5__"] .comp-mm3lkuoh_r_comp-mlzb16cg5-styleId__root:hover .StylableButton2545352419__icon,
#comp-mm3lkuoh_r_comp-mlzd5rql .comp-mm3lkuoh_r_comp-mlzd5rql-styleId__root:hover .StylableButton2545352419__icon {
  fill: #232529;
}

[id^="comp-mm3lkuoh_r_comp-mlzaglw1__"] .comp-mm3lkuoh_r_comp-mlzaglw1-styleId__root:disabled .StylableButton2545352419__icon,
[id^="comp-mm3lkuoh_r_comp-mlzb16cg5__"] .comp-mm3lkuoh_r_comp-mlzb16cg5-styleId__root:disabled .StylableButton2545352419__icon,
[id^="comp-mm3lkuoh_r_comp-mlzcjjd0__"] .comp-mm3lkuoh_r_comp-mlzcjjd0-styleId__root:disabled .StylableButton2545352419__icon,
#comp-mm3lkuoh_r_comp-mlzd5rql .comp-mm3lkuoh_r_comp-mlzd5rql-styleId__root:disabled .StylableButton2545352419__icon,
#comp-mm3lkuoh_r_comp-mlze0a4j .comp-mm3lkuoh_r_comp-mlze0a4j-styleId__root:disabled .StylableButton2545352419__icon {
  fill: #6E7075;
}

[id^="comp-mm3lkuoh_r_comp-mlzaglw1__"] .comp-mm3lkuoh_r_comp-mlzaglw1-styleId__root .StylableButton2545352419__label,
[id^="comp-mm3lkuoh_r_comp-mlzb16cg5__"] .comp-mm3lkuoh_r_comp-mlzb16cg5-styleId__root .StylableButton2545352419__label,
[id^="comp-mm3lkuoh_r_comp-mlzcjjd0__"] .comp-mm3lkuoh_r_comp-mlzcjjd0-styleId__root .StylableButton2545352419__label,
#comp-mm3lkuoh_r_comp-mlzd5rql .comp-mm3lkuoh_r_comp-mlzd5rql-styleId__root .StylableButton2545352419__label,
#comp-mm3lkuoh_r_comp-mlze0a4j .comp-mm3lkuoh_r_comp-mlze0a4j-styleId__root .StylableButton2545352419__label,
#comp-mm3lkuoh_r_comp-mlze5cpw .comp-mm3lkuoh_r_comp-mlze5cpw-styleId__root .StylableButton2545352419__label {
  transition: inherit;
  letter-spacing: 0em;
  color: #000000;
  margin: 0px 0px 0px 0px;
  font-family: wix-madefor-text-v2, sans-serif;
  font-size: calc(20 * var(--theme-spx-ratio));
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  display: none;
}

[id^="comp-mm3lkuoh_r_comp-mlzaglw1__"] .comp-mm3lkuoh_r_comp-mlzaglw1-styleId__root .StylableButton2545352419__icon,
[id^="comp-mm3lkuoh_r_comp-mlzb16cg5__"] .comp-mm3lkuoh_r_comp-mlzb16cg5-styleId__root .StylableButton2545352419__icon,
[id^="comp-mm3lkuoh_r_comp-mlzcjjd0__"] .comp-mm3lkuoh_r_comp-mlzcjjd0-styleId__root .StylableButton2545352419__icon {
  transition: inherit;
  margin: 0px 0px 0px 0px;
  display: inherited;
  width: 10px;
  height: 10px;
  fill: #232529;
}

[id^="comp-mm3lkuoh_r_comp-mlzb16cg5__"] .comp-mm3lkuoh_r_comp-mlzb16cg5-styleId__root,
[id^="comp-mm3lkuoh_r_comp-mlzcjjd0__"] .comp-mm3lkuoh_r_comp-mlzcjjd0-styleId__root {
  -st-extends: StylableButton;
  transition: all 0.2s ease, visibility 0s;
  box-shadow: 1.5px 3.71px 9px rgba(19, 25, 70, 0);
  padding-left: 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  border-radius: 999px;
  background: #E8E5E1;
}

[id^="comp-mm3lkuoh_r_comp-mlzb16cg5__"] .comp-mm3lkuoh_r_comp-mlzb16cg5-styleId__root:hover,
[id^="comp-mm3lkuoh_r_comp-mlzcjjd0__"] .comp-mm3lkuoh_r_comp-mlzcjjd0-styleId__root:hover {
  background: #E8E5E1;
}

[id^="comp-mm3lkuoh_r_comp-mlzb16cg5__"] .comp-mm3lkuoh_r_comp-mlzb16cg5-styleId__root:disabled,
[id^="comp-mm3lkuoh_r_comp-mlzcjjd0__"] .comp-mm3lkuoh_r_comp-mlzcjjd0-styleId__root:disabled {
  background: rgb(232, 229, 225);
}

[id^="comp-mm3lkuoh_r_comp-mlzcjjd0__"] .comp-mm3lkuoh_r_comp-mlzcjjd0-styleId__root:hover .StylableButton2545352419__icon,
#comp-mm3lkuoh_r_comp-mlze0a4j .comp-mm3lkuoh_r_comp-mlze0a4j-styleId__root:hover .StylableButton2545352419__icon {
  fill: rgb(35, 37, 41);
}

#comp-mm3lkuoh_r_comp-mlzd5rql .comp-mm3lkuoh_r_comp-mlzd5rql-styleId__root,
#comp-mm3lkuoh_r_comp-mlzdfiub .comp-mm3lkuoh_r_comp-mlzdfiub-styleId__root,
#comp-mm3lkuoh_r_comp-mlze0a4j .comp-mm3lkuoh_r_comp-mlze0a4j-styleId__root {
  -st-extends: StylableButton;
  transition: all 0.2s ease, visibility 0s;
  box-shadow: 1.5px 3.71px 9px rgba(19, 25, 70, 0);
  padding-left: 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  border-radius: 999px;
  background: rgba(245, 243, 240, 0);
}

#comp-mm3lkuoh_r_comp-mlzd5rql .comp-mm3lkuoh_r_comp-mlzd5rql-styleId__root:hover,
#comp-mm3lkuoh_r_comp-mlze0a4j .comp-mm3lkuoh_r_comp-mlze0a4j-styleId__root:hover {
  background: #F0EEEB;
}

#comp-mm3lkuoh_r_comp-mlzd5rql .comp-mm3lkuoh_r_comp-mlzd5rql-styleId__root .StylableButton2545352419__icon {
  transition: inherit;
  margin: 0px 0px 0px 0px;
  width: 16px;
  height: 16px;
  fill: #232529;
  display: initial;
}

#comp-mm3lkuoh_r_comp-mlzdfiub .comp-mm3lkuoh_r_comp-mlzdfiub-styleId__root .StylableButton2545352419__label {
  transition: inherit;
  letter-spacing: 0em;
  margin: 0px 0px 0px 0px;
  font-family: wix-madefor-text-v2, sans-serif;
  font-size: calc(16 * var(--theme-spx-ratio));
  font-weight: normal;
  font-style: normal;
  font-family: wix-madefor-text-v2, sans-serif;
  font-size: 12px;
  color: #232529;
  display: none;
}

#comp-mm3lkuoh_r_comp-mlzdfiub .comp-mm3lkuoh_r_comp-mlzdfiub-styleId__root .StylableButton2545352419__icon {
  transition: inherit;
  margin: 0px 0px 0px 0px;
  fill: #000000;
  display: initial;
  width: 14px;
  height: 14px;
}

#comp-mm3lkuoh_r_comp-mlzdfiub .comp-mm3lkuoh_r_comp-mlzdfiub-styleId__root:hover .StylableButton2545352419__icon {
  fill: rgb(24, 24, 24);
}

#comp-mm3lkuoh_r_comp-mlze0a4j .comp-mm3lkuoh_r_comp-mlze0a4j-styleId__root .StylableButton2545352419__icon {
  transition: inherit;
  margin: 0px 0px 0px 0px;
  display: inherited;
  fill: #232529;
  width: 16px;
  height: 16px;
}

#comp-mm3lkuoh_r_comp-mlze5cpw .comp-mm3lkuoh_r_comp-mlze5cpw-styleId__root {
  -st-extends: StylableButton;
  transition: all 0.2s ease, visibility 0s;
  box-shadow: 1.5px 3.71px 9px rgba(19, 25, 70, 0);
  padding-left: 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  border-radius: 999px;
  background: #FF631F;
}

#comp-mm3lkuoh_r_comp-mlze5cpw .comp-mm3lkuoh_r_comp-mlze5cpw-styleId__root:hover {
  background: #F55200;
}

#comp-mm3lkuoh_r_comp-mlze5cpw .comp-mm3lkuoh_r_comp-mlze5cpw-styleId__root:hover .StylableButton2545352419__icon {
  fill: rgb(255, 255, 255);
}

#comp-mm3lkuoh_r_comp-mlze5cpw .comp-mm3lkuoh_r_comp-mlze5cpw-styleId__root:disabled {
  background: rgb(110, 112, 117);
}

#comp-mm3lkuoh_r_comp-mlze5cpw .comp-mm3lkuoh_r_comp-mlze5cpw-styleId__root:disabled .StylableButton2545352419__icon {
  fill: rgba(255, 255, 255, 0.6);
}

#comp-mm3lkuoh_r_comp-mlze5cpw .comp-mm3lkuoh_r_comp-mlze5cpw-styleId__root .StylableButton2545352419__icon {
  transition: inherit;
  margin: 0px 0px 0px 0px;
  fill: #FFFFFF;
  display: initial;
  width: 16px;
  height: 16px;
}

#comp-mkmenefd.variants-mkmenefi .style-mkmeneg113__root {
  -st-extends: StylableButton;
}

#comp-mkmeneg1 .style-mkmeneg113__root {
  -st-extends: StylableButton;
  transition: all 0.2s ease, visibility 0s;
  background: rgba(0, 0, 0, 0);
  padding: 0px;
  border-radius: 3px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
}

#comp-mkmeneg1 .style-mkmeneg113__root .StylableButton2545352419__container {
  transition: inherit;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

#comp-mkmeneg1 .style-mkmeneg113__root .StylableButton2545352419__label {
  transition: inherit;
  letter-spacing: 0em;
  margin: 0px 0px 0px 4px;
  margin-left: 0px;
  margin-right: 0px;
  font-family: madefor-text-mediumbold, helveticaneuew01-45ligh, helveticaneuew02-45ligh, helveticaneuew10-45ligh, sans-serif;
  color: #000000;
  font-size: 18px;
  display: none;
}

#comp-mkmeneg1 .style-mkmeneg113__root .StylableButton2545352419__icon {
  transition: inherit;
  margin: 0px 4px 0px 0px;
  fill: #EBFFB1;
  width: 22px;
  height: 22px;
  margin-right: 0px;
  margin-left: 0px;
  display: none;
}

[id^="comp-mcfzswlv_r_comp-mcfy7io17__"] .comp-mcfzswlv_r_comp-mcfy7io17-styleId__root:disabled .StylableButton2545352419__icon {
  fill: #000000;
  transform: rotate(0deg);
}

[id^="comp-mcfzswlv_r_comp-mcfy7io17__"] .comp-mcfzswlv_r_comp-mcfy7io17-styleId__root:hover .StylableButton2545352419__icon {
  fill: rgb(24, 24, 24);
  transform: rotate(0deg);
}

[id^="comp-mcfzswlv_r_comp-mcfy7io17__"] .comp-mcfzswlv_r_comp-mcfy7io17-styleId__root {
  -st-extends: StylableButton;
  transition: all 0.2s ease, visibility 0s;
  border-radius: 0px;
  border: 0px solid #FFFFFF;
  padding-right: 40px;
  background: rgba(255, 255, 255, 0);
  padding-left: 36px;
  padding-top: 35px;
  padding-bottom: 35px;
}

[id^="comp-mcfzswlv_r_comp-mcfy7io17__"] .comp-mcfzswlv_r_comp-mcfy7io17-styleId__root:hover,
[id^="comp-mcfzswlv_r_comp-mcfy7io17__"] .comp-mcfzswlv_r_comp-mcfy7io17-styleId__root:disabled {
  background: rgba(255, 255, 255, 0);
}

[id^="comp-mcfzswlv_r_comp-mcfy7io17__"] .comp-mcfzswlv_r_comp-mcfy7io17-styleId__root:disabled .StylableButton2545352419__label,
[id^="comp-mcfzswlv_r_comp-mcfy7io17__"] .comp-mcfzswlv_r_comp-mcfy7io17-styleId__root:hover .StylableButton2545352419__label {
  color: rgba(24, 24, 24, 0);
}

[id^="comp-mcfzswlv_r_comp-mcfy7io17__"] .comp-mcfzswlv_r_comp-mcfy7io17-styleId__root .StylableButton2545352419__container {
  transition: inherit;
  flex-direction: row;
  justify-content: flex-end;
}

[id^="comp-mcfzswlv_r_comp-mcfy7io17__"] .comp-mcfzswlv_r_comp-mcfy7io17-styleId__root .StylableButton2545352419__label {
  transition: inherit;
  margin: 0px 0px 0px 4px;
  letter-spacing: 0em;
  direction: ltr;
  font-family: wix-madefor-text-v2, sans-serif;
  font-size: calc(24 * var(--theme-spx-ratio));
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  font-family: madefor-text-bold, helveticaneuew01-65medi, helveticaneuew02-65medi, helveticaneuew10-65medi, sans-serif;
  line-height: 1.5em;
  text-align: left;
  color: rgba(24, 24, 24, 0);
  display: none;
}

[id^="comp-mcfzswlv_r_comp-mcfy7io17__"] .comp-mcfzswlv_r_comp-mcfy7io17-styleId__root .StylableButton2545352419__icon {
  transition: inherit;
  margin: 0px 4px 0px 0px;
  fill: #000000;
  width: 24px;
  height: 24px;
  display: none;
}

#c1dmp {
  --shc-mutated-brightness: 125, 125, 124;
  justify-self: unset;
}

#comp-kd5px9q0_r_comp-kd5px9hr,
#comp-mok06b5e_r_comp-mok06azq {
  --screen-width: 100vw;
}

#comp-kd5px9q0_r_comp-kd5px9kk,
#comp-mok06b5e_r_comp-mok06b01 {
  height: auto;
  --direction: rtl;
  --item-height: 56px;
  --text-align: center;
  --template-columns: calc(40px + 1em) 1fr calc(40px + 1em);
  --template-areas: ". label arrow";
  --padding-start: 0px;
  --sub-padding-start: 0px;
  --padding-end: 0px;
  --sub-padding-end: 0px;
  --item-depth0-direction: inherit;
  --item-depth1-direction: inherit;
  --item-depth2-direction: inherit;
  --item-depth0-align: inherit;
  --item-depth1-align: inherit;
  --item-depth2-align: inherit;
}

#comp-kd5px9q0_r_comp-kkmqi5tc,
#comp-mok06b5e_r_comp-mok06b0c {
  --undefined: [object Object];
  --fill-opacity: 1;
  --stroke-width: 0;
  --stroke: #ED1566;
  --stroke-opacity: 1;
  --fill: #000000;
}

#comp-m28o2bbb,
#comp-mkkxum1d,
#comp-mknu6y0a {
  --bg-overlay-color: transparent;
  --bg-gradient: none;
  --inherit-transition: var(--transition, none);
}

#comp-mcetq3au,
#comp-moh4nx54,
#comp-mcev53np,
#comp-mkfl1gt6,
#comp-mkjmhxwi,
#comp-mkjminez,
#comp-mkjmirf4,
#comp-mkmcfe8l,
#comp-mkmctjwe,
#comp-mkme55m9,
#comp-mknu6y0n2,
#comp-mknu6y0o11,
#comp-mknu6y0p11,
#comp-mknu6y0q {
  --shc-mutated-brightness: 125, 125, 124;
}

#comp-mebfgy2k,
#comp-mm3lkuoh_r_comp-mm0e8nyd,
#comp-mm3lkuoh_r_comp-mm0eg68d,
#comp-mm3lkuoh_r_comp-mm0ehrbe {
  --custom-element-width: 100%;
  --custom-element-height: 100%;
  display: var(--display);
  --display: flex;
}
