.kb-row-layout-id794_4bfe06-62>.kt-row-column-wrap {
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
  padding-top: var(--global-kb-spacing-3xl, 6.5rem);
  padding-bottom: var(--global-kb-spacing-sm, 1.5rem);
  grid-template-columns: minmax(0, 1fr)
}

@media all and (max-width:767px) {
  .kb-row-layout-id794_4bfe06-62>.kt-row-column-wrap {
    grid-template-columns: minmax(0, 1fr)
  }
}

.kadence-column794_cf3673-66>.kt-inside-inner-col {
  column-gap: var(--global-kb-gap-sm, 1rem)
}

.kadence-column794_cf3673-66>.kt-inside-inner-col {
  flex-direction: column
}

.kadence-column794_cf3673-66>.kt-inside-inner-col>.aligncenter {
  width: 100%
}

@media all and (max-width:1024px) {

}

@media all and (max-width:767px) {
  .kadence-column794_cf3673-66>.kt-inside-inner-col {
    flex-direction: column;
    justify-content: center
  }
}

.wp-block-kadence-spacer.kt-block-spacer-794_c63861-15 .kt-block-spacer {
  height: 87px
}

.wp-block-kadence-spacer.kt-block-spacer-794_c63861-15 .kt-divider {
  width: 70%
}

.kb-row-layout-id794_ee05e4-d4>.kt-row-column-wrap {
  column-gap: var(--global-kb-gap-lg, 4rem);
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
  padding-top: var(--global-kb-spacing-lg, 3rem);
  padding-bottom: 0px;
  grid-template-columns: minmax(0, calc(50% - ((var(--global-kb-gap-lg, 4rem) * 1)/2)))minmax(0, calc(50% - ((var(--global-kb-gap-lg, 4rem) * 1)/2)))
}

@media all and (max-width:1024px) {
  .kb-row-layout-id794_ee05e4-d4>.kt-row-column-wrap {
    grid-template-columns: minmax(0, calc(50% - ((var(--global-kb-gap-lg, 4rem) * 1)/2)))minmax(0, calc(50% - ((var(--global-kb-gap-lg, 4rem) * 1)/2)))
  }
}

@media all and (max-width:767px) {
  .kb-row-layout-id794_ee05e4-d4>.kt-row-column-wrap {
    padding-top: var(--global-kb-spacing-xl, 4rem);
    grid-template-columns: minmax(0, 1fr)
  }

  .kb-row-layout-id794_ee05e4-d4>.kt-row-column-wrap>.wp-block-kadence-column:nth-of-type(1) {
    order: 2
  }

  .kb-row-layout-id794_ee05e4-d4>.kt-row-column-wrap>.wp-block-kadence-column:nth-of-type(2) {
    order: 1
  }

  .kb-row-layout-id794_ee05e4-d4>.kt-row-column-wrap>.wp-block-kadence-column:nth-of-type(3) {
    order: 12
  }

  .kb-row-layout-id794_ee05e4-d4>.kt-row-column-wrap>.wp-block-kadence-column:nth-of-type(4) {
    order: 11
  }

  .kb-row-layout-id794_ee05e4-d4>.kt-row-column-wrap>.wp-block-kadence-column:nth-of-type(5) {
    order: 22
  }

  .kb-row-layout-id794_ee05e4-d4>.kt-row-column-wrap>.wp-block-kadence-column:nth-of-type(6) {
    order: 21
  }

  .kb-row-layout-id794_ee05e4-d4>.kt-row-column-wrap>.wp-block-kadence-column:nth-of-type(7) {
    order: 32
  }

  .kb-row-layout-id794_ee05e4-d4>.kt-row-column-wrap>.wp-block-kadence-column:nth-of-type(8) {
    order: 31
  }
}

.kadence-column794_ec0cca-ce>.kt-inside-inner-col {
  display: flex
}

.kadence-column794_ec0cca-ce>.kt-inside-inner-col {
  row-gap: var(--global-kb-gap-md, 2rem);
  column-gap: var(--global-kb-gap-sm, 1rem)
}

.kadence-column794_ec0cca-ce>.kt-inside-inner-col>.aligncenter {
  width: 100%
}

@media all and (max-width:1024px) {

}

@media all and (max-width:1024px) {

}

@media all and (max-width:1024px) {

}

@media all and (max-width:1024px) {

}

@media all and (max-width:767px) {
  .kt-row-column-wrap>.kadence-column794_ec0cca-ce {
    align-self: center
  }

  .kt-inner-column-height-full:not(.kt-has-1-columns)>.wp-block-kadence-column.kadence-column794_ec0cca-ce {
    align-self: auto
  }

  .kt-inner-column-height-full:not(.kt-has-1-columns)>.wp-block-kadence-column.kadence-column794_ec0cca-ce>.kt-inside-inner-col {
    flex-direction: column;
    justify-content: center
  }

  .kadence-column794_ec0cca-ce>.kt-inside-inner-col {
    flex-direction: column;
    justify-content: center
  }
}

ul.menu .wp-block-kadence-advancedbtn .kb-btn794_3fc390-be.kb-button {
  width: initial
}

.kadence-column794_26e061-53>.kt-inside-inner-col {
  column-gap: var(--global-kb-gap-sm, 1rem)
}

.kadence-column794_26e061-53>.kt-inside-inner-col {
  flex-direction: column
}

.kadence-column794_26e061-53>.kt-inside-inner-col>.aligncenter {
  width: 100%
}

@media all and (max-width:1024px) {

}

@media all and (max-width:767px) {
  .kadence-column794_26e061-53>.kt-inside-inner-col {
    flex-direction: column;
    justify-content: center
  }
}

.kb-image794_d34ecd-6e:not(.kb-image-is-ratio-size) .kb-img,
.kb-image794_d34ecd-6e.kb-image-is-ratio-size {
  padding-top: 10%;
  padding-right: 10%;
  padding-bottom: 10%;
  padding-left: 10%
}

.kb-image794_d34ecd-6e .kb-image-has-overlay:after {
  opacity: 0.3
}

.kadence-column794_2d7d72-fe>.kt-inside-inner-col {
  padding-right: var(--global-kb-spacing-xxl, 5rem);
  padding-left: var(--global-kb-spacing-xxl, 5rem)
}

.kadence-column794_2d7d72-fe>.kt-inside-inner-col {
  column-gap: var(--global-kb-gap-sm, 1rem)
}

.kadence-column794_2d7d72-fe>.kt-inside-inner-col {
  flex-direction: column
}

.kadence-column794_2d7d72-fe>.kt-inside-inner-col>.aligncenter {
  width: 100%
}

@media all and (max-width:1024px) {

}

@media all and (max-width:767px) {
  .kadence-column794_2d7d72-fe>.kt-inside-inner-col {
    flex-direction: column;
    justify-content: center
  }
}

.kadence-column794_cceb9b-07>.kt-inside-inner-col {
  display: flex
}

.kadence-column794_cceb9b-07 {
  max-width: 2000px;
  margin-left: auto;
  margin-right: auto
}

.wp-block-kadence-column.kb-section-dir-horizontal:not(.kb-section-md-dir-vertical)>.kt-inside-inner-col>.kadence-column794_cceb9b-07 {
  -webkit-flex: 0 1 2000px;
  flex: 0 1 2000px;
  max-width: unset;
  margin-left: unset;
  margin-right: unset
}

.kadence-column794_cceb9b-07>.kt-inside-inner-col {
  padding-top: var(--global-kb-spacing-xl, 4rem);
  padding-right: var(--global-kb-spacing-xl, 4rem);
  padding-bottom: var(--global-kb-spacing-xl, 4rem);
  padding-left: var(--global-kb-spacing-xl, 4rem)
}

.kadence-column794_cceb9b-07>.kt-inside-inner-col {
  row-gap: var(--global-kb-gap-none, 0rem);
  column-gap: var(--global-kb-gap-sm, 1rem)
}

.kadence-column794_cceb9b-07>.kt-inside-inner-col>.kb-image-is-ratio-size {
  align-self: stretch
}

.kadence-column794_cceb9b-07>.kt-inside-inner-col>.wp-block-kadence-advancedgallery {
  align-self: stretch
}

.kadence-column794_cceb9b-07>.kt-inside-inner-col>.aligncenter {
  width: 100%
}

.kadence-column794_cceb9b-07 {
  text-align: center
}

@media all and (min-width:1025px) {
  .wp-block-kadence-column.kb-section-dir-horizontal>.kt-inside-inner-col>.kadence-column794_cceb9b-07 {
    -webkit-flex: 0 1 2000px;
    flex: 0 1 2000px;
    max-width: unset;
    margin-left: unset;
    margin-right: unset
  }
}

@media all and (max-width:1024px) {

}

@media all and (max-width:1024px) {

}

@media all and (max-width:1024px) {

}

@media all and (max-width:1024px) {

}

@media all and (max-width:767px) {
  .kt-row-column-wrap>.kadence-column794_cceb9b-07 {
    align-self: center
  }

  .kt-inner-column-height-full:not(.kt-has-1-columns)>.wp-block-kadence-column.kadence-column794_cceb9b-07 {
    align-self: auto
  }

  .kt-inner-column-height-full:not(.kt-has-1-columns)>.wp-block-kadence-column.kadence-column794_cceb9b-07>.kt-inside-inner-col {
    flex-direction: column;
    justify-content: space-around
  }

  .wp-block-kadence-column.kb-section-sm-dir-vertical:not(.kb-section-sm-dir-horizontal):not(.kb-section-sm-dir-specificity)>.kt-inside-inner-col>.kadence-column794_cceb9b-07 {
    max-width: 2000px;
    -webkit-flex: 1;
    flex: 1;
    margin-left: auto;
    margin-right: auto
  }

  .kadence-column794_cceb9b-07>.kt-inside-inner-col {
    flex-direction: column;
    justify-content: space-around;
    align-items: center
  }
}

.wp-block-kadence-advancedheading.kt-adv-heading794_2c8623-b5,
.wp-block-kadence-advancedheading.kt-adv-heading794_2c8623-b5[data-kb-block="kb-adv-heading794_2c8623-b5"] {
  text-align: center;
  font-size: var(--global-kb-font-size-sm, 0.9rem);
  line-height: 2;
  font-weight: 400;
  font-family: Baskervville
}

.wp-block-kadence-advancedheading.kt-adv-heading794_2c8623-b5 mark.kt-highlight,
.wp-block-kadence-advancedheading.kt-adv-heading794_2c8623-b5[data-kb-block="kb-adv-heading794_2c8623-b5"] mark.kt-highlight {
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone
}
